/* Empty. Add your own CSS if you like */
@font-face {
        font-family: "Roboto";
        src: url("Montserrat.ttf");
}
/*@font-face {
        font-family: "Roboto";
        src: url("Roboto-Regular.ttf");
}*/

/*@font-face {
        font-family: "kini";
        src: url("Knigsberg.ttf");
}*/

@font-face {
        font-family: "kini";
        src: url("test.otf");
}

body {
  font-family: "Roboto" !important;
}

/**MEDIA QUERY*/

@media (max-width: 320px) {
  .centrarMenu{
    /*width: 98%;
    margin-left: 0%;*/
  }

  .contenedorBotonesFooter {
    float: left;
    /*margin-right: 4%;*/
    text-align: center;
  }

}

@media  (min-width: 412px) {
  .centrarMenu{
    /*width: 95%;
    margin-left: 4%;*/
  }

  .contenedorBotonesFooter {
    float: left;
    /*margin-right: 7%;*/
    text-align: center;
  }
}

.estrellas-saber-mas{
  margin-top: -5%;
  margin-left: 65%;
}

.texto-estrellas{
  margin-left: 58%;
  font-size: small;
}

 /*css tablet samsung blanca*/
@media (min-width: 768px) and (max-width: 768px){
  .imgPlaceholderLoginPass{
    margin-top: 1% !important; 
  }

  .imgPlaceholderLoginCandado{
    margin-top: 1% !important;
  }

  .infoNuevoHome {
    height: 69px !important;
    padding-top: 5.5% !important;
    margin-top: -3% !important;
    /* width: 28px; */
  }

  /* .img-tablet{
    width: 768px;
  } */

  .txtMenuExperiencia {
    margin-left: 34px !important;
  }

  .modal {
    top: 0% !important;
    left: 0% !important;
    width: 100% !important;
    height: 100% !important;
  }

  .textoEnviarComentarioModificar {
    right: 60px !important;
  }

  .contenedorModalCompartir {
    text-align: center !important;
  }

  .estrellas-saber-mas{
    margin-top: -1%;
    margin-left: 80%;
  }

  .texto-estrellas{
    margin-left: 80%;
    font-size: small;
  }

  .sliderTutorialUno{
    background:url('../img/tutorial/tablet1.jpg') !important;
      /* Center and scale the image nicely */
    background-position: center !important;
    background-repeat: no-repeat !important;
    background-size: cover !important;
  }
  
  .sliderTutorialDos{
    background:url('../img/tutorial/tablet2.jpg') !important;
      /* Center and scale the image nicely */
    background-position: center !important;
    background-repeat: no-repeat !important;
    background-size: cover !important;
  }
  
  .sliderTutorialTres{
    background:url('../img/tutorial/tablet3.jpg') !important;
      /* Center and scale the image nicely */
    background-position: center !important;
    background-repeat: no-repeat !important;
    background-size: cover !important;
  }
  
  .sliderTutorialCuatro{
    background:url('../img/tutorial/tablet4.jpg') !important;
      /* Center and scale the image nicely */
    background-position: center !important;
    background-repeat: no-repeat !important;
    background-size: cover !important;
  }
  
  .sliderTutorialCinco{
    background:url('../img/tutorial/tablet5.jpg') !important;
      /* Center and scale the image nicely */
    background-position: center !important;
    background-repeat: no-repeat !important;
    background-size: cover !important;
  }
  
  .sliderTutorialSeis{
    background:url('../img/tutorial/tablet6.jpg') !important;
      /* Center and scale the image nicely */
    background-position: center !important;
    background-repeat: no-repeat !important;
    background-size: cover !important;
  }
  
  .sliderTutorialSiete{
    background:url('../img/tutorial/tablet7.jpg') !important;
      /* Center and scale the image nicely */
    background-position: center !important;
    background-repeat: no-repeat !important;
    background-size: cover !important;
  }
  
  .sliderTutorialOcho{
    background:url('../img/tutorial/tablet8.jpg') !important;
      /* Center and scale the image nicely */
    background-position: center !important;
    background-repeat: no-repeat !important;
    background-size: cover !important;
  }
  
  .sliderTutorialNueve{
      background:url('../img/tutorial/tablet9.jpg') !important;
      /* Center and scale the image nicely */
    background-position: center !important;
    background-repeat: no-repeat !important;
    background-size: cover !important;
  }

}

@media  (min-width: 768px) {
  .centrarMenu{
    /*width: 100%;
    margin-left: 15%;*/
  }

  .contenedorBotonesFooter {
    float: left;
    /*margin-right: 7%;*/
    text-align: center;
  }
}


.fuenteKini{
  font-family: "Kini" !important;
}

.fuenteRoboto {
  font-family: "Roboto" !important;
}

.textoSlider{
  color: white;
}

.loginBackground{
	/*background: url("../img/mapaComprimido.png") no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;*/
    background: url("../img/fondo.jpg") no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
}

ion-content.contentLogin.scroll-content.ionic-scroll.overflow-scroll {
    display: table !important;
    width: 100% !important;
    height: 100% !important;
}


ion-content.contentLogin.scroll-content.ionic-scroll.overflow-scroll > .scroll {
  display: table-cell;
  vertical-align: middle;
  text-align: center;
}

.scroll-bar-indicator{
	display: none;
}

img.logoLogin {
    /*content:url("../img/logoFic.png");*/
    position: relative;
    margin-top: -10%;
    margin-bottom: 10%;
    width: 80%;
}

img.logoRegistro {
    content:url("../img/logoFic2.png");
    width: 35%;
}

img.logoMenu {
    content:url("../img/logoFic2.png");
    width: 100px;
    margin: 0;
    position: absolute;
    margin-top: 28px;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
}

img.logoFooter {
    content:url("../img/logoFic2.png");
    width: 98px;
    height: 34px;
    position: fixed;
    bottom: 5px;
    left: 50%;
    margin-left: -49px;
}

form.formLogin {
    border: solid 5px;
    border-style: dotted;
    border-color: rgb(58,49,137);
    background-color: rgba(134,116,176,0.65);
    padding-top: 20px;
    padding-bottom: 20px;
    margin-left: 5%;
    margin-right: 5%;
    border-radius: 10px;
    height: 327px;
}

form.formRegistro {
    border: solid 5px;
    border-style: dotted;
    border-color: rgb(58,49,137);
    background-color: rgba(134,116,176,0.65);
    padding-top: 20px;
    padding-bottom: 20px;
    margin-left: 5%;
    margin-right: 5%;
    border-radius: 10px;
    height: 500px;   
    overflow-y : scroll;
}

.inputLogin{
    /*margin-left  : 5%;
    margin-right : 20%;*/
    height: 35px;
    padding: 0px;
    /*padding-left: 5px;*/
    border: 0px;
    margin-bottom: 5px;
    margin-top: 5px;
    margin-left: 10%;
    margin-right: 10%;
}

.inputPopup {
    margin: 5px;
    height: 50px;
    padding: 8px;
    border-radius: 5px;
    border: 0px;
}

button.button.button-positive.btnIngersar {
  margin: 0 auto;
  width: 100%;
  height: 33px !important;
}

/*p.recuperarContrasena {
    text-align: right;
    margin-right: 2.5%;
    margin-top: 2.5%;
    text-decoration: underline;
    color: rgb(58,49,137);
}*/

p.recuperarContrasena {
    text-align: center;
    margin-top: 2.5%;
    text-decoration: underline;
    color: white;
    font-size: 16px;
}

p.textIniciarSesion {
    text-align: left;
    margin-left: 10px;
    font-size: 19px;
}

button.btnRegistrarse {
    position: absolute;
    right: 10px;
    top: -8px;
}

.selectSexo{
    width: 100%;
    padding: 0px;
    border: 0px;
    color: #454849 !important;
    text-align: left;
    font-weight: 800;
    font-size: 14px;
}

/*------------- CARGANDO ATACAMA GO -----------*/

#custom-overlay {
  display: flex;
  flex-direction: column;
  justify-content: center;  
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 100;
  background-color: #ffffff;
}

#custom-overlay img {
    content:url("../img/logoFic.png");
    display: block;
    margin: 0 auto;
    width: 50%;
    height: auto;
    -webkit-animation: rotating-function 5.25s linear infinite;
    -moz-animation: rotating-function 5.25s linear infinite;
    -ms-animation: rotating-function 5.25s linear infinite;
    -o-animation: rotating-function 5.25s linear infinite;
    animation: rotating-function 5.25s linear infinite;
}

.custom-overlay  {

}

@-webkit-keyframes rotating-function {
  from {
    -webkit-transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
  }
}

@-moz-keyframes rotating-function {
  from {
    -moz-transform: rotate(0deg);
  }
  to {
    -moz-transform: rotate(360deg);
  }
}

@-ms-keyframes rotating-function {
  from {
    -ms-transform: rotate(0deg);
  }
  to {
    -ms-transform: rotate(360deg);
  }
}

@-o-keyframes rotating-function {
  from {
    -o-transform: rotate(0deg);
  }
  to {
    -o-transform: rotate(360deg);
  }
}

@keyframes rotating-function {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/*------------- CARGANDO ATACAMA GO -----------*/

.loader{
    margin: 0 0 2em;
    height: 100px;
    width: 20%;
    text-align: center;
    /* padding: 1em; */
    margin: 0 auto;
    /* display: inline-block; */
    vertical-align: middle;
    top: 50%;
    position: relative;
    z-index: 1;
}

/*
  Set the color of the icon
*/
svg path,
svg rect{
  fill: rgb(58,49,137);
}


img.imgCargando {
    content:url("../img/logoFic.png") ;
    width: 80%;
}

#containerLoading2{
    position: absolute;
    margin: auto;
    top: 0px;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 1;
    width: 100%;
    height: 100%;
    background: rgba(207, 198, 211, 1);
}
#containerLoading{
    position: absolute;
    margin: auto;
    top: 0px;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 1;
    width: 100%;
    height: 100%;
    background: rgba(207, 198, 211, 0.6);
}

.fadeOut {
  visibility: hidden;
  opacity: 0;
  transition: visibility 0s 1s, opacity 1s linear;
}

.fadeIn {
  visibility: visible;
  opacity: 1;
  transition: opacity 1s linear;
}

/*---- ESTILO DATEPICKER-----*/
ion-header-bar.header.bar.bar-header {
    background: #8674B0 !important;
}

.ionic_datepicker_modal .month_select, .ionic_datepicker_modal .year_select {
    border: none;
    border-bottom: 1px solid #8674B0 !important;
    padding: 0;
}



.ionic_datepicker_modal .selected_date {
    background-color: #343594 !important;
    color: #fff;
    font-weight: bold;
}

.ionic_datepicker_modal .header, .ionic_datepicker_modal .footer {
    background-color: #343594 !important;
}

.ionic_datepicker_modal .month_select:after, .ionic_datepicker_modal .year_select:after {
    right: 5px;
    color: #343594 !important;
}

.ionic_datepicker_modal .today {
    border: #343594 !important;
}
/*---- ESTILO DATEPICKER-----*/

.bar.bar-assertiveAtacama {
    border-color: #343594;
    background-color: #343594;
    background-image: linear-gradient(0deg, #8674B0, #8674B0 50%, transparent 50%);
    color: #fff;

}



ion-header-bar.bar.bar-header.bar-assertiveAtacama > h1.title.ng-binding.title-left {
    color: white;
    text-align: center;
}

.btn-morado{
  background-color: #8674B0;
  color: white;
}

.iconoMenu{
  position: absolute;
  left: 20px;
  font-size: 20px;
}

.modalMisDatos{
    position: fixed;
    min-height: 80%;
    width: 80%;
    left: 10%;
    top: 4%;
    border: solid 5px;
    border-style: dotted;
    border-color: rgb(58,49,137);
    background-color: rgba(134,116,176,0.85);
    padding-top: 20px;
    border-radius: 10px;
    margin-top: 35px;
}

.modalMenuAcciones{
    position: fixed;
    min-height: 385px;
    width: 80%;
    left: 10%;
    top: 4%;
    border: solid 5px;
    border-style: dotted;
    border-color: rgb(58,49,137);
    background-color: rgba(134,116,176,0.85);
    padding-top: 20px;
    border-radius: 10px;
    margin-top: 35px;
}

.modalMenuAccionesModificar{
    position: fixed;
    min-height: 385px;
    width: 80%;
    left: 10%;
    top: 4%;
    border: solid 5px;
    border-style: dotted;
    border-color: rgb(58,49,137);
    background-color: rgba(134,116,176,0.85);
    padding-top: 20px;
    border-radius: 10px;
    margin-top: 35px;
}

.modalCrearMarcador{
    position: fixed;
    min-height: 65px;
    width: 80%;
    left: 10%;
    top: 4%;
    border: solid 5px;
    border-style: dotted;
    border-color: rgb(58,49,137);
    background-color: rgba(134,116,176,0.85);
    padding-top: 20px;
    border-radius: 10px;
    margin-top: 35px;
}

.tituloMisDatos{
  background: none !important;
  border: 0px !important;
}

.iconoMisDatos{
  margin-top: 5px;
  margin-left: 5px;
  font-size: 24px;
  color: black;
}

.iconoBotonMisDatos{
  font-size: 40px;
}

.botonMisDatos{
  margin-top: 0px !important;
  margin-bottom: 0px !important;
  background: none !important;
  height: 40px !important;
  min-height: 20px !important;
  color: black !important;
}

.botonMisDatos:focus{
  margin:none;  
}

.fotoPerfilMisDatos{
  content:url("../img/perfil.jpg");
  margin-left: 15px;
  width: 40%;
  border-radius: 50%;
}

.fotoPerfilMisDatos2{
  /*display: block;
  margin-left: auto;
  margin-right: auto;
  width: 130px;
  margin-top: 13px;*/
  display: block;
  margin-left: auto;
  margin-right: auto;
  object-fit: cover;
  border-radius:50%;
  margin-top: 13px;
  width: 150px;
  height: 150px;
}

.iconoEditarMisDatos{
  position: absolute;
    /* width: 80%; */
    left: 70%;
    top: 80%;
    font-size: 24px;
}

.checkboxConfiguracion{
  background: #8071B1;
  padding-top: 10px;
  padding-bottom: 10px;
  margin-bottom: -19px;
  color: white;
  border-bottom: 1px;
  border-style: solid;
}

.checkboxConfiguracion:checked{
  background: black;
}

table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}

tr:nth-child(even) {
    background-color: #dddddd;
}

tr:nth-child(odd) {
    background-color: white;
}

.bar.bar-stable {
    border-color: #333594;
    background-color: #333594;
    color: white;
}

.iconHeader{
  top: 0;
  font-size: 30px;
  display: block;
  margin: auto;
  width: 30px;
}

.misRutas{
  content:url("../img/svg/misRutas.svg");
  width: 30px;
  height: 30px;
  margin-top: 2px;
}

.misRutasNueva{
  content:url("../img/misRutas.png");
  width: 30px;
  height: 30px;
  margin-top: 2px;
}

.rutasTuristicasNueva{
  content:url("../img/rutasTuristicas.png");
  width: 30px;
  height: 30px;
  margin-top: 2px;
}


.misRutasBoton{
  content:url("../img/svg/sinNombre.svg");
  width: 30px;
  margin-top: 5px;
}

.misRutasBotonNueva{
  content:url("../img/sinNombre.png");
  width: 30px;
  height: 30px;
  margin-top: 2px;
}

.rutasTipicas{
  content:url("../img/svg/rutasTipicas.svg");
  width: 30px;
  height: 30px;
  margin-top: 2px;
}

.rutasTipicasNueva{
  content:url("../img/rutasTipicas.png");
  width: 30px;
  height: 30px;
  margin-top: 2px;
}

.rutasCompartidas{
  content:url("../img/rutasCompartidas.png");
  width: 30px;
  height: 30px;
  margin-top: 2px;
}

.rutasCompartidasNueva{
  content:url("../img/rutasCompartidas.png");
  width: 30px;
  height: 30px;
  margin-top: 2px;
}

.sinNombre{
  content:url("../img/svg/sinNombre.svg");
  width: 30px;
  height: 30px;
  margin-top: 2px;
}

.sinNombreNueva{
  content:url("../img/sinNombre.png");
  width: 30px;
  height: 30px;
  margin-top: 2px;
}

.patrimonioNueva{
  content:url("../img/patrimonio.png");
  width: 30px;
  height: 30px;
  margin-top: 2px;
}

.serviciosTuristicosNueva{
  content:url("../img/serviciosTuristicos.png");
  width: 30px;
  height: 30px;
  margin-top: 2px;
}

.posicionGps{
  content:url("../img/svg/posicionGps.svg");
  width: 30px;
  height: 30px;
  margin-top: 2px;
}

.posicionGpsNueva{
  content:url("../img/posicionGpsTurista.png");
  /*width: 30px;*/
  height: 30px;
  margin-top: 2px;
}

.marcador{
  content:url("../img/svg/posicionGpsMarcador.svg");
  width: 30px !important;
   height: 30px !important;
   position: fixed !important;
   left: 50% !important;
   top: 50% !important; 
   margin-left: -15px !important;
   margin-top: -15px !important;
}

.marcadorNuevo{
  content:url("../img/posicionGpsMarcador.png");
  width: 30px !important;
  height: 45px !important;
  position: fixed !important;
  left: 50% !important;
  top: 50% !important;
  margin-left: -4% !important;
  margin-top: -6% !important;
}



/*------------ ICONOS MENU ------------*/
.misRutasMenu{
  content:url("../img/svg/misRutas.svg");
  width: 20px;
  margin-top: 0px;
}

.misRutasMenuNueva{
  content:url("../img/misRutas.png");
  width: 25px;
  position: absolute;
  margin-left: 10px;
}

.rutasTipicasMenu{
  content:url("../img/svg/rutasTipicas.svg");
  width: 20px;
  margin-top: 0px;
}

.rutasTipicasMenuNueva{
  content:url("../img/ai/rutasTipicas.svg");
  width: 25px;
  margin-left: 10px;
}

.reservasMenuNueva{
  content:url("../img/menu/reservas.png");
  width: 35px;
  margin-top: -5px;
}

.eventosMenuNueva{
  content:url("../img/eventos-gris.png");
  width: 25px;
  margin-top: -5px;
}

.rutasTipicasMenuNuevaAzul{
  content:url("../img/rutasTipicasAzul.png");
  width: 30px;
  margin-left: 10px;
}

.rutasCompartidasMenu{
  content:url("../img/rutasCompartidas.png");
  width: 20px;
  margin-top: 0px;
}

.rutasCompartidasMenuNueva{
  content:url("../img/rutasCompartidas.png");
  width: 25px;
  margin-left: 10px;
}

.camaraMenu{
  content:url("../img/svg/camara.svg");
  width: 20px;
  margin-top: 0px;
}

.camaraMenuNueva{
  content:url("../img/foto.png");
  width: 20px;
  position: absolute;
  margin-top: 9px;
}

.videoMenu{
  content:url("../img/svg/video.svg");
  width: 20px;
  margin-top: 0px;
}

.videoMenuNueva{
  content:url("../img/video.png");
  width: 20px;
  position: absolute;
  margin-top: 9px;
}

.sonidoMenu{
  content:url("../img/svg/sonido.svg");
  width: 20px;
  margin-top: 0px;
}

.sonidoMenuNueva{
  content:url("../img/audio.png");
  width: 20px;
  position: absolute;
  margin-top: 9px;
}

.comentarioMenu{
  content:url("../img/svg/comentario.svg");
  width: 20px;
  margin-top: 0px;
}

.comentarioMenuNueva{
  content:url("../img/comentarios.png");
  width: 20px;
  position: absolute;
  margin-top: 9px;
}

.estrellaMenu{
  content:url("../img/svg/estrella.svg");
  width: 20px;
  margin-top: 0px;
}

.estrellaMenuNueva{
  content:url("../img/calificacion.png");
  width: 20px;
  position: absolute;
  margin-top: 9px;
}

.noticiaMenu{
  content:url("../img/svg/noticia.svg");
  width: 20px;
  margin-top: 0px;
}

.noticiaMenuNueva{
  content:url("../img/descripcion.png");
  width: 20px;
  position: absolute;
  margin-top: 9px;
}

.denunciarMenu{
  content:url("../img/svg/denunciar.svg");
  width: 20px;
  margin-top: 0px;
}

.editarMenu{
  content:url("../img/svg/editar.svg");
  width: 20px;
  margin-top: 0px;
}

.editarMenuNueva{
  content:url("../img/editar.png");
  width: 20px;
  position: absolute;
  margin-top: 30px;
}

.posicionGpsMenu{
  content:url("../img/svg/posicionGps.svg");
  width: 20px;
  margin-top: 0px;
}

.posicionGpsMenuNueva{
  content:url("../img/ai/posicionGps.svg");
  width: 20px;
  margin-top: 0px;
}

.misDatosMenu{
  content:url("../img/menu/misDatos.png");
  width: 35px;
  position: absolute;
  margin-top: -5px;

}

.comerMenu{
  content:url("../img/iconoTipoServicio/1.png");
  width: 35px;
  position: absolute;
  margin-top: -5px;

}

.dormirMenu{
  content:url("../img/iconoTipoServicio/2.png");
  width: 35px;
  position: absolute;
  margin-top: -5px;

}

.movilizarseMenu{
  content:url("../img/iconoTipoServicio/3.png");
  width: 35px;
  position: absolute;
  margin-top: -5px;

}

.comprarMenu{
  content:url("../img/iconoTipoServicio/4.png");
  width: 35px;
  position: absolute;
  margin-top: -5px;

}

.hacerMenu{
  content:url("../img/iconoTipoServicio/5.png");
  width: 35px;
  position: absolute;
  margin-top: -5px;

}

.ofertaMenu{
  content:url("../img/nuevoHome/experienciaAtacama.png");
  width: 35px;
  position: absolute;
  margin-top: -5px;

}

.atractivosMenu{
  content:url("../img/nuevoHome/imgDejaTuHuella.png");
  width: 35px;
  position: absolute;
  margin-top: -5px;

}

.eventosMenu{
  content:url("../img/nuevoHome/eventosServiciosYAtractivos.png");
  width: 35px;
  position: absolute;
  margin-top: -5px;

}

.reservasMenu{
  content:url("../img/nuevoHome/imgReservas.png");
  width: 35px;
  position: absolute;
  margin-top: -5px;

}

.recorridosMenu{
  content:url("../img/nuevoHome/mapaRutaTipicaAtacama.png");
  width: 35px;
  position: absolute;
  margin-top: -5px;

}

.iniciarMenu{
  content:url("../img/nuevoHome/imgIniciarMiRecorrido.png");
  width: 35px;
  position: absolute;
  margin-top: -5px;

}

.misRecorridosMenu{
  content:url("../img/nuevoHome/imgMisRecorridos.png");
  width: 35px;
  position: absolute;
  margin-top: -5px;

}

.pdfMenu{
  content:url("../img/menu/manual.png");
  width: 35px;
  position: absolute;
  margin-top: -5px;

}

.misDatosMenuAzul{
  content:url("../img/usuarioAzul.png");
  width: 20px;
  position: absolute;
  margin-left: 15px;
}

.configuracionMenu{
  content:url("../img/configuracion.png");
  width: 25px;
  position: absolute;
  margin-top: -5px;
}

.configuracionMenuAzul{
  content:url("../img/configuracionAzul.png");
  width: 20px;
  position: absolute;
  margin-left: 5px;
}

.preferenciasMenu{
  content:url("../img/menu/preferencias.png");
  width: 35px;
  position: absolute;
  margin-top: -5px;
}

.equisMenu{
  content:url("../img/ai/equis.svg");
  width: 20px;
  margin-top: 10px;
  right: 10px;
}

.equisMenuModal{
  content:url("../img/ai/equis.svg");
  width: 20px;
  margin-top: 5px;
}

.equisMenuModalAzul{
  content:url("../img/cruzAzul.png");
  width: 20px;
  /*margin-top: 5px;*/
  float: right;
}

.hamburgesaMenu{
  content:url("../img/ai/menu.svg");
  width: 20px;
  margin-top: 10px;
  right: 10px;
  z-index:999;
}


.patrimoniosMenuNueva{
  content:url("../img/patrimonio.png");
  width: 25px;
  position: absolute;
}

.serviciosTuristicosMenuNueva{
  content:url("../img/serviciosTuristicos.png");
  width: 25px;
  position: absolute;
}

.cerrarSesionMenu{
  content:url("../img/menu/cerrarSesion.png");
  width: 35px;
  position: absolute;
  margin-top: -5px;
}

.contactoMenu{
  content:url("../img/menu/contacto.png");
  width: 35px;
  position: absolute;
  margin-top: -5px;
}
/*------------ ICONOS MENU ------------*/

/*------------ ICONOS menu acciones ------------*/

.camara{
  content:url("../img/svg/camara.svg");
  width: 50px;
  height: 50px;
  margin-top: 2px;
  display: block;
  margin: auto;
}

.camaraNueva{
  content:url("../img/foto.png");
  width: 50px;
  height: 40px;
  margin-top: 2px;
  display: block;
  margin: auto;
}

.video{
  content:url("../img/svg/video.svg");
  width: 50px;
  height: 40px;
  margin-top: 2px;
  display: block;
  margin: auto;
}

.videoNueva{
  content:url("../img/video.png");
  width: 50px;
  height: 40px;
  margin-top: 2px;
  display: block;
  margin: auto;
}

.sonido{
  content:url("../img/svg/sonido.svg");
  width: 50px;
  height: 40px;
  margin-top: 2px;
  display: block;
  margin: auto;
}

.sonidoNueva{
  content:url("../img/audio.png");
  width: 50px;
  height: 40px;
  margin-top: 2px;
  display: block;
  margin: auto;
}

.comentario{
  content:url("../img/svg/comentario.svg");
  width: 50px;
  height: 40px;
  margin-top: 2px;
  display: block;
  margin: auto;
}

.comentarioNueva{
  content:url("../img/comentarios.png");
  width: 50px;
  height: 40px;
  margin-top: 2px;
  display: block;
  margin: auto;
}

.estrella{
  content:url("../img/svg/estrella.svg");
  width: 50px;
  height: 40px;
  margin-top: 2px;
  display: block;
  margin: auto;
}

.estrellaNueva{
  content:url("../img/calificacion.png");
  width: 50px;
  height: 40px;
  margin-top: 2px;
  display: block;
  margin: auto;
}

.noticia{
  content:url("../img/svg/noticia.svg");
  width: 50px;
  height: 40px; 
  margin-top: 2px;
  display: block;
  margin: auto;
}

.noticiaNueva{
  content:url("../img/descripcion.png");
  width: 50px;
  height: 40px;
  margin-top: 2px;
  display: block;
  margin: auto;
}

.denunciar{
  content:url("../img/svg/denunciar.svg");
  width: 50px;
  height: 40px;
  margin-top: 2px;
  display: block;
  margin: auto;
}

.add{
  content:url("../img/svg/folder.svg");
  width: 50px;
  height: 40px;
  display: block;
  margin: auto;
  margin-top: 10px;
}

/*------------ ICONOS menu acciones ------------*/

/*------------- ICONO GUARDAR ------------------*/
.guardar{
  content:url("../img/svg/guardar.svg");
  width: 30px;
  height: 30px;
  margin-top: 2px;
}
/*------------- ICONO GUARDAR ------------------*/

/*------------- ICONO GUARDAR PLOMO ------------------*/
.guardarPlomo{
  content:url("../img/guardarPlomo.png");
  width: 30px;
  height: 30px;
  margin-top: 2px;
}
/*------------- ICONO GUARDAR  PLOMO------------------*/

/*------------- ICONO volver ------------------*/
.volver{
  content:url("../img/ai/volver.svg");
  width: 30px;
  height: 30px;
  margin-top: 2px;
}
/*------------- ICONO volver ------------------*/

/*------------- ICONO volverAzul ------------------*/
.volverAzul{
  content:url("../img/flechaAzul.png");
  width: 30px;
  height: 25px;
  margin-top: 2px;
}
/*------------- ICONO volverAzul ------------------*/

/*------------- ICONO pregunta ------------------*/
.pregunta{
  content:url("../img/ai/pregunta.svg");
  width: 30px;
  height: 22px;
}
/*------------- ICONO pregunta ------------------*/

.iconoHeaderBoton{
  width: 55px;
}

.tituloModalFullscreen{
  background: #b0a4cb !important;
  border: 0px !important;
}

.textoDescripcion{
  text-align: justify;
}

.puertoViejo{
  content:url("../img/puertoViejo.jpg");
  width: 100%;
  border:2px solid #021a40;
  border-radius: 3px;
}

.imagenItem{
  width: 100%;
}

.contenedorCategoria{
  width: 100%;  
  height:50px;  
  background-color: #AB1765;  
  margin-top: 0px;
}

.imagenItemComentario{
  border: 2px solid #3B2C86;
  width: 50px;
  height: 50px;
  -moz-border-radius: 35px;
  border-radius: 35px;
}

.imagenItemUsuario{
  border: 2px solid #B0115E;
  width: 50px;
  height: 50px;
  -moz-border-radius: 35px;
  border-radius: 35px;
}

.imagenItem2{
  border:2px solid #021a40;
  border-radius: 3px;
  width: 100%;
}

.puertoViejoVideo{
  content:url("../img/puertoViejoVideo.png");
  width: 100%;
  border:2px solid #021a40;
  border-radius: 3px;
}


.contenedorLugarModificar{
  background-color: #DCDCDC;
  padding: 5px;
  border-radius: 3px;
}

.contenedorModificarDescripcion{
  /*padding: 10px;*/
}

.aceptarCancelar{
  margin-top: -7px !important;
}

.textAreaModal{
    width: 97%;
    height: 150px;
    margin-top: 53px;
    background-color: yellow; 
}

/*--------------------- zoom imagen ----------------------*/

.zoom-pane {
  width: 100%;
  height: 100%;
}


.zoom-pane .scroll {
  min-height: 100%;
  /* Vertical align */
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-direction: normal;
  -moz-box-direction: normal;
  -webkit-box-orient: horizontal;
  -moz-box-orient: horizontal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-flex-wrap: nowrap;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  -webkit-box-pack: center;
  -moz-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-align-content: stretch;
  -ms-flex-line-pack: stretch;
  align-content: stretch;
  -webkit-box-align: center;
  -moz-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.zoom-pane img {
  width: 100%;
  vertical-align: middle;
}

/*--------------------- zoom imagen ----------------------*/

.delgadaLinea{
  border-style: solid;
  border-bottom: solid;
  margin-bottom: 11px;
  border-bottom-width: 0.6px;
  border-bottom-color: #E2E1E1;
}

.delgadaLineaPatrimonio{
  border-style: solid;
  border-bottom: solid;
  margin-bottom: 11px;
  border-bottom-width: 0.6px;
  border-bottom-color: #9485b3;;
}

.menuPatrimonio{
  background-color: none;
}

.menuPatrimonioActivo{
  background-color: #706192;
}

.menuServicio{
  background-color: none;
}

.menuServicioActivo{
  background-color: #706192;
}

.carrousel-ionic{
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.modal.ionic-select-modal {
    top: 0px !important;
    bottom: 0 !important;
    left: 0 !important;
    right: 0 !important;
    width: 100% !important;
}

.modal.ionic_datepicker_modal {
    top: 0px !important;
    bottom: 0 !important;
    left: 0 !important;
    right: 0 !important;
    width: 100% !important;
}

.modal.modal_pantalla_completa {
    top: 0px !important;
    bottom: 0 !important;
    left: 0 !important;
    right: 0 !important;
    width: 100% !important;
}


.arrow {
  position: fixed;
  bottom: 0;
  left: 50%;
  margin-left:-20px;
}

.bounce {
  -webkit-animation-name: bounce;
  -moz-animation-name: bounce;
  -o-animation-name: bounce;
  animation-name: bounce;
}
.animated{-webkit-animation-fill-mode:both;
-moz-animation-fill-mode:both;
-ms-animation-fill-mode:both;
-o-animation-fill-mode:both;

            animation-iteration-count: infinite;
       -moz-animation-iteration-count: infinite;
    -webkit-animation-iteration-count: infinite;

animation-fill-mode:both;
-webkit-animation-duration:2s;
-moz-animation-duration:2s;
-ms-animation-duration:2s;
-o-animation-duration:2s;
animation-duration:2s;

}


@-webkit-keyframes bounce {
  0%, 20%, 50%, 80%, 100% {-webkit-transform: translateY(0);} 40% {-webkit-transform: translateY(-30px);}
  60% {-webkit-transform: translateY(-15px);}
}

@-moz-keyframes bounce {
  0%, 20%, 50%, 80%, 100% {-moz-transform: translateY(0);}
  40% {-moz-transform: translateY(-30px);}
  60% {-moz-transform: translateY(-15px);}
}

@-o-keyframes bounce {
  0%, 20%, 50%, 80%, 100% {-o-transform: translateY(0);}
  40% {-o-transform: translateY(-30px);}
  60% {-o-transform: translateY(-15px);}
}
@keyframes bounce {
  0%, 20%, 50%, 80%, 100% {transform: translateY(0);}
  40% {transform: translateY(-30px);}
  60% {transform: translateY(-15px);}
}

.flechaDown{
  content:url("../img/flechaAzulDown.png");
  width: 20px;
  position: absolute;
  margin-top: -10px;
}

.fechaComentario{
  /*font-size: 10px;*/
  color: #A0A0A0;
}

em,i{
    font-style:italic !important;
}

/*Scale in poopover*/
.scale-in{
  transform-origin: left top 0px;
    left: 432.297px;
    top: 274px;
    transform: scale(1);
    opacity: 1;
}

.imagenItemRegistro{
  border: 2px solid #021a40;
  border-radius: 3px;
  width: 93%;
  margin-left: 3.5%;
}

.rutaTipicaRealizada{
  right: 10px;
  font-size: 20px;
  color: #886aea;
  position: fixed;
  /*top:10px;*/
}


#calificarRutasTipicas > li {
    display: table-cell;
    border: 0px;
    background: none;
    padding: 1px 1px;
    color: #F6CD5C;
}

#calificarRutasTipicasMenu > li {
    display: table-cell;
    border: 0px;
    background: none;
    padding: 0px 0px;
    color: #F6CD5C;
}

.datosRutasTipicas{
  white-space: initial;
  display: block;
  overflow: scroll;
}

.item-content.disable-pointer-events {
    padding-right: 0px;
    padding-left: 3px;
}

.wrapping-list .item-content, .wrapping-list .item {
    overflow: initial;
    white-space: initial;
}

p.wrapping-list.ng-binding {
  white-space: initial !important;
}


/*------------- ICONO Horario ------------------*/
.iconoHorario{
  content:url("../img/horario.png");
  position: relative;
  width: 20px;
  /*height: 25px;*/
  top: 5px;
}
/*------------- ICONO Horario ------------------*/

.iconoTelefono{
  content:url("../img/telefono.png");
  position: relative;
  width: 20px;
  /*height: 25px;*/ 
  top: 5px;
}

.iconoCorreo{
  content:url("../img/correo.png");
  position: relative;
  width: 20px;
  /*height: 25px;*/
  top: 5px;
}

.iconoDireccion{
  content:url("../img/direccion.png");
  position: relative;
  width: 20px;
  top: 5px;
}

.iconoWeb{
  content:url("../img/web.png");
  position: relative;
  width: 20px;
  top: 5px;
}

.marginTopDiezPx{
      margin-top: 10px;
}


.ahrefCetner{
  text-align:center;
  display:block;
}

.contenedorCalidadSeguridad{
    float: right;
    position: absolute;
    right: 10px;
}

.text-center{
  text-align: center !important;
}

.botonSelectPatrimonioServicio{
  width: 100%;
  padding-top: 10px;
  padding-bottom: 10px;
}

.paddingRegistro{
  padding-left: 5%;
  padding-right: 5%;
}

.colMenuHome{
  border-left-style: solid;
  border-left-color: white;
  border-left-width: 1px;
  height: 30px;
}


.mostrarIconoListaReservas{
  position: absolute;
  right: 10px;
  top: 10px;
}

/*-------------- IOS -------------*/
.ionic_datepicker_popup .popup-buttons button{
background-color: #775DA5 !important;
}

.ionic_datepicker_popup .popup-body .selected_date_full{
background-color: #775DA5 !important;
}

.ionic_datepicker_popup .popup-body .button-clear{
color: #343594 !important;
}
 
.terminarAventura{
  font-size: 14px;
}

.nowrapHome{
  white-space: nowrap;
}

.platform-ios.platform-cordova .modal-wrapper .modal .bar-header:not(.bar-subheader) > *{
  margin-top: 10px !important;
}

.platform-ios.platform-cordova .modal-wrapper .modal .bar-header:not(.bar-subheader){
height: 60px !important;
}
/*-------------- IOS -------------*/


.buttonLogin {
  margin: 10px;
  height: 35px;
  padding: 0px;
  border: 0px;
  margin-bottom: 13px;
  margin-top: 10px;
}

.borderMensajes{
  border-style: solid;
  border: solid;
  margin-bottom: 6px;
  border-width: 0.6px;
  border-color: #9485b3;
}

.fondoMorado{
  background: #b0a4cb;
  padding-top: 10px;
  padding-bottom: 7px;
  padding-left: 10px;
  padding-right: 10px;
}

.margen3Porciento{
  margin-left: 3%;
}

.margen4Porciento{
  margin-left: 4%;
}

.gpsMoradoEventos{
  content:url("../img/gps.png");
  width: 40px;
  position: absolute;
  right: 10px;
}

.gpsNaranjoEventos{
  content:url("../img/reservas/marcador.png");
  height: 30px;
  position: absolute;
  right: 10px;
}

.descripcionResumen{
  padding: 10px;
  background: #3C3886;
}


.borderMensajes1 {
    border-style: solid;
    border: solid;
    margin-bottom: 6px;
    border-width: 0.6px;
    border-color: #9485b3;
    background: #9485b3;
}

.img1{
  background-image: url('../img/slider/1.jpg');
}

.button.button-stable {
    border-color: transparent !important;
    color: #393189 !important;
    background: url('../img/flechaAzul.png') no-repeat !important;
    background-repeat: no-repeat !important;
    background-size: 100% auto !important;
    background-position: center top !important;
    background-attachment: fixed !important;
}

.contenedorSlider{
  position: fixed;
  width: 100%;
  bottom:0px;
  height: 50px;
}

.sliderUno{
  background:url('../img/slider/1.jpg');
  /* Full height */
  height: 100%;
  width: 100%;
  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.sliderDos{
  background:url('../img/slider/2.jpg');
  /* Full height */
  height: 100%;
  width: 100%;
  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.sliderTres{
  background:url('../img/slider/3.jpg');
  /* Full height */
  height: 100%;
  width: 100%;
  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.contenedorTextoSlider{
  position: absolute;
  bottom: 30px;
  width: 100%;
}

.botonSaltar{
  text-align: -webkit-right;
  margin-right: 20px;
  color: white;
  font-size: 18px;
}

.logoAtacamaSlider{
  width: 50%;
  padding-top: 20%;
  display:block;
  margin-left:auto;
  margin-right:auto;
}


.slider-pager-page {
  color: white !important;
}

.slider-pager-page.active {
  color: golden-color !important;
}


.fondoLogin{
  background:url('../img/login/fondo.jpg');
  /* Full height */
  height: 125%;
  width: 102%;
  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.btnIngresarLogin{
  /*width: 142px;*/
  height: 55px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.btnReserva{
  width: 160px;  
  height: 55px;  
  display: block;  
  margin-left: auto;  
  margin-right: auto;
}

.textoIniciarSesion{
  position: absolute;
  width: 100%;
  text-align: center;
  margin-top: 18px;
  color: white;
  font-weight: 700;
}

.textoCompartir{
  text-align: center; 
  font-size: large; 
  color: #000099; 
  margin-top: 12px
}

.btnAzulFacebook{
  margin-left  : 20%;
  margin-right : 20%;
  height: 35px;
  padding: 0px;
  /*padding-left: 5px;*/
  border: 0px;
  background-color: #2C5297;
}

.btnAzulRegistro{
  margin-left  : 20%;
  margin-right : 20%;
  height: 35px;
  padding: 0px;
  /*padding-left: 5px;*/
  border: 0px;
  background-color: #353692;
}

.textoBtnAzul{
  position: absolute;
  width: 100%;
  text-align: left;
  margin-top: 9px;
  color: white;
  font-weight: 700;
  margin-left: 40px;
}

.contenedorLogin{
  margin-top: 52px;
}

.divModal{
  position: absolute;
  width: 100%;
  bottom: 10%;
}

.imgPlaceholderLoginCandado{
  position: absolute;
  height: 25px;
  margin-left: 6.1px;
  margin-top: 12px;
}

.imgPlaceholderLoginPass{
  position: absolute;
  height: 25px;
  margin-left: 6.1px;
  margin-top: 10px; 
}

.imgPlaceholderLoginRegistro{
  position: absolute;
  height: 14px;
  margin-left: 10.1px;
  margin-top: 10.5px;
}

.imgPlaceholderLoginFacebook{
  position: absolute;
  height: 14px;
  margin-left: 14px;
  margin-top: 10px;
}

.imgPlaceholderNombreApellido{
  position: absolute;
  height: 14px;
  margin-left: 10.1px;
  margin-top: 10px;
}

.circuloMoradoEmail{
  position: absolute;
  height: 25px;
  width: 25px;
  background-color: #5354A1;
  border: 2px solid #5354A1;
  border-radius: 25px;
  margin-top: 5px;
  margin-left: 5px;
}

.circuloMoradoPass{
  position: absolute;
  height: 25px;
  width: 25px;
  background-color: #8071B1;
  border: 2px solid #8071B1;
  border-radius: 25px;
  margin-top: 5px;
  margin-left: 5px;
}

.circuloVerdePass{
  position: absolute;
  height: 25px;
  width: 25px;
  background-color: #8C7625;
  border: 2px solid #8C7625;
  border-radius: 25px;
  margin-top: 5px;
  margin-left: 5px;
}

.circuloBlanco{
  position: absolute;
  height: 25px;
  width: 25px;
  background-color: white;
  border: 2px solid white;
  border-radius: 25px;
  margin-top: 5px;
  margin-left: 5px;
}

.inputFormulario{
  width: 100%;
  margin-left: 35px;
  margin-right: 3%;
}

.fondoRegistro{
  background:url('../img/registro/fondo-02.jpg');
  /* Full height */
  height: 100%;
  width: 103%;
  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.fondoNuevoHome{
  background:url('../img/nuevoHome/fondo.png');
  /* Full height */
  height: 100%;
  width: 100%;
  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.registroVolverAzul{
  margin-top: 50px;
  width: 100%;
  height: 50px;
  background-color: #333594;
}

.textoRegistroVilverAzul{
  position: absolute;
  width: 100%;
  text-align: center;
  font-size: 16px;
  margin-top: 15px;
  color: white;
  font-weight: 700;
}

.imgBotonAtrasRegistro{
  position   : absolute;
  left       : 5%;
  height     : 40px;
  margin-top : 5px;
}

[nav-bar-transition="android"] [nav-bar="active"] .bar, [nav-bar-transition="android"] [nav-bar="entering"] .bar {

    margin-top: 100px;
}

.logoAtacamaNuevoHome{
  width: 50%;
  padding-top: 5%;
  margin-left:auto;
  margin-right:auto;
  position: absolute;
  margin-left: 25%;
}

.infoNuevoHome{
  height: 50px;
  padding-top: 5%;
  display:block;
  margin-left:auto;
  margin-right:auto;
  position: absolute;
  margin-left: 5%;
}

.menuNuevoHome{
  width: 100%;
  height:50px;
  background-color: #3A2B86;
}

.subMenuNuevoHome{
  width: 100%;
  height:40px;
  background-color: rgba(118, 93, 164, 0.6);
}

.iconoMenuNuevoHome{
  height: 30px;
  background-color:  #3A2B86;
  padding-top: 5px;
  padding-bottom: 5px;
  margin-left: 5%;
}

.imgMenuNuevoExperienciaAtacama{
  width: 70px;
  margin-top: 113px;
  position: absolute;
  z-index: 9999999;
  margin-left: 130px;
}

.imgMenuNuevoExploraDescubre{
  width: 70px;
  margin-top: 113px;
  position: absolute;
  z-index: 9999999;
  margin-left: 210px;
}

.imgMenuNuevoServiciosAtractivos{
  width: 70px;
  margin-top: 113px;
  position: absolute;
  z-index: 9999999;
  margin-left: 290px;
}

.txtMenuNuevoExperienciaAtacama{
  font-size: 10px;
  color: white;
  margin-top: 180px;
  position: absolute;
  z-index: 9999999;
  text-align: center;
  font-weight: 600;
  line-height: 13px;
  margin-left: 130px;
}

.txtMenuNuevoExploraDescubre{
  font-size: 10px;
  color: white;
  margin-top: 180px;
  position: absolute;
  z-index: 9999999;
  text-align: center;
  font-weight: 600;
  line-height: 13px;
  margin-left: 210px;
}

.txtMenuNuevoServiciosAtractivos{
  font-size: 10px;
  color: white;
  margin-top: 180px;
  position: absolute;
  z-index: 9999999;
  text-align: center;
  font-weight: 600;
  line-height: 13px;
  margin-left: 290px;
}

.imgMenuNuevoHome{
  float: left;
  margin-left: 5%;
  width: 40px;
  margin-right: 10px;
}

.textoMenuNuevoHome{
  padding-top: 10px;
}

.imgVerMenuNuevoHome{
  float: right;
  width: 16px;
  margin-top: 9px;
  margin-right: 5%;
}

.contenedorMenuNuevoHome{
  background: rgba(255, 255, 255, 0.81);
}

.lineaSeparadoraMenuNuevoHome{
  margin-left: 70px;
  height:1px;
  background:#454849;
  border-bottom:1px solid #454849; 
  /*margin-bottom: 10px;
  margin-top: 20px;*/
}

.espaciadorMenuNuevoHome{
  height: 30px;
  background-color: none;
}

.espacioMenuBtn{
  padding-top:10px;
  padding-bottom: 10px;
}

.footerNuevoHome{
  height: 40px;
  height: 50px;
  width: 100%;
  background: #3A2B86;
  position: absolute;
  bottom: 0px;
  z-index: 6;

}

.logoFooterNuevoHome{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 130px;
  margin-top: 13px;
}

.logoFooterModal{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 130px;
  margin-top: 10px; 
}

.contenedortituloModalFullscreenNuevo{
  background: #3A2B86 !important;
  border: 0px !important;
  height: 50px;
  text-align: center;
}

.tituloModalFullscreenNuevo{
  text-align: center !important;
  font-size: 18px;
  margin-top: 5px !important;
}

.contenedorFiltro{
  height: 35px;
  background-color: #AB1765;
  width: 110%;
  /*margin: -10px;*/
}

.textoFiltroRutasTipicas{
  color: white;
  padding-top: 12px;
}

.imgFiltroRutasTipicas{
  float: left;
  width: 20px;
  margin-right: 10px;
  margin-top: 12px;
}

.contenedorTextoFiltro{
  position: absolute;
  right: 5%;
  width: 143px;
}

.imgListaRutasTipicas{
  width: 85px;
  height: 45px;
  float: left;
  margin-right: 5px;
}

.imgSiguienteListaRutasTipicas{
  width: 15px;
  float: right;
  margin-right: 5px;
  margin-top: 17px;
}
.contenedorCuerpo{
  margin-top: 10px;
  margin-left:5%;
  margin-right:5%;
}

.contenedorRutaTipica{
  padding-top: 10px;
  padding-bottom: 10px;
}

.tituloRutaTipica{
  font-size: 14px;
  margin: 0px;
}

.distanciaRutaTipica{
  font-size: 10px;
  margin: 0px;
}

ul.rating li i {
    font-size: 20px !important;
}

.imgAtrasRutasTipicas{
  width: 30px;
  height: 30px;
  margin:5px;
  z-index: 999999;
}

.iconoHeaderModal{
  height:20px;
  margin-top: 3%;
  margin-left: 10%;
  margin-right: 15%;
  /* float: left; */
}

.iconoPaquete{
  height:50px;  
  margin-right:5px; 
  float: right;
}
.textoPaquete{
  margin-top:15px; 
  margin-right: 10px;
}

.redSocialPaquete{
  display:block; 
  margin:auto; 
  height: 35px;
}

.contenedorTituloSaberMas{
  height: 50px;
  width: 100%;
  text-align: center;
  padding-top: 10px;
}

.contenedorAccionesRuta{
  width: 100%;
  height:50px;
  background-color: #AB1765;
  margin-top: -5px;
}

.contenedorImagenSaberMas{
  width:100%;
  min-height: 198px;
  overflow:hidden;
}

.imgSaberMas{
  width: 100%;
  min-height: 191px;
}

.imgContinuarRutaRutasTipicas{
  width: 32px;
  margin-top: 3px;
  margin-left: 30px;
}

.imgValoracionRutaRutasTipicas{
  width: 32px;
  margin-top: 3px;
  float: right;
  margin-right: 20px;  
}

.imgCompartirRutaRutasTipicas{
  width: 32px;
  margin-top: 10px;
  float: right;
  margin-right: 5%;
}

.txtContinuarRuta{
  /*color: white;
  font-size: 10px;
  margin-top: -6px;
  margin-left: 10px;*/

  /*color: white;
  font-size: 10px;
  margin-top: 33px;
  margin-left: 10px;
  position: absolute;*/

  color: white;
  font-size: 11px;
  /* top: 33px; */
  /* bottom: -16px; */
  position: absolute;
  padding-top: 35px;
  left: 10%;

}


.txtContinuarRuta2{
  /*color: white;
  font-size: 10px;
  margin-top: -6px;
  margin-left: 10px;*/

  color: white;
  font-size: 10px;
  margin-top: -9px;
  margin-left: 10px;
  position: absolute;

}


.cuerpoSaberMas{
  margin-top: 20px;
  margin-left: 5%;
  margin-right: 5%;
}

.txtDistanciaSaberMas{
  margin-bottom: 0px;
}

.txtCuerpoSaberMas{
  margin-top: 10px;
}

.contenedorBtnRecorrerRuta{
  height: 300px;
  width: 100%;
  background-color: #E7E9D6;
}

.margenBtnRecorrerRuta{
  padding-top: 12px;
}

.tituloMenu{
  color: white !important;
  text-align: center !important;
}

.menuSinMargen{
  border-style: initial;
  padding-bottom: 0px;
}

.separadorMenu{
  height: 1px;
  background: #7162AB;
  border-bottom: 3px solid #7162AB;
  width: 110%;
  margin-top: 15px;
}

.imgSiguienteMenu{
  float: right;
  height: 20px;
}

.imgHeaderModal{
  width: 30px;
  height: 35px;
  margin-left: 25%;
}

.nombreUsuarioMisDatos{
  position: absolute;
  height: 30px;
  background-color: #343594;
  width: 112%;
  left: -6%;
}

.inputNombreUsuarioMisDatos{
  background-color: #3A2B86;
  color: white !important;
  font-style: kini !important;
}

.contenedorDatosUsuario{
  margin-top:50px;
}

.equisMenuNuevo{
  /*content:url("../img/ai/equis.svg");*/
  content:url("../img/cruzAzul.png");
  width: 20px;
  margin-top: 10px;
  right: 10px;
}

.equisMenuNuevoIzq{
  content:url("../img/cruzAzul.png");
  width: 20px;
  position: absolute;
  right: 10px;
  bottom: 14px;
}

.separadorMenuMisDatos{
  border-bottom: 1.3px solid #D0D0D0;
  width: 100%;
  margin-left:  40px;
}

.iconoInputMisdatos{
  float: left;
  height: 20px;
  margin-right: 5px;
}

.inputMisDatos::-webkit-input-placeholder {
    color: #454849;
    font-weight:800;
}

.inputMisDatos {
  color: #454849 !important;
  font-weight:800; 
}

.fechaNacimientoMisDatos {
  color: #454849 !important;
  font-weight:800;
  margin: 0px;
  width: 100%;
  text-align: right;
  margin-right: 23px;
}

.btnGuardarMisDatos{
  margin-bottom: 60px;
}

.contenedorFiltroReservas{
  height: 35px;
  background-color: #EA700C;
  width: 110%;
  margin: -10px;
}

.contenedorTextoFiltroReservas{
  float: right;
  width: 120px;
}

.selectSexoreservas{
  margin-top: 12px;
  color: white;
}
.imgHeaderPreferencias{
  width: 38px;
  height: 35px;
  margin-left: 5%;
}

.preguntaPreferenicas{
  color: #454849;
  font-weight:800;
  width: 100%;
  margin-bottom: 0px;
}


.item-radio input:checked + .radio-content .item-content {
    /* style the item content when its checked */
    background: #61588E;
    color: white;
    font-size: 14px;
    font-weight: 800;
}

.item-radio .radio-content .item-content {
    background: #8071B1;
    color: white;
    font-size: 14px;
    font-weight: 800;
}

.contenedorRadioAlcance{
  height: 34px;
  background-color: #7162AB;
  width: 100%;
  margin-top: 6px;
  margin-bottom: 20px;
}

.textoRadioAlcance{
  font-weight: 800;
  color: white;
  margin-bottom: 0px;
  padding-top: 5px;
}

.btnGuardarPreferenciasDetalle{
  position: absolute;
  bottom: 100px;
  width: 100%;
  
}

.separadorPreferenciasDetalle{
  height: 1px;
  background: #7162AB;
  border-bottom: 7px solid white;
  width: 100%;
}

.contenedorPreferencias{
  margin-top: 6px;
}

.checkbox input:before,
  .checkbox .checkbox-icon:before {
    border-color: #7162AB; }
  .checkbox input:checked:before,
  .checkbox input:checked + .checkbox-icon:before {
    background: #7162AB;
    border-color: #7162AB; }

.contenedorTituloAtractivosTuristicos{
  height: 35px;
  background-color: #705738;
  width: 100%;
  margin-top: 6px;
}
.textoTituloAtractivosTuristicos{
  /*color: white;
  font-weight: 800;
  position: absolute;
  text-align: center;
  width: 100%;
  margin-top: 7px;*/

  color: white;
  font-weight: 800;
  position: absolute;
  /* text-align: center; */
  margin-left: 15%;
  margin-top: 7px;
}

.textoTituloMenuAcciones{
  color: white;
  font-weight: 800;
  position: absolute;
  width: 100%;
  margin-top: 17px;
}

.btnVertodosEnMapa{
  width: 160px;
  height: 55px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.contenedorNombreAtractivoTuristico{
  margin-left: 5%;
  margin-right: 5%;
}

.contenedorAccionesAtractivos{
  width: 100%;
  height:50px;
  background-color: #825012;
  margin-top: -5px;
  padding-left: 10%;
}

.imgMenuAtractivos{
  width: 32px;
  /*margin-top: 0%;
  float: left;
  margin-left: 4%;
  margin-right: 6%;
  z-index: 10;
  margin-bottom: 3%*/
  max-height: 100%;
  max-width: 100%;
  display: block;
  margin: auto;
}

.imgMenuEvento{
  width: 32px;
  margin-top: 10px;
  float: right;
  margin-left: 10px;
  margin-right: 5px;
}

.text-justify{
  text-align: justify;
  text-justify: inter-word;
}

.contenedorTituloServiciosTuristicos{
  height: 35px;
  background-color: #7162AB;
  width: 100%;
  margin-top: 6px;  
}

.contenedorAccionesServicios{
  width: 100%;
  height:50px;
  background-color: #775DA5 !important;
  margin-top: -5px;
  padding-left:10%;
}

.contenedorDejaTuhuella{
  background-color: rgba(255, 255, 255, 0.72);
  /*margin-left:5%;
  margin-right:5%;*/
}

.btnDejaTuHuella{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 150px;
  margin-top: 13px;
}

.contenedorBotonRegistrarHuella{
  position: absolute;
  width: 100%;
  bottom: 50px;
}

.descartarHuella{
  height: 50px;
  width: 20%;
  position: absolute;
  background-color: none;
  margin-left: 30%;
  margin-top: 7px;
}

.addHuella{
  height: 50px;
  width: 20%;
  left: 50%; 
  position: absolute;
  background-color: none;
  margin-top: 7px;
  margin-right:30%;
}
  
.txtAgregarImgPrincipal{
  color: white;
  margin-top: 0px;
  margin-bottom: 0px;
  padding-left: 5%;
  padding-top: 15px;
  padding-bottom: 15px;
  font-size: 18px;
  background-color:#3A2B86 !important
}

.separadorAzul{
  height: 1px;
  width: 100%;
  border-color: #333594;
  border-style: solid;
  border-bottom-width: 3px;
}

.separadorMorado{
  height: 0.8px;
  width: 100%;
  border-color: #8171B2;
  border-style: solid;
  border-bottom-width: 1.5px;
}

.separadorCafe{
  height: 0.8px;
  width: 100%;
  border-color: #705738;
  border-style: solid;
  border-bottom-width: 1.5px;
}


.modal_crear_huella{
  position: fixed;
  min-height: 60%;
  width: 80%;
  left: 10%;
  top: 10%;
  padding-top: 20px;
  margin-top: 35px;
}

.contenedorAccionesDejaTuHuella{
  /*width: 100%;
  height:50px;
  background-color: #333594;*/
  /*width: 133%;
  position: absolute;
  margin-left: -2%;
  height: 50px;
  background-color: #333594;*/

      width: 100%;
    position: absolute;
    /* margin-left: -2%; */
    /* height: 50px; */
    background-color: #333594;
}

.contenedorAccionesItem{
  width: 100%;
  height:50px;
  background-color: #AB1765;
}

.contenedorNombreFiltro{
  background-color: #AB1765;
  width: 110%;
  position: absolute;
}

.separadorBlanco{
  height: 1px;
  width: 100%;
  border-color: white;
  border-style: solid;
  border-bottom-width: 3px;
}

.textoMenuFiltro{
  padding-left:10%;
  padding-top: 10px;
  color: black;
  margin-bottom: 0px;
  padding-bottom: 10px;
  min-height: 35px;
}

.textoMenuFiltroPatrimonioSeleccionado{
  padding-left: 10%;
  padding-top: 10px;
  color: white;
  margin-bottom: 0px;
  padding-bottom: 10px;
  background-color: #8B7A64;
}

.textoMenuFiltroServicioSeleccionado{
  padding-left: 10%;
  padding-top: 10px;
  /* color: white; */
  margin-bottom: 0px;
  padding-bottom: 10px;
  background-color: #D9D4E8;
}

.separadorPlomo{
  height: 1px;
  background: #ACADAD;
  border-bottom: 3px solid #ACADAD;
  width: 110%;
  margin-top: -5px;
  margin-bottom: -5px;
}

.inputAgregarDescripcion{
  margin-left: 5%;
}

.popup-head {
    padding: none;
    border-bottom: none;
    text-align: center;
    background-color: #353691;
    color: white !important;
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;
}

.headNaranjo .popup-head {
    background-color: #EA700C;
    height: 50px;
}


.headRosado .popup-head {
    background-color: #AF105E;
    height: 50px;
}

.botonMorado{
    position: absolute;
    top: -6px;
    right: -6px;
    bottom: -6px;
    left: -6px;
    z-index: 9999;
}


.popup-container .popup{
  border-radius: 20px;
  background-color: rgba(255, 255, 255, 0.69) !important;
}

.fuenteModal{
  color: #353691;
}

.popclose {
  text-align: right;
  position: absolute;
  height: 14px;
  top: 3px;
  right: 4px;
  z-index:1000;
  color: white !important;
  padding: 0px !important;
  background-color: transparent !important; 
}

.button.button-positive {
    border-color: transparent;
    border-radius: 20px;
    color: white;
    background-color: #353691
}

.button.button-naranjo {
    border-color: transparent;
    border-radius: 20px;
    color: white;
    background-color: #EA700C
}

.button.button-rosado {
    border-color: transparent;
    border-radius: 20px;
    color: white;
    background-color: #AF105E
}

.popup-title{
  color: white !important;
}

.logoTitulo{
  position: absolute;
  float: left;
  height: 20px;
  top: 13px;
  left: 23px;
  color: white;
}

.inputFormularioModal{
  width: 84% !important;
  margin-left: 35px;
}

.imgTituloSaberMas{
  float: left;
  margin-left: 5%;
}

.txtTituloSaberMas{
  margin-top: 5px !important;
}

.contenedorBotonesRutaTipica{
  position: absolute;
  right: 5%;
  bottom: 97px;
}
.botonesRutaTipica{
  float: right;
  width: 50px;
  margin-bottom: 5%;
}

.contenedorFiltroMiRecorridoServicio{
  background-color: #7162AB;
  width: 110%;
  height: 200px;
  position: fixed;
  overflow-y: scroll;
}

.contenedorFiltroMiRecorridoAtractivo{
  background-color: #705738;
  width: 110%;
  height: 200px;
  position: fixed;
  overflow-y: scroll;
}

.imgModificarImg{
  width: 60px;
  margin-top: 0px;
}

.txtMorado{
  color:#3B3C97;
}

.txtBlanco{
  color: white;
}

.txtComentario{
  background-color: rgba(255, 83, 188, 0.69);
  margin-top: -28px;
  position: relative;
  padding-left: 5px;
}

.txtComentarioPatrimonio{
  background-color: rgba(130, 94, 54, 0.69);
  margin-top: -28px;
  position: relative;
  padding-left: 5px;
}

.contenedorMenuAcciones{
  height: 50px;
  background-color: #AA1664;
  width: 110%;
}

.contenedorMenuAccionesHuella{
  height: 50px;
  background-color: #3B3C97;
  width: 110%;
}

.colorTextoMorado{
  color: #3B3C97;
}

.btnEnviarComentario {
  width: 69px;
  height: 33px;
  display: block;
  margin-left: auto;
}

.textoEnviarComentario{
  position: absolute;
  right: 24px;
  /* left: -1%; */
  text-align: center;
  margin-top: 4px;
  color: white;
  font-weight: 700;
}

.textoPlomo{
  color: #5F6162;
}

.textoAzul{
  color: #3B3C97;
}

.textoSernatur{
  margin-top: 10px;
  margin-left: 10%;
  color: #3B3C97;
}

.marginTexto{
  margin-left: 5%;
  margin-right: 5%;
}

.imgMenuModificar{
  float: left;
  margin-left: 5%;
  width: 20px;
  margin-right: 10px;
}

.textoMenuModificar{
  margin-bottom: 0px;
  margin-left:50px;
}

.textoTitulo{
  color: black;
  font-size: 18px;
  margin-bottom: 0px;
}

.lineaSeparadoraModificar{
  margin-left: 50px;
  height:2px;
  background:#7162AB;
  border-bottom:1px solid #7162AB; 
  /*margin-bottom: 10px;
  margin-top: 20px;*/
}

.imgLogo{
  width: 250px;
  /* margin: 0 auto; */
  position: absolute;
  left: 50%;
  margin-left: -125px;
}

.contenedorTextoEstacionalidad{
  margin-top: 60px;
}

.imgExperienciaAtacama{
  width: 100%;
  height: 300px;
  overflow: hidden;
  margin-bottom: 5px;
  background-size: cover;
}

.scrollClass{
  overflow-y: scroll;
  overflow-x: hidden;
  padding-bottom: 140px;
}

.imgValoracionPuntuacion{
  width: 170px;
  position: relative;
  top: -8px;
}

.numeroValoracionPuntuacion{
  position: relative;
  top: -46px;
  font-size: 21px;
  margin-left: 17px;
}

.estrellaValoracionPuntuacion{
  position: relative;
  top: -77px;
  left: 59px;
  width: 50%;
}

.contenedorRosado{
  height: 31px;
  background-color: #C6C0DD;
  width: 100% !important;
}

.contenedorExperienciaAtacama{
  padding-top: 60px;
  background-color: white;
}

.txtNombreExperiencia{
  font-size: 17px;
  padding-top: 15px;
  padding-bottom: 17px;
  margin-bottom: auto;
  color: white;
  /*width: 85%;*/
}

.contenedorAccionesExperiencia{
  margin-top: -5px;
  width: 100%;
  height:auto;
  background-color: #AB1765;
}

.imgMenuExperiencia{
  width: 45px;
  margin-top: 3px;
  float: initial;
  margin-right: 6%;
  position: relative;
  top: -31px;
}

.footerExperiencia{
  height: 50px;
  width: 100%;
  background: #3A2B86;
  position: absolute;
  bottom: 0px;
  z-index: 6;
  /*padding-left: 7%;*/
  margin-right: auto;
}

.contenedorBotonesFooter{
  float: left;
  /*margin-right: 4%;*/
  text-align: center;
}

.txtMenuExperiencia{
  position: absolute;
  top: 29px;
  font-size: 10px;
  text-align: center;
}

.contenedorTituloExperiencia{
  /*height: 45px;*/
  background-color: #AB1765;
  width: 100%;
  /*margin-top: 6px;*/
}

.numeroMorado{
  font-size: 50px;
  color: #343594;
  font-weight: 800;
}

.margenDerecha{
  margin-left: 5%;
}

.textoMargen{
  margin-top: 5%;
  margin-left: 5%;
  margin-right: 5%;
  margin-bottom: 5%;
}

.lineaSeparadorRutasTipicas{
  height:1px;
  background:#454849;
  border-bottom:1px solid #454849;
  margin-left: -6%;
  margin-right: -6%;
}

.tituloDejaTuHuella{
  font-size: 20px !important;
}

.imgHeaderModalContacto{
  height: 21px;
  margin-left: 5%;
  margin-top: 10px;
}

.espaciadorReservas{
  margin-left: 10%;
  height:1px;
  background:#454849;
  border-bottom:1px solid #454849; 
  width:100%;
}

.verTodosMensajes{
  margin-top: 0px !important;
  background-color: #EA700C !important;
  width: 110% !important;
  margin-left: -5%;

}

.textoBtonVerReservas{
  position: absolute;
    width: 50%;
    text-align: center;
    margin-top: 18px;
    color: white;
    font-weight: 700;
    font-size: 12px
}

.textoBtonVerReservas_v2{
  position: absolute;
    width: 100%;
    text-align: center;
    margin-top: 18px;
    color: white;
    font-weight: 700;
    font-size: 12px
}

.separadorReservas{
      border-top: 10px solid #EA700C;
    /* margin-top: 15px; */
    /* margin-bottom: 15px; */
    width: 110%;
    margin-left: -5%;
    margin-top: -44px;
}

.nuveReserva{
  height: 20px;
  margin-right: 5%;
}

.iconoReserva{
      position: absolute;
    height: 15px;
    top: 7px;
    left: 5%;
}

.sliderTutorialUno{
  background:url('../img/tutorial/1.jpg');
  /* Full height */
  height: 100%;
  width: 100%;
  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.sliderTutorialDos{
  background:url('../img/tutorial/2.jpg');
  /* Full height */
  height: 100%;
  width: 100%;
  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.sliderTutorialTres{
  background:url('../img/tutorial/3.jpg');
  /* Full height */
  height: 100%;
  width: 100%;
  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.sliderTutorialCuatro{
  background:url('../img/tutorial/4.jpg');
  /* Full height */
  height: 100%;
  width: 100%;
  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.sliderTutorialCinco{
  background:url('../img/tutorial/5.jpg');
  /* Full height */
  height: 100%;
  width: 100%;
  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.sliderTutorialSeis{
  background:url('../img/tutorial/6.jpg');
  /* Full height */
  height: 100%;
  width: 100%;
  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.sliderTutorialSiete{
  background:url('../img/tutorial/7.jpg');
  /* Full height */
  height: 100%;
  width: 100%;
  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.sliderTutorialOcho{
  background:url('../img/tutorial/8.jpg');
  /* Full height */
  height: 100%;
  width: 100%;
  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.sliderTutorialNueve{
  background:url('../img/tutorial/9.jpg');
  /* Full height */
  height: 100%;
  width: 100%;
  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.contenedorTextoTutorial {
    position: absolute;
    top: 50px;
    width: 100%;
}

.imgSiguienteMenuExperiencia{
  float: right;
  height: 26px;
  margin-top: 7px;
  margin-right: 5%;
}

.imgAgregarHuella{
  float: left;
  height: 34px;
  margin-left: 5%;
  margin-right: 5%;
  margin-top: 2.5%;
}

.contenedorBotonesAcciones{
  width: 90%;
  margin-left: 13%;
}

.textoMasImagenes{
  position: absolute;
  width: 91%;
  text-align: center;
  margin-top: 18px;
  color: white;
  font-weight: 700;
}

.heightCien{
  height: 100%;
}

.LabelInputMisDatos{
  height: 35px;
  padding: 0px;
  border: 0px;
  margin-bottom: 5px;
  margin-top: 5px;
}

.placeholderRight{
  direction: ltr;
  text-align: right;
}

.misDatosSelectPlaceholder{
  text-align: right;
  margin-right: 23px;
}

.iconoMenuExperiencia{
  float: left;
  height: 30px;
  margin-left: 5%;
  margin-top: 3px;
}

.centrarMenu{
  /*width: 93%;*/

}

.contenedorFiltroEvento{
  height: 43px;  
  background-color: #AB1765;  
  width: 100%; 
  position: absolute; 
  z-index: 2;
}

.contenedorFiltroExperiencia{
  height: 43px;  
  background-color: #765DA4;  
  width: 110%; 
  position: absolute; 
  z-index: 2;

  -webkit-box-shadow: 0px 10px 26px 2px rgba(0,0,0,0.53);
  -moz-box-shadow: 0px 10px 26px 2px rgba(0,0,0,0.53);
  box-shadow: 0px 10px 26px 2px rgba(0,0,0,0.53);

}

.contenedorTextoFiltroExperiencia{
  position: absolute;
  right: 5%;
  width: 200px;
}

.contenedorNombreFiltroEvento{
  background-color: #AB1765;
  width: 110%;
  position: relative;
  z-index: 2;
  height: 152px;
  overflow-y: scroll;
}

.contenedorNombreFiltroExperiencia{
  background-color: #765DA4;
  width: 110%;
  position: absolute;
  z-index: 2;
  height: 152px;
  overflow-y: scroll;
}

.contenedorNombreFiltroExperiencia_v2{
  background-color: #AB1765;
  width: 100%;
  position: absolute;
  z-index: 2;
  height: 50px;
  overflow-y: scroll;
}

.contenedorNombreFiltroExperiencia_v3{
  background-color: #AB1765;
  width: 110%;
  position: absolute;
  z-index: 2;
  height: 200px;
  overflow-y: scroll;
}

.popup-buttons .button:last-child {
  margin-right: 0px;
  position: absolute;
  margin-top: -327px;
  right: 0;
}

.popup-buttons .asd{
  margin-right: none;
  position: absolute !important;
  margin-top: 0px !important;
  width: 80%;
  left: 10%;
}

.imagenItemAgregarComentario{
  object-fit: cover;
  height: 50px;
  width: 50px;
  border-radius: 50%;
  border-style: solid;
  border-width: 2px;
  border-color: #343594;
}

.textoEnviarComentarioModificar{
  position: absolute;
  right: 41px;
  /* left: -1%; */
  text-align: center;
  margin-top: 4px;
  color: white;
  font-weight: 700;
}

.txtRosado{
  color: #971259;
}

.imagenItemModificar{
  width: 100%;
  height: 100px;
  object-fit: cover;
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.lineaDivisionCalificar{
  width: 100%;
  height: 1px;
  background-color: #A9A9A9;
}

.txtCalificar{
  font-weight: 700;
  color: #808382;
  font-size: 17px;
}

.iconoSubTituloMenuAcciones{
  float: left;  
  width: 30px;  
  margin-left: 5%; 
  margin-right: 30px;  
  margin-top: 12px;
}

.textoSubTituloMenuAcciones{
  color: white;  
  font-weight: 800;  
  position: absolute;  
  width: 100%;  
  margin-top: 17px; 
  margin-left: 15%
}
.contenedorNombreFiltroServicio{
  background-color: #7164AC;
}

.contenedorNombreFiltroAtractivo{
  background-color: #755B3A;
}

.imgFiltrarServicioAtractivo{
  float: left;
  margin-top: 11px;
  left: 5%;
  width: 40px;
}

.imgAbrirServicioAtractivo{
  float: right;
  margin-top: -24px;
  margin-right: 5%;
  width: 17px;
}

.contenedorFiltroMiRecorridoAtractivoModal{
  background-color: white;
  color: black;
  width: 80%;
  margin-left: 10%;
  height: 50%;
  /*margin-top: 5%;*/
  overflow-y: scroll;
  overflow-x: hidden;
  position: absolute;
  z-index: 300;
}

.contenedorFiltroMiRecorridoServicioModal{
    background-color: white;
    color: black;
    width: 80%;
    margin-left: 10%;
    height: 50%;
    /*margin-top: 5%;*/
    overflow-y: scroll;
    overflow-x: hidden;
    position: absolute;
    z-index: 300;
  }




.contenedorTituloAtractivos{
  background-color: #705738;
  width: 101%;
  height: 40px;
}

.contenedorTituloServicios{
  background-color: #8171B2;
  width: 101%;
  height: 40px;
}

.txtTituloModalSelect{
  color: white;
  font-size: 18px;
  padding-top: 10px;
  margin-top: 1px;
}

.contenedorBtnFiltrarServicio{
  background: #8171B2;
  width: 101%;
  height: 40px;
  text-align: center;
}

.contenedorBtnFiltrarAtractivo{
  background: #705738;
  width: 101%;
  height: 40px;
  text-align: center;
}


.cerrarFiltroIniciarMiRecorrido{
  float: right;
  margin-right: 5%;
  margin-top: 3px;
  font-size: 35px;
  color: white;
}

.textoMoradoEmailEnviado{
  color: #454279;
  font-size: 20px;
  margin-top: 20px;
}

.modalEmailEnviado{
  border-style: solid;
  border-width: 2px;
  border-color: white;
  background-color: rgba(255, 255, 255, 0.58);
  position: absolute;
  width: 80%;
  left: 10%;
  height: 30%;
  top: 30%;
  z-index: 10;
  border-radius: 14px;
  text-align: center;
}

.item.item-text-wrap {
    background-color: #8871AF;
    color: white;
}

.estrellaValoracionPuntuacionDetalle{
  float: right;
}

.paddingLeftCero{
  padding-left: 0px;
  padding-top: 15px;
  padding-bottom: 15px;
}

.txtInformacion{
  text-align: left;
  margin-left: 12%;
}

.textoCalificar{
  text-align: right;
  padding-bottom: 5px;
  margin-left: 5%;
  color: #3A3A39;
  font-weight: 700;
}

.fotoPerfilReserva{
  /*display: block;
  margin-left: auto;
  margin-right: auto;
  width: 130px;
  margin-top: 40%;*/
  border: 2px solid #ffa500;
  display: block;
  margin-left: auto;
  margin-right: auto;
  object-fit: cover;
  border-radius:50%;
  width: 60px;
  height: 60px;
}

/*
::-webkit-scrollbar {
    -webkit-appearance: none;
}

::-webkit-scrollbar:vertical {
    width: 11px;
}

::-webkit-scrollbar:horizontal {
    height: 11px;
}

::-webkit-scrollbar-thumb {
    border-radius: 8px;
    border: 2px solid ##b7b7b7;
    background-color: rgba(0, 0, 0, .5);
}

::-webkit-scrollbar-track {
    background-color: ##b7b7b7;
    border-radius: 8px;
}*/


.title .ng-binding .title-left{
  left: 0px !important;
}


.title-left{
  left: 0px !important;
}

.popup-body {
  padding: 10px;
  overflow: auto;
  background-color: white;
}

.popup-buttons{
  background-color: white;
  border-bottom-style: solid;
  border-bottom-left-radius: 23px;
  border-bottom-right-radius: 23px;
}

.ion-ios-star-outline:before{
  margin-right: 5px;
}

.ion-ios-star:before{
  margin-right: 5px;
}



.option-selected {
    background-color: #3A2B86 !important;
}



/* CSS para celular*/
@media all and (min-width:320px) and (max-width: 360px) {
  /*Servicios y Atractivos*/
  /*.contenedorFiltroMiRecorridoServicioModalHeader{
    /*background-color: #8171B2;
    width: 80%;
    margin-left: 10%;
    height: auto;
    /*margin-top: 6%;*
    overflow-y: scroll;
    overflow-x: hidden;
    position: absolute;
    z-index: 300;*

    background-color: #8171B2;
    width: 80%;
    margin-left: 10%;
    height: auto;
    margin-top: 4%;
    overflow-y: scroll;
    overflow-x: hidden;
    position: fixed;
    z-index: 300;
  }

  .contenedorFiltroMiRecorridoAtractivoModalHeader{
    background-color: #705738;
    width: 80%;
    margin-left: 10%;
    height: auto;
    /*margin-top: 6%;*
    overflow-y: scroll;
    overflow-x: hidden;
    position: fixed;
    z-index: 300;
  }

  .contenedorFiltroMiRecorridoServicioModalFooter{
    background-color: #8171B2;
    width: 80%;
    margin-left: 10%;
    height: 40px;
    overflow-y: scroll;
    overflow-x: hidden;
    position: absolute;
    z-index: 300;
    margin-bottom: 28.5%;
  }

  .contenedorFiltroMiRecorridoAtractivoModalFooter{
    background-color: #705738;
    width: 80%;
    margin-left: 10%;
    height: 40px;
    overflow-y: scroll;
    overflow-x: hidden;
    position: fixed;
    z-index: 300;
    margin-bottom: 20%;
  }

  .textoFiltro {
    width: 80% !important; 
    margin-left: 10% !important;
    text-align: center;
  }*/

  .contenedorFiltroMiRecorridoServicioModalHeader{
    /*background-color: #8171B2;
    width: 80%;
    margin-left: 10%;
    height: auto;
    margin-top:4%;
    overflow-y: scroll;
    overflow-x: hidden;
    position: absolute;
    z-index: 300;*/

    background-color: #8171B2;
    width: 80%;
    margin-left: 10%;
    height: auto;
    margin-top: -1%;
    overflow-y: scroll;
    overflow-x: hidden;
    position: fixed;
    z-index: 300;
  }

  .contenedorFiltroMiRecorridoAtractivoModalHeader{
    background-color: #705738;
    width: 80%;
    margin-left: 10%;
    height: auto;
    margin-top: -2%;
    overflow-y: scroll;
    overflow-x: hidden;
    position: fixed;
    z-index: 300;
  }

  .contenedorFiltroMiRecorridoServicioModalFooter{
    /*background-color: #8171B2;
    width: 80%;
    margin-left: 10%;
    height: 40px;
    overflow-y: scroll;
    overflow-x: hidden;
    position: absolute;
    z-index: 300;
    margin-bottom: 62%;*/

    background-color: #8171B2;
    width: 80%;
    margin-left: 10%;
    height: 40px;
    overflow-y: scroll;
    overflow-x: hidden;
    position: fixed;
    z-index: 300;
    margin-bottom: 33%;
  }

  .contenedorFiltroMiRecorridoAtractivoModalFooter{
    background-color: #705738;
    width: 80%;
    margin-left: 10%;
    height: 40px;
    overflow-y: scroll;
    overflow-x: hidden;
    position: fixed;
    z-index: 300;
    margin-bottom: 25%;
  }

  .textoFiltro {
    width: 80% !important; 
    margin-left: 10% !important;
    text-align: center;
  }

  .imgFiltroServicioAtractivo{
    float: left;  
    height: 20px;  
    margin-right: 5px; 
    margin-top: 10px;
    margin-left: 80px;
  }

  .imgFiltroServicioAtractivo{
    float: left;  
    height: 20px;  
    margin-right: 5px; 
    margin-top: 10px;
    margin-left: 15px;
  }



  /* put your css styles in here */

  .tituloDetallePaqueteTuristico{
    text-transform: uppercase; 
    size: 50px; 
    overflow: hidden; 
    margin-left: 55px !important; 
    margin-right: 55px !important;
    width: 80% !important;
  }

  .contenedorFiltroMiRecorridoServicioModal{
    background-color: white;
    color: black;
    width: 80%;
    margin-left: 10%;
    height: 44.5%;
    /*margin-top: 5%;*/
    overflow-y: scroll;
    overflow-x: hidden;
    position: absolute;
    z-index: 300;
  }

  .imgRedSocial{
    width: 40px;
  }

  .contenedorNombreServicio{
    -webkit-box-shadow: inset 0px -7px 59px -16px rgba(0,0,0,0.33); 
    -moz-box-shadow: inset 0px -7px 59px -16px rgba(0,0,0,0.33); 
    box-shadow: inset 0px -7px 59px -16px rgba(0,0,0,0.33); 
    height: 40px; 
  }

  .contenedorNombreAtractivo{
    -webkit-box-shadow: inset 0px -7px 59px -16px rgba(0,0,0,0.33); 
    -moz-box-shadow: inset 0px -7px 59px -16px rgba(0,0,0,0.33); 
    box-shadow: inset 0px -7px 59px -16px rgba(0,0,0,0.33); 
    height: 50px; 
  }

  .nombreAtractivo{
    text-align: left; 
    margin-left: 10%; 
    /*margin-top: 5%; */
    margin-bottom: 0%;
  }

  .imgPlaceholderLoginCandado{
  position: absolute;
  height: 25px;
  margin-left: 6.1px;
  margin-top: 6px;
}

.imgPlaceholderLoginPass{
  position: absolute;
  height: 25px;
  margin-left: 6.1px;
  margin-top: 6px; 
}
}

/* CSS para tablet lenovo blanca*/
@media all and (min-width:361px) and (max-width: 480px) {

  /*Servicios y Atractivos*/

  .contenedorFiltroMiRecorridoServicioModalHeader{
    /*background-color: #8171B2;
    width: 80%;
    margin-left: 10%;
    height: auto;
    margin-top:4%;
    overflow-y: scroll;
    overflow-x: hidden;
    position: absolute;
    z-index: 300;*/

    background-color: #8171B2;
    width: 80%;
    margin-left: 10%;
    height: auto;
    margin-top: 4%;
    overflow-y: scroll;
    overflow-x: hidden;
    position: fixed;
    z-index: 300;
  }

  .contenedorFiltroMiRecorridoAtractivoModalHeader{
    background-color: #705738;
    width: 80%;
    margin-left: 10%;
    height: auto;
    margin-top: 4%;
    overflow-y: scroll;
    overflow-x: hidden;
    position: fixed;
    z-index: 300;
  }

  .contenedorFiltroMiRecorridoServicioModalFooter{
    /*background-color: #8171B2;
    width: 80%;
    margin-left: 10%;
    height: 40px;
    overflow-y: scroll;
    overflow-x: hidden;
    position: absolute;
    z-index: 300;
    margin-bottom: 62%;*/

    background-color: #8171B2;
    width: 80%;
    margin-left: 10%;
    height: 40px;
    overflow-y: scroll;
    overflow-x: hidden;
    position: fixed;
    z-index: 300;
    margin-bottom: 62%;
  }

  .contenedorFiltroMiRecorridoAtractivoModalFooter{
    background-color: #705738;
    width: 80%;
    margin-left: 10%;
    height: 40px;
    overflow-y: scroll;
    overflow-x: hidden;
    position: fixed;
    z-index: 300;
    margin-bottom: 36%;
  }

  .textoFiltro {
    width: 80% !important; 
    margin-left: 10% !important;
    text-align: center;
  }

  .imgFiltroServicioAtractivo{
    float: left;  
    height: 20px;  
    margin-right: 5px; 
    margin-top: 10px;
    margin-left: 80px;
  }

  /* put your css styles in here */

  .tituloDetallePaqueteTuristico{
    text-transform: uppercase; 
    size: 50px; 
    overflow: hidden; 
    margin-left: 55px !important; 
    margin-right: 55px !important;
  }

  .contenedorFiltroMiRecorridoServicioModal{
    background-color: white;
    color: black;
    width: 80%;
    margin-left: 10%;
    height: 33.5%;
    /*margin-top: 5%;*/
    overflow-y: scroll;
    overflow-x: hidden;
    position: absolute;
    z-index: 300;
  }

  .imgRedSocial{
    width: 50px;
  }

  .contenedorNombreServicio{
    -webkit-box-shadow: inset 0px -7px 59px -16px rgba(0,0,0,0.33); 
    -moz-box-shadow: inset 0px -7px 59px -16px rgba(0,0,0,0.33); 
    box-shadow: inset 0px -7px 59px -16px rgba(0,0,0,0.33); 
    height: 45px; 
  }

  .contenedorNombreAtractivo{
    -webkit-box-shadow: inset 0px -7px 59px -16px rgba(0,0,0,0.33); 
    -moz-box-shadow: inset 0px -7px 59px -16px rgba(0,0,0,0.33); 
    box-shadow: inset 0px -7px 59px -16px rgba(0,0,0,0.33); 
    height: 50px; 
  }

  .nombreAtractivo{
    text-align: left; 
    margin-left: 10%; 
    /*margin-top: 4%; */
    margin-bottom: 0%;
  }

  .imgPlaceholderLoginCandado{
  position: absolute;
  height: 25px;
  margin-left: 6.1px;
  margin-top: 2%;
}

.imgPlaceholderLoginPass{
  position: absolute;
  height: 25px;
  margin-left: 6.1px;
  margin-top: 2%; 
}
}


/* CSS para tablet lenovo negra */
@media all and (min-width:481px) and (max-width: 1080px) {

  /*Servicios y Atractivos*/

  .contenedorFiltroMiRecorridoServicioModalHeader{
    background-color: #8171B2;
    /*width: 100%;
    margin-left: 0;
    height: auto;
    top: 0px !important;
    overflow-y: scroll;
    overflow-x: hidden;
    position: absolute;
    z-index: 300;*/

    /*background-color: #705738;*/
    width: 80%;
    margin-left: 10%;
    height: auto;
    margin-top: 4%;
    overflow-y: scroll;
    overflow-x: hidden;
    position: fixed;
    z-index: 5000 !important;
  }

  .contenedorFiltroMiRecorridoAtractivoModalHeader{
    background-color: #705738;
    width: 80%;
    margin-left: 10%;
    height: auto;
    margin-top: 4%;
    overflow-y: scroll;
    overflow-x: hidden;
    position: fixed;
    z-index: 5000 !important;
  }

  .contenedorFiltroMiRecorridoServicioModalFooter{
    background-color: #8171B2;
    /*width: 80%;
    margin-left: 10%;
    height: 40px;
    overflow-y: scroll;
    overflow-x: hidden;
    position: absolute;
    z-index: 300;
    margin-bottom: 75%;*/

    width: 80%;
    margin-left: 10%;
    height: 40px;
    overflow-y: scroll;
    overflow-x: hidden;
    position: fixed;
    z-index: 5000 !important;
    margin-bottom: 42%;
  }

  .contenedorFiltroMiRecorridoAtractivoModalFooter{
    background-color: #705738;
    width: 80%;
    margin-left: 10%;
    height: 40px;
    overflow-y: scroll;
    overflow-x: hidden;
    position: fixed;
    z-index: 5000 !important;
    margin-bottom: 42%;
  }

  .textoFiltro {
    width: 80% !important; 
    margin-left: 10% !important;
    text-align: center;
  }

  .imgFiltroServicioAtractivo{
    float: left;  
    height: 20px;  
    margin-right: 5px; 
    margin-top: 10px;
    margin-left: 80px;
  }

  /* put your css styles in here */

  .tituloDetallePaqueteTuristico{
    text-transform: uppercase; 
    size: 50px; 
    overflow: hidden; 
    margin-left: 55px !important; 
    margin-right: 55px !important;
  }


  .imgRedSocial{
    width: 60px;
  }

  .contenedorNombreServicio{
    -webkit-box-shadow: inset 0px -7px 59px -16px rgba(0,0,0,0.33); 
    -moz-box-shadow: inset 0px -7px 59px -16px rgba(0,0,0,0.33); 
    box-shadow: inset 0px -7px 59px -16px rgba(0,0,0,0.33); 
    height: 50px; 
  }

  .contenedorNombreAtractivo{
    -webkit-box-shadow: inset 0px -7px 59px -16px rgba(0,0,0,0.33); 
    -moz-box-shadow: inset 0px -7px 59px -16px rgba(0,0,0,0.33); 
    box-shadow: inset 0px -7px 59px -16px rgba(0,0,0,0.33); 
    height: 50px; 
  }

  .nombreAtractivo{
    text-align: left; 
    margin-left: 10%; 
    /*margin-top: 3%; */
    margin-bottom: 0%;
  }

  .imgPlaceholderLoginCandado{
  position: absolute;
  height: 25px;
  margin-left: 6.1px;
  margin-top: 2%;
}

.imgPlaceholderLoginPass{
  position: absolute;
  height: 25px;
  margin-left: 6.1px;
  margin-top: 2%; 
}
}

/*ARREGLADOs*/

.tituloSaberMas{
    width: 80%;
    overflow: hidden;
    margin-right: 10%;
    margin-left: 10%;
    white-space: nowrap;
    text-overflow: ellipsis;
}  

.tituloAtrasEquis{
    width: 100% !important;
    overflow: hidden !important;
    margin-right: 0% !important;
    margin-left: 0% !important;
    text-align: center !important;
}

.imagenDetallePaquete {
  width: 80%;
  margin-left: 20px; 
  margin-right: 20px;
  margin-bottom: 30%; 
  margin-top: 50px;
}

.cajaImagenDetallePaquete {
  height: 250px;  
  width: 100%;  
  background-color: #E7E9D6; 
  -webkit-box-shadow: inset 0px 10px 19px 5px rgba(0,0,0,0.09);
  -moz-box-shadow: inset 0px 10px 19px 5px rgba(0,0,0,0.09);
  box-shadow: inset 0px 10px 19px 5px rgba(0,0,0,0.09);
}

.izquierda {
  text-align:left;
  color: white;
}

.corazonCalificar {
  height: 15px; 
  margin-right: 1%;
}

.btnNaranjaFondo{
  width: 160px;  
  height: 55px;  
  display: block;  
  margin-left: auto;  
  margin-right: auto;
  margin-bottom: -40px;
}

.botonMorado {
  margin-top: 100px !important;
  background-color: transparent;
  color: white;
  position: absolute !important;
  width: 80%;
  left: 10%;
}

.iconoMensajeReserva {
  float: left;
  height: 30px;
  margin-left: 5%;
  margin-right: 30px;  
}

.textoMensajeReserva {
  color: white;
  font-weight: 800;
  margin-top: 5px;
  margin-left: -15px;
}

.iconoGeoLocalizacion{
  content:url("../img/offline/localizacion.png");
  height: 20px;
  margin-top: 5px;
}
/*CENTRAR TITULO CON IMAGENES */

/*con objetos a la derecha*/
.imagenConObjetoDerecha{
  width: 20px;    
  height: 20px;    
  margin-left: 25%;    
  margin-right: 1%; 
}


.txtContinuarRutaTipica{
  color: white;
  font-size: 11px;
  position: absolute;
  margin-top: -7px; 
}

  
  #mapid {
        width:100%;
        height: 100%; 
  }

.imgFiltroRutasTipicas_v2{
  /*float: left;*/
  width: 20px;
  margin-right: 10px;
  /*margin-top: 12px;*/
}

.contenedorFiltroReservas_v2{
  height: 35px;
  background-color: #EA700C;
  width: 100%;
  /* margin: -10px;*/
}

.contenedorTextoFiltroReservas_v2{
  float: right;
  width: 100%;
}

.textoFiltroRutasTipicas_v2{
  color: white;
  /*padding-top: 12px;*/
  text-align: right;
}

.textoCompartirPaquete{
  text-align: center;
  font-size: large;
  color: #765DA4;
  margin-top: 12px;
}

.lineaSeparadoraPloma{
  margin-left: 50px;
  height:2px;
  background:#96989A;
  border-bottom:1px solid #96989A; 
  /*margin-bottom: 10px;
  margin-top: 20px;*/
}
.crop {
  object-fit: cover;
  width:85px;
  height:60px;
}

.margenAvisoCerca{
  text-align: center;
  margin: 0% 10% 0% 10%;
}

.topMenuAcciones_50 {
  top : 50px !important;
}

.topMenuAcciones_100 {
  top : 100px !important;
}

.contenidoInicio {
  margin-top: 55px;
}

.margenContent {
  margin-top: 145px;
}

.scrollbar
{
  margin-left: 30px;
  float: left;
  height: 300px;
  width: 65px;
  background: #F5F5F5;
  overflow-y: scroll;
  margin-bottom: 25px;
}

.imgExperienciaDetalleAtacama {
    width: 100%;
    /* height: 300px; */
    overflow: hidden;
    margin-bottom: 5px;
    background-size: cover;
}

.contenedorImgSiguiente{
  display: flex;
      justify-content: center;
      align-items: center;
      /* border: 1px solid; */
      /* width: 100%; */
      /* height: 42px; */
}
.contenedorImgSiguiente img{
  max-width: 25px;
  max-height: 25px;
}

.contenedorImgcompartir{
  display: flex;
      justify-content: center;
      align-items: center;
      /* border: 1px solid; */
      /* width: 100%; */
      /* height: 42px; */
}

.contenedorImgcompartir img{
  max-width: 60px;
  max-height: 60px;
}

.imgSubir{
      /* display: block; */
    /* width: 100%; */
    height: 80px !important;
    /* margin-bottom: 5px; */
    margin: auto;
    position: 0;
    width: auto;
    display: block;
    margin: auto;
}

#calificarRutasTipicasCrearHuella > li{
  display: table-cell;
    border: 0px;
    background: none;
    padding: 1px 1px;
    color: #F6CD5C;
  font-size: 58px !important;
}

.respuestasReserva {
  color: #9c9c9c;

}

.textoMenuFiltroBlanco{
  padding-left:10%;
  padding-top: 10px;
  color: white;
  margin-bottom: 0px;
  padding-bottom: 10px;
  height: 35px;
}

.tituloMenuAcciones{
  padding-top: 8px;
  background-color: white;
  width: 100%;
}
.txtCalificacion{
  font-size: 21px;
  text-align: center;
  color: #A0A0A0;
  margin-top: 10px;
}

.centerCalificacion{
      list-style: none;
    position: relative;
    left: 30%;
}

.imgOkSelect{
  float: right;
  height: 20px;
  z-index: 99999999999 !important;
  width: 20px;
}

.cerrarAlert{
  position: absolute;
  height: 5px;
  right: 0px;
  top: 0px;
  background-color: #ffffff08;
}

.asd2{
  right: -12px !important;
  position: absolute !important;
  margin-top: 0px !important;
  width: 3px;
  top: 0px;
  background: none;
  padding-right: 0px;
  padding-left: 0px;
}

.modalCompartir{
  width: 100%;
  height: 100%;
  z-index: 9999999998;
  background-color: rgba(0,0,0,0.4);
  position: absolute;
  top:0px;
  overflow: hidden !important;

}

.contenedorModalCompartir{
  position: absolute;
  top: 37%;
  width: 80%;
  z-index: 9999999999;
  background: white;
  margin-left: 10%;
  padding-top: 5%;
  padding-bottom: 5%;
  border-style: solid;
  border-width: 1px;
  border-color: white;
  border-radius: 3px;
}

.equisModalCrearRecorrido{
    position: absolute;
    top: 0;
    right: 0;
    padding-top: 6%;
    padding-right: 5%;
}

.txtcomparteConTusAmigos{
  margin-top: 0px;
  margin-left:5%;
  color: #5F4F9B;
  font-weight: 700;
}

.contenedorBtnEditar{
  position: absolute;
  bottom: 100px;
  right: 5%;
}

.imgEliminarItem{
  width:  40px !important;
  height: 40px !important;
}

.imgEliminarcomentario{
  width: 26px !important;
  height: 26px !important;
  margin-top: -4px;
  float: right;

}

.contenedorBtnEditarEliminar{
  float: right;
}