<ion-modal-view class="" ng-controller="agregarVideoCtrl"> <!-- class="modal_crear_huella" -->
    <ion-header-bar class="bar bar-header bar-positive contenedortituloModalFullscreenNuevo">
        <h1 class="title tituloModalFullscreenNuevo fuenteRoboto">Crear huella</h1>
        <button class="button button-clear button-primary" ng-click="cerrarModalAgregarVideo()"><i class="equisMenuModalAzul" style="margin-left: 15% !important;"></i></button>
    </ion-header-bar>

    <ion-content class="">
    	<img src="img/deja_tu_huella/imgAgregarDescripcion.png" alt="" class="imgAgregarHuella">
    	<p class="txtAgregarImgPrincipal">Agregar video</p>
		<div class="separadorAzul"></div>

       	<div class="list paddingRegistro">

			<div class = "row" ng-hide="noEdita">
				<div class = "col col-33 text-center" >
				  	<p>Desde archivo</p>
				    <i class='add ' ng-click="chooseVideo()"></i>
				</div>
				
				<div class="col col-33 text-center">
				   		<p>Grabar video</p>
				    <i class='camara ' ng-click="capturarVideo()"></i>
				    <!--<a ng-click="addVideoItem()"><p class="text-center">añadir video</p></a>-->
				</div>

				 <div class = "col col-33">
				 	Nombre Video: 
				 	<br>
				   	{{nombre.nombre}}
				</div>
			</div>

			<div ng-repeat="item in videos" >
				<div class = "row" ng-if="$even">
				  	<div class = "col col-50 text-center">
				   		{{videos[$index].fecha}}<br>
				   		{{videos[$index].nombre}}
				   		<div ng-show="videos[$index].id_usuario == id_usuario"><i class="equisMenuModalAzul" style="margin-right: 10px;color: black;" ng-click="eliminarVideo(videos[$index],$index)"></i></div>
				   		<img ng-click="openModalVisorVideo(videos[$index].video)" ng-class="{'imagenItem': hola[$index].foto}" class=" videoNueva" ></img>
				   	</div>
				   	<div class="col col-50 text-center">
				   		{{videos[$index+1].fecha}}<br>
				   		{{videos[$index+1].nombre}}
				   		<div ng-show="videos[$index+1].id_usuario == id_usuario"><i class="equisMenuModalAzul" style="margin-right: 10px;color: black;" ng-click="eliminarVideo(videos[$index+1],$index+1)"></i></div>
				   		<img ng-click="openModalVisorVideo(videos[$index+1].video)" ng-class="{'imagenItem': hola[$index+1].foto}" ng-show="videos[$index+1].video" class="videoNueva" ></img>
				   	</div>
				</div>
			</div>
			
       	</div>
		
		<div>
       		<div class="margenBtnRecorrerRuta" style="height: 46px;margin-bottom: 20px;" ng-click="addVideoItem()">
       		  <p class="textoIniciarSesion">GUARDAR</p>
       		  <img src="img/login/btnIngresar.png" alt="" class="btnIngresarLogin">
       		</div>
       	</div>

    </ion-content>
    <ion-footer-bar>
	  <!--<div class="buttons">
	    <button class="button button-full button-positive botonMisDatos" ng-click="cerrarModalAgregarVideo()">
	         <i class="volverAzul iconoBotonMisDatos"></i>
	    </button>
	  </div>
	  <h1 class="title"></h1>
	  <div class="buttons" ng-click="addVideoItem()" ng-hide="noEdita">
	    <button class="button button-full button-positive botonMisDatos">
	        <i class="guardarPlomo iconoBotonMisDatos"></i>
	    </button>
	  </div>-->
	  	<div class="contenedorAccionesDejaTuHuella">
		  	<div class="contenedorBotonesAcciones">
	       		<img src="img/deja_tu_huella/editar.png" alt="" class="imgMenuAtractivos" ng-click="openModalAgregarDescripcion()">
	       		<img src="img/atractivos/galeria.png" alt="" class="imgMenuAtractivos" ng-click="openModalSubirImagen()">
	       		<!--<img src="img/atractivos/video.png" alt="" class="imgMenuAtractivos" ng-click="openModalAgregarVideo()">-->
	          	<img src="img/atractivos/comentarios.png" alt="" class="imgMenuAtractivos" ng-click="openModalAgregarComentario()">
	          	<img src="img/atractivos/valoracion.png" alt="" class="imgMenuAtractivos" ng-click="openModalAgregarCalificar()">
	          	<img src="img/atractivos/compartir.png" alt="" class="imgMenuAtractivos">
        	</div>
       	</div>
	</ion-footer-bar>
</ion-modal-view>