<ion-modal-view class="" ng-controller="agregarCalificarCtrl"> <!-- class="modal_crear_huella" -->
    <ion-header-bar class="bar bar-header bar-positive contenedortituloModalFullscreenNuevo">
        <img src="img/nuevoHome/atras.png" alt="" class="imgAtrasRutasTipicas" style="margin-right: 5%" ng-click="atrasModalAgregarCalificar()">
            	<h1 class="tituloAtrasEquis title tituloModalFullscreenNuevo fuenteRoboto" >
            		<img src="img/deja_tu_huella/deja_tu_huella.png" alt="" class="" style="height:20px;  margin-top: 3%;  margin-right: 1%;"> CREAR HUELLA
            	</h1>
        <!--<button class="button button-clear button-primary" ng-click="cerrarModalAgregarCalificar()"><i class="equisMenuModalAzul" style="margin-left: 15% !important;"></i></button>-->
    </ion-header-bar>

    <ion-content class="">
       	<img src="img/deja_tu_huella/imgAgregarDescripcion.png" alt="" class="imgAgregarHuella">
    	<p class="txtAgregarImgPrincipal">Agregar calificar</p>
		<div class="separadorAzul"></div>

       	<div class="list paddingRegistro">
			<!--
			<p>Seguridad</p>
			<rating ng-model="ratingSeguridad.rate" max="ratingSeguridad.max"></rating>

			<p>Atractivo</p>
			<rating ng-model="ratingAtractivo.rate" max="ratingAtractivo.max"></rating>

			<p>Higiene</p>
			<rating ng-model="ratingHigiene.rate" max="ratingHigiene.max"></rating>
			-->
			<div ng-repeat="calificacion in calificaciones">
				<p class="txtCalificacion">{{calificacion.nombre_calificacion}} <span class="fechaComentario">({{calificacion.promedio}} de 5)</span></p>
				<rating class="centerCalificacion" ng-model="calificacion.puntaje_usuario" max="calificacion.maximo" id="calificarRutasTipicas"></rating>
        <!--
        <rating style="pointer-events: none;" ng-model="calificacion.puntaje_usuario"  class="estrellaValoracionPuntuacion" max="calificacion.maximo"  max="5" id="calificarRutasTipicasCrearHuella" ></rating> <!-- id="calificarRutasTipicasMenu" -->

			</div>

       	</div>
		
		<div>
       		<div class="margenBtnRecorrerRuta" style="height: 46px;margin-bottom: 20px;" ng-click="addCalificacionItem(ratingSeguridad.rate, ratingAtractivo.rate, ratingHigiene.rate)">
       		  <p class="textoIniciarSesion">GUARDAR</p>
       		  <img src="img/login/btnIngresar.png" alt="" class="btnIngresarLogin">
       		</div>
       	</div>

    </ion-content>
    <!--<ion-footer-bar>
	  <!--<div class="buttons">
	    <button class="button button-full button-positive botonMisDatos" ng-click="cerrarModalAgregarCalificar()">
	        <i class="volverAzul iconoBotonMisDatos"></i>
	    </button>
	  </div>
	  <h1 class="title"></h1>
	  <div class="buttons" ng-click="addCalificacionItem(ratingSeguridad.rate, ratingAtractivo.rate, ratingHigiene.rate)">
	    <button class="button button-full button-positive botonMisDatos">
	         <i class="guardarPlomo iconoBotonMisDatos"></i>
	    </button>
	  </div> --
	  	<div class="contenedorAccionesDejaTuHuella">
	  		<div class="contenedorBotonesAcciones">
	       		<img src="img/deja_tu_huella/editar.png" alt="" class="imgMenuAtractivos" ng-click="openModalAgregarDescripcion()">
	       		<img src="img/atractivos/galeria.png" alt="" class="imgMenuAtractivos" ng-click="openModalSubirImagen()">
	       		<!--img src="img/atractivos/video.png" alt="" class="imgMenuAtractivos" ng-click="openModalAgregarVideo()">--
	          	<img src="img/atractivos/comentarios.png" alt="" class="imgMenuAtractivos" ng-click="openModalAgregarComentario()">
	          	<img src="img/atractivos/valoracion.png" alt="" class="imgMenuAtractivos" ng-click="openModalAgregarCalificar()">
	          	<!-- <img src="img/atractivos/compartir.png" alt="" class="imgMenuAtractivos"> --
	        </div>
       	</div>
	</ion-footer-bar> -->
	<ion-footer-bar style="border: none !important;
    border-style: none !important;
    padding-left: 0px;
    padding-right: 0px;
    bottom: 8px;
    padding-top: 0px;
    border-top: none !important;">
    	<div class="contenedorAccionesDejaTuHuella">
    		<div class="row"> <!-- contenedorBotonesAcciones -->
    			<div class="col">
    				<img src="img/deja_tu_huella/editar.png" alt="" class="imgMenuAtractivos" ng-click="openModalAgregarDescripcion()">
    			</div>
    			<div class="col">
    				<img src="img/atractivos/galeria.png" alt="" class="imgMenuAtractivos" ng-click="openModalSubirImagen()">
    			</div>
    			<div class="col">
    				<img src="img/atractivos/comentarios.png" alt="" class="imgMenuAtractivos" ng-click="openModalAgregarComentario()">
    			</div>
    			<div class="col">
    				<img src="img/atractivos/valoracion.png" alt="" class="imgMenuAtractivos" ng-click="openModalAgregarCalificar()">
    			</div>
	       		<!--<img src="img/atractivos/video.png" alt="" class="imgMenuAtractivos" ng-click="openModalAgregarVideo()"> -->
	          	<!--<img src="img/atractivos/compartir.png" alt="" class="imgMenuAtractivos">-->
          	</div>
       	</div>
    </ion-footer-bar>
</ion-modal-view>