<ion-modal-view class="" ng-controller="agregarDescripcionCtrl"> <!-- class="modal_crear_huella" -->
    <ion-header-bar class="bar bar-header bar-positive contenedortituloModalFullscreenNuevo">
    	<img src="img/nuevoHome/atras.png" alt="" class="imgAtrasRutasTipicas" style="margin-right: 5%" ng-click="atrasModalAgregarDescripcion()">
    	<h1 class="tituloAtrasEquis title tituloModalFullscreenNuevo fuenteRoboto" >
    		<img src="img/deja_tu_huella/deja_tu_huella.png" alt="" class="" style="height:20px;  margin-top: 3%;  margin-right: 1%;"> CREAR HUELLA
    	</h1>
        <button class="button button-clear button-primary" ng-click="cerrarModalAgregarDescripcion()"><i class="equisMenuModalAzul" style="margin-left: 15% !important;"></i></button>
    </ion-header-bar>

    <ion-content class="">
    	<img src="img/deja_tu_huella/imgAgregarDescripcion.png" alt="" class="imgAgregarHuella">
    	<p class="txtAgregarImgPrincipal">Agregar descripción</p>
		<div class="separadorAzul"></div>
       	
       	<div class="list">
			<label class="item item-input inputLogin inputAgregarDescripcion">        
	        	<input type="text" ng-model="item.titulo" placeholder="Título huella" maxlength="30">
	        </label>
	        <div class="separadorPlomo"></div>
	        <label class="item item-input inputLogin inputAgregarDescripcion">
	        	<input type="text" ng-model="item.descripcion" placeholder="Agrega descripción">
	        </label>	
       	</div>

       	<div>
       		<div class="margenBtnRecorrerRuta" style="height: 46px;margin-bottom: 20px;" ng-click="addDescripcionItem(item)">
       		  <p class="textoIniciarSesion">GUARDAR</p>
       		  <img src="img/login/btnMorado.png" alt="" class="btnIngresarLogin">
       		</div>
       	</div>
		
		
    </ion-content>
    <!--<ion-footer-bar align-title="left" class="bar-light tituloModalFullscreen">
	  <div class="buttons">
	    <button class="button button-full button-positive botonMisDatos" ng-click="cerrarModalAgregarDescripcion()">
	         <i class="volverAzul iconoBotonMisDatos"></i>
	    </button>
	  </div>
	  <h1 class="title"></h1>
	  <div class="buttons" ng-click="addDescripcionItem(item)">
	    <button class="button button-full button-positive botonMisDatos">
	        <i class="guardarPlomo iconoBotonMisDatos"></i>
	    </button>
	  </div>
	</ion-footer-bar> -->
	<ion-footer-bar>
		<div class="contenedorAccionesDejaTuHuella">
			<div class="contenedorBotonesAcciones">
       			<img src="img/deja_tu_huella/editar.png" alt="" class="imgMenuAtractivos" ng-click="
       			openModalAgregarDescripcion()">
	       		<img src="img/atractivos/galeria.png" alt="" class="imgMenuAtractivos" ng-click="openModalSubirImagen()">
	       		<!--<img src="img/atractivos/video.png" alt="" class="imgMenuAtractivos" ng-click="openModalAgregarVideo()">-->
	          	<img src="img/atractivos/comentarios.png" alt="" class="imgMenuAtractivos" ng-click="openModalAgregarComentario()">
	          	<img src="img/atractivos/valoracion.png" alt="" class="imgMenuAtractivos" ng-click="openModalAgregarCalificar()">
	          	<!-- <img src="img/atractivos/compartir.png" alt="" class="imgMenuAtractivos"> -->
	        </div>
       	</div>
	</ion-footer-bar>
</ion-modal-view>