<ion-modal-view class="" ng-controller="agregarAudioCtrl"> <!-- class="modal_crear_huella" -->
    <ion-header-bar class="bar bar-header bar-positive tituloModalFullscreen"> <!-- #b0a4cb -->
        <i class="sonidoMenuNueva iconoMisDatos"></i>
        <h1 class="title" style="color:#000000;    font-size: 17px;">Agregar audio</h1>
        <button class="button button-clear button-primary" ng-click="cerrarModalAgregarAudio()"><i class="equisMenuModalAzul" style="margin-right: 10px;color: black;"></i></button>
    </ion-header-bar>
    <ion-content class="padding">
       	<div class="list paddingRegistro">

			<span>Desde archivo:</span>
			<label class="item item-input ">
          		<button class="button button-full button-light">
					Elegir archivo
				</button>
        	</label>
			
			<br>
        	<p>Grabar ahora</p>
        	<label >
        		<button class="button button-full button-light" ng-click="capturarAudio()">
					<i class="ion-mic-a" style="font-size:60px"></i>
				</button>
			</label>

       	</div>

       	<div class="contenedorAccionesDejaTuHuella">
          <div class="contenedorBotonesAcciones">
         		<img src="img/deja_tu_huella/editar.png" alt="" class="imgMenuAtractivos" ng-click="openModalAgregarDescripcion()">
         		<img src="img/atractivos/galeria.png" alt="" class="imgMenuAtractivos" ng-click="openModalSubirImagen()">
         		<!--<img src="img/atractivos/video.png" alt="" class="imgMenuAtractivos" ng-click="openModalAgregarVideo()">-->
            <img src="img/atractivos/comentarios.png" alt="" class="imgMenuAtractivos" ng-click="openModalAgregarComentario()">
            <img src="img/atractivos/valoracion.png" alt="" class="imgMenuAtractivos" ng-click="openModalAgregarCalificar()">
            <img src="img/atractivos/compartir.png" alt="" class="imgMenuAtractivos">
          </div>
       	</div>
    </ion-content>
    <ion-footer-bar align-title="left" class="bar-light tituloModalFullscreen">
	  <div class="buttons">
	    <button class="button button-full button-positive botonMisDatos" ng-click="cerrarModalAgregarAudio()">
	        <i class="volverAzul iconoBotonMisDatos"></i>
	    </button>
	  </div>
	  <h1 class="title"></h1>
	  <div class="buttons" ng-click="doSomething()">
	    <button class="button button-full button-positive botonMisDatos">
	         <i class="guardarPlomo iconoBotonMisDatos"></i>
	    </button>
	  </div>
	</ion-footer-bar>
</ion-modal-view>