<ion-modal-view class="" ng-controller="agregarComentarioCtrl"> <!-- class="modal_crear_huella" -->
    <ion-header-bar class="bar bar-header bar-positive contenedortituloModalFullscreenNuevo">
        <img src="img/nuevoHome/atras.png" alt="" class="imgAtrasRutasTipicas" style="margin-right: 5%" ng-click="atrasModalAgregarComentario()">
            	<h1 class="tituloAtrasEquis title tituloModalFullscreenNuevo fuenteRoboto" >
            		<img src="img/deja_tu_huella/deja_tu_huella.png" alt="" class="" style="height:20px;  margin-top: 3%;  margin-right: 1%;"> CREAR HUELLA
            	</h1>
        <!--<button class="button button-clear button-primary" ng-click="cerrarModalAgregarComentario()"><i class="equisMenuModalAzul" style="margin-left: 15% !important;"></i></button>-->
    </ion-header-bar>

    <ion-content class="">
    	<img src="img/deja_tu_huella/imgAgregarDescripcion.png" alt="" class="imgAgregarHuella">
    	<p class="txtAgregarImgPrincipal">Agregar comentario</p>
		<div class="separadorAzul"></div>

       	<div class="list paddingRegistro">

			<div class = "row">
			   	<div class = "col col-25">
			   		<img ng-class="{'imagenItemAgregarComentario': foto_perfil_usuario}"  ng-src="{{foto_perfil_usuario}}"></img>
			   	</div> 	
			   	<div class = "col col-75">
			   		<textarea ng-model="item.comentario" rows="4" cols="15" style="width: 100%;" placeholder="Agrega un comentario">
					</textarea>

					<div class="btnGuardarMisDatos" style="height: 46px;" ng-click="addComentario(item)">
    	       			<p class="textoEnviarComentarioModificar">Enviar</p>
	        			<img src="img/login/btnIngresar.png" alt="" class="btnEnviarComentario">
        			</div>
			   	</div>
			</div>
			
	        <div class = "row" ng-repeat="comentario in comentarios" class="delgadaLinea">
			  	<div class = "col col-75">
			   		<p>{{comentario.texto_comentario}}</p>
			   	</div>
			   	<div class = "col">
			   		<img ng-class="{'imagenItemAgregarComentario': comentario.foto_perfil}"  ng-src="{{comentario.foto_perfil}}"></img>
			   	</div>	
			</div>

			<!--
			<div class="row">
				<div class="col col-100">
			   		<button class="button button-positive btnIngersar" ng-click="addComentario(item)" style="background-color:#b0a4cb;">agregar comentario</button>
			  	</div>
			</div>-->

       	</div>

       	<!--<div>
       		<div class="margenBtnRecorrerRuta" style="height: 46px;margin-bottom: 20px;" ng-click="addComentario(item)">
       		  <p class="textoIniciarSesion">GUARDAR</p>
       		  <img src="img/login/btnIngresar.png" alt="" class="btnIngresarLogin">
       		</div>
       	</div>-->
       	
       	
    </ion-content>
    <!-- <ion-footer-bar>
	  <!--<div class="buttons">
	    <button class="button button-full button-positive botonMisDatos" ng-click="cerrarModalAgregarComentario()">
	        <i class="volverAzul iconoBotonMisDatos"></i>
	    </button>
	  </div>
	  <h1 class="title"></h1>
	  <div class="buttons" ng-click="addComentario(item)">
	    <button class="button button-full button-positive botonMisDatos">
	        <i class="guardarPlomo iconoBotonMisDatos"></i>
	    </button>
	  </div>--

	  	<div class="contenedorAccionesDejaTuHuella">
	  		<div class="contenedorBotonesAcciones">
	       		<img src="img/deja_tu_huella/editar.png" alt="" class="imgMenuAtractivos" ng-click="openModalAgregarDescripcion()">
	       		<img src="img/atractivos/galeria.png" alt="" class="imgMenuAtractivos" ng-click="openModalSubirImagen()">
	       		<!--<img src="img/atractivos/video.png" alt="" class="imgMenuAtractivos" ng-click="openModalAgregarVideo()"> --
	          	<img src="img/atractivos/comentarios.png" alt="" class="imgMenuAtractivos" ng-click="openModalAgregarComentario()">
	          	<img src="img/atractivos/valoracion.png" alt="" class="imgMenuAtractivos" ng-click="openModalAgregarCalificar()">
	          	<!-- <img src="img/atractivos/compartir.png" alt="" class="imgMenuAtractivos"> --
	         </div>
       	</div>
	</ion-footer-bar> -->
    <ion-footer-bar style="border: none !important;
    border-style: none !important;
    padding-left: 0px;
    padding-right: 0px;
    bottom: 8px;
    padding-top: 0px;
    border-top: none !important;">
    	<div class="contenedorAccionesDejaTuHuella">
    		<div class="row"> <!-- contenedorBotonesAcciones -->
    			<div class="col">
    				<img src="img/deja_tu_huella/editar.png" alt="" class="imgMenuAtractivos" ng-click="openModalAgregarDescripcion()">
    			</div>
    			<div class="col">
    				<img src="img/atractivos/galeria.png" alt="" class="imgMenuAtractivos" ng-click="openModalSubirImagen()">
    			</div>
    			<div class="col">
    				<img src="img/atractivos/comentarios.png" alt="" class="imgMenuAtractivos" ng-click="openModalAgregarComentario()">
    			</div>
    			<div class="col">
    				<img src="img/atractivos/valoracion.png" alt="" class="imgMenuAtractivos" ng-click="openModalAgregarCalificar()">
    			</div>
	       		<!--<img src="img/atractivos/video.png" alt="" class="imgMenuAtractivos" ng-click="openModalAgregarVideo()"> -->
	          	<!--<img src="img/atractivos/compartir.png" alt="" class="imgMenuAtractivos">-->
          	</div>
       	</div>
    </ion-footer-bar>
</ion-modal-view>