<ion-modal-view class="modalMisDatos"  ng-controller="configuracionCtrl">
    <ion-header-bar class="bar bar-header bar-positive tituloMisDatos">
        <i class="configuracionMenuAzul iconoMisDatos"></i>
        <h1 class="title" style="color:#000000;    font-size: 22px;">Configuración</h1>
        <button class="button button-clear button-primary" ng-click="cerrarModalConfiguracion()"><i class="equisMenuModalAzul" style="margin-right: 10px;color: black;"></i></button>
    </ion-header-bar>
    <ion-content class="padding paddingRegistro">
       	<div class="list">
          <p style="margin-left: 5px;">Radio</p>
          <label class="item item-input inputPopup">
            <button class="button button-light icon-right ion-arrow-down-b selectSexo" modal-select ng-model="login.sexo" options="selectables" modal-title="Distancia" hide-reset="true" cancel-button="_____" on-select="selectDistancia(newValue, oldValue)" header-footer-class="bar-assertiveAtacama">
              {{distanciaSeleccionada}}
              <div class="option">
                  {{option}}
              </div>
            </button>
          </label>
          <!--
              <br>
              <p style="margin-left: 5px;">Material audiovisual</p>
              <ion-checkbox class="checkboxConfiguracion" ng-model="material.video">video</ion-checkbox>
              <ion-checkbox class="checkboxConfiguracion" ng-model="material.audio">Audio</ion-checkbox>
              <ion-checkbox class="checkboxConfiguracion" ng-model="material.imagen">Imágen</ion-checkbox>
  
          -->
          <br><br><br><br><br>
          <div class="row">
	          <div class="col">
	           	<button class="button button-full button-positive botonMisDatos" ng-click="cerrarModalConfiguracion()">
	           		<i class="volverAzul iconoBotonMisDatos"></i>
	           	</button>
	          </div>
	          
	          <div class="col">
	            <button class="button button-full button-positive botonMisDatos" ng-click="guardarConfiguracion(material)">
	            	<i class="guardarPlomo iconoBotonMisDatos"></i>
	            </button>
	          </div>
	        </div>
       	</div>
    </ion-content>
</ion-modal-view>