<ion-modal-view class="modal_pantalla_completa" ng-controller="contactoCtrl">
    <div class="footerNuevoHome">
  		<img src="img/nuevoHome/logo.png" alt="" class="logoFooterNuevoHome">
	</div>

	<ion-header-bar class="bar bar-header bar-positive contenedortituloModalFullscreenNuevo">
      <!--<img src="img/nuevoHome/atras.png" alt="" class="imgAtrasRutasTipicas" ng-click="cerrarModalContacto()"> -->
    	
        <h1 class="title tituloModalFullscreenNuevo fuenteKini">
          <img src="img/login/correo.png" alt="" class="imgHeaderModalContacto" style="width: 20px;  height: 17px;  margin-right: 5%; margin-top: 2%;"> Contacto
        </h1>
        <button class="button button-clear button-primary" ng-click="cerrarModalContacto()"><i class="equisMenuModalAzul" style="margin-left: 15% !important;"></i></button>
    </ion-header-bar>


    <ion-content class="padding">
       	<div class="list paddingRegistro">   
	        	<textarea ng-model="$parent.contacto" rows="4" cols="15" style="width: 100%;height: 150px;" placeholder="Si tienes alguna duda sobre el funcionamiento de la aplicación no dudes en contactarnos...">
   				</textarea>   
       	</div>

       	<div class="btnGuardarPreferenciasDetalle" style="height: 46px;" ng-click="sendContacto(contacto)">
           		 <p class="textoIniciarSesion">ENVIAR</p>
           		 <img src="img/login/btnIngresar.png" alt="" class="btnIngresarLogin">
        </div>
    </ion-content>
    
    <!--<ion-footer-bar align-title="left" class="bar-light tituloModalFullscreen">
	  <div class="buttons">
	    <button class="button button-full button-positive botonMisDatos" ng-click="cerrarModalContacto()">
	        <i class="volverAzul iconoBotonMisDatos"></i>
	    </button>
	  </div>
	  <h1 class="title"></h1>
	  <div class="buttons" ng-click="sendContacto(contacto)">
	    <button class="button button-full button-positive botonMisDatos">
	         <i class="guardarPlomo iconoBotonMisDatos"></i>
	    </button>
	  </div>
	</ion-footer-bar> -->
</ion-modal-view>