<ion-modal-view class="modalCrearMarcador"  ng-controller="crearMarcadorCtrl">
    <ion-content class="padding">
       	
       		<div class = "row" style="text-align:center;">
			  	<div class = "col">
			   		<p ng-click="openModalMenuAcciones()" >Confirmar</p>
			   		
			   	</div>
			   	<div class = "col">
			   		<p ng-click="cerrarModalCrearMarcador()" >Cancelar</p>
			   		
			   	</div>
			</div>

    </ion-content>
</ion-modal-view>