<ion-modal-view cache-view="false" ng-hide="goBack">

	<div class="footerNuevoHome">
  		<img src="img/nuevoHome/logo.png" alt="" class="logoFooterNuevoHome">
	</div>

	<ion-header-bar class="bar bar-header bar-positive contenedortituloModalFullscreenNuevo" >
  		<img src="img/nuevoHome/atras.png" alt="" class="imgAtrasRutasTipicas" style="margin-right: 5%" ng-click="cerrarDejaTuHuella()">
    	<h1 class="title tituloModalFullscreenNuevo fuenteRoboto" style="width: 100%;">
    		<img src="img/deja_tu_huella/deja_tu_huella.png" alt=""  style="height:20px;  margin-top: 3%;  margin-right: 1%;  "> {{titulo}}
    	</h1>
	</ion-header-bar>

  	<ion-content>
    	<div ng-style="styleMapa" id="map_canvasDejaTuHuella">
<!--


    	<div class="contenedorFiltroMiRecorridoAtractivoModal" ng-show="showFiltroAtractivo">
    			<div class="contenedorTituloAtractivos" style="margin-top: -1px;">
    				<span class="cerrarFiltroIniciarMiRecorrido"  ng-click="cerrarModalFiltro()" style="margin-top: 10px;">x</span>
    				<img src="img/rutasTipicas/icono atractivo.png" alt="" style="float: left;  height: 20px;  margin-right: 5px; margin-top: 10px; margin-left: 15px">
    				<p class="fuenteRoboto txtTituloModalSelect" >Atractivos turísticos</p>
    			</div>
	    		<div ng-repeat="atractivo in atractivosTuristicos">
	    			<img src="img/iconoTipoAtractivo/{{atractivo.id_sub_tipo_atractivo}}.png" alt="" style="float: left;  width: 30px;  margin-right: 5px; margin-top: 8px;">
	    			<p class="fuenteRoboto textoMenuFiltro" ng-class="{'textoMenuFiltro': !atractivo.seleccionado, 'textoMenuFiltroPatrimonioSeleccionado': atractivo.seleccionado}" ng-click="mostrarPatrimonios(atractivo.id_sub_tipo_atractivo,$index)">{{atractivo.nombre}}</p>
	    			<div class="separadorCafe"></div>
	    		</div>
	    		<div class="contenedorBtnFiltrarAtractivo">
	    			<p class="txtTituloModalSelect" ng-click="cerrarModalFiltro()">Filtrar</p>
	    		</div>
	    	</div>

	    	<div class="contenedorFiltroMiRecorridoServicioModal" ng-show="showFiltroServicio">
	    		<div class="contenedorTituloServicios" style="margin-top: -1px;">
	    			<img src="img/rutasTipicas/servicio turistico-01.png" alt="" style="float: left;  height: 20px;  margin-right: 4px; margin-top: 10px; margin-left: 15px">
	    			<span class="cerrarFiltroIniciarMiRecorrido" ng-click="cerrarModalFiltro()" style="margin-top: 10px;">x</span>
	    			<p class="fuenteRoboto txtTituloModalSelect">Servicios turísticos</p>
	    		</div>
	    		<div ng-repeat="servicio in serviciosTuristicosMenu">

	    			<img src="img/iconoTipoServicio/{{servicio.id_tipo_servicio}}.png" alt="" style="float: left;  width: 30px;  margin-right: 5px; margin-top: 8px;">
	    			<p class="fuenteRoboto textoMenuFiltro" ng-class="{'textoMenuFiltro': !servicio.seleccionado, 'textoMenuFiltroServicioSeleccionado': servicio.seleccionado}" ng-click="mostrarServiciosTuristicos(servicio.id_tipo_servicio,$index)">{{servicio.nombre}}</p>


	    			<div class="separadorMorado"></div>
	    		</div>				
	    		<div class="contenedorBtnFiltrarServicio">
	    			<p class="txtTituloModalSelect" ng-click="cerrarModalFiltro()">Filtrar</p>
	    		</div>
	    	</div>
			
	FIN FILTROOOOOOOO
	
	-->		


	    	    	

	    		    <div class="scrollClass has-subheader has-footer contenedorFiltroMiRecorridoAtractivoModal" style="padding-bottom: 0px !important;" ng-show="showFiltroAtractivo">

		    		    <div class="bar bar-subheader contenedorFiltroMiRecorridoAtractivoModalHeader" ng-show="showFiltroAtractivo">
		    		    	
		    		    	
		    		    	<p class="tituloAtrasEquis fuenteRoboto txtTituloModalSelect" style="width: 90%; margin-left: 20%;"><img src="img/rutasTipicas/icono atractivo.png" alt="" style="float: left;  height: 17px;  margin-right: 5px; margin-top: 0px;">Atractivos turísticos</p>

		    		    	<span class="cerrarFiltroIniciarMiRecorrido"  ng-click="cerrarModalFiltro()" style="margin-left: 15px;margin-top: 5px;">x</span>
		    		    </div>

	    	    		<div ng-repeat="atractivo in atractivosTuristicos">
	    	    			<img src="img/iconoTipoAtractivo/{{atractivo.id_sub_tipo_atractivo}}.png" alt="" style="float: left;  width: 30px;  margin-right: 5px; ">
	    	    			<p class="fuenteRoboto textoMenuFiltro" ng-class="{'textoMenuFiltro': !atractivo.seleccionado, 'textoMenuFiltroPatrimonioSeleccionado': atractivo.seleccionado}" ng-click="mostrarPatrimonios(atractivo.id_sub_tipo_atractivo,$index)">{{atractivo.nombre}}</p>
	    	    			<div class="separadorCafe"></div>
	    	    		</div>

		    	    	<div class="bar bar-subfooter contenedorFiltroMiRecorridoAtractivoModalFooter" ng-show="showFiltroAtractivo">
		    	    		<p class="textoFiltro txtTituloModalSelect "  ng-click="cerrarModalFiltro()">Filtrar</p>
		    	    	</div>
	    	    		
	    	    	</div>

	    	    	





	    	    	

	    	    	<div class="scrollClass has-subheader has-footer contenedorFiltroMiRecorridoServicioModal" style="padding-bottom: 0px !important;" ng-show="showFiltroServicio">

	    	    		<div class="bar bar-subheader contenedorFiltroMiRecorridoServicioModalHeader" ng-show="showFiltroServicio">

	    	    			
	    	    			<p class="tituloAtrasEquis fuenteRoboto txtTituloModalSelect" style="width: 90%; margin-left: 20%;"><img src="img/rutasTipicas/servicio turistico-01.png" alt="" style="float: left;  height: 17px;  margin-right: 5px; margin-top: 0px;">Servicios turísticos</p>
	    	    			<span class="cerrarFiltroIniciarMiRecorrido" ng-click="cerrarModalFiltro()" style="margin-left: 15px; margin-top: 5px;">x</span>
	    	    			
	    	    		</div>
	    	    		
	    	    		<div ng-repeat="servicio in serviciosTuristicosMenu">

	    	    			<img src="img/iconoTipoServicio/{{servicio.id_tipo_servicio}}.png" alt="" style="float: left;  width: 30px;  margin-right: 5px;">
	    	    			<p class="fuenteRoboto textoMenuFiltro" ng-class="{'textoMenuFiltro': !servicio.seleccionado, 'textoMenuFiltroServicioSeleccionado': servicio.seleccionado}" ng-click="mostrarServiciosTuristicos(servicio.id_tipo_servicio,$index)">{{servicio.nombre}}</p>


	    	    			<div class="separadorMorado"></div> 
	    	    		</div>	


	    	    		<div class="bar bar-subfooter contenedorFiltroMiRecorridoServicioModalFooter" ng-show="showFiltroServicio">
	    	    			<p class="textoFiltro txtTituloModalSelect" ng-click="cerrarModalFiltro()">Filtrar</p>
	    	    		</div> 			
	    	    		
	    	    	</div>

	    	    	

		
	    	
    		<div class="contenedorDejaTuhuella" ng-show="opcionSeleciconada == false">
	            <div class="item-input inputLogin" ng-click="opcion(1)">
	            	<img src="img/deja_tu_huella/deja_tu_huella_icono.png" alt="" class="iconoInputMisdatos">
	                <p class="preguntaPreferenicas" ng-style="registroHuella">Registra tu huella</p>
	                <img src="img/nuevoHome/siguiente.png" alt="" class="imgSiguienteMenu">
	            </div>

	            <div class="item-input inputLogin" ng-click="opcion(2)">
	                <img src="img/deja_tu_huella/deja_tu_huella_icono.png" alt="" class="iconoInputMisdatos">     
	                <p class="preguntaPreferenicas" ng-style="miHuella">Ver mis huellas</p>
	                <img src="img/nuevoHome/siguiente.png" alt="" class="imgSiguienteMenu">
	            </div>

	            <div class="item-input inputLogin" ng-click="opcion(3)">
	                <img src="img/deja_tu_huella/deja_tu_huella_icono.png" alt="" class="iconoInputMisdatos">     
	                <p class="preguntaPreferenicas" ng-style="verHuellas">Ver todas las huellas</p>
	                <img src="img/nuevoHome/siguiente.png" alt="" class="imgSiguienteMenu">
	            </div>
	  		</div>

	  		<!--<div class="contenedorBotonesRutaTipica">
				<img src="img/rutasTipicas/casa.png" alt=""     class="botonesRutaTipica" ng-click="mostrarFiltroServicios()">
				<div></div>
				<img src="img/rutasTipicas/division.png" alt="" class="botonesRutaTipica" ng-click="mostrarFiltroAtractivos()">
			</div> 
			-->
    		<div class="contenedorBotonRegistrarHuella" ng-show="mostrarBotonesRegistrarhuella">
    			<div class="descartarHuella" ng-click="descartarHuella()"></div>
    			<div class="addHuella" ng-click="addHuella()"></div>
    			<img class="btnDejaTuHuella" src="img/deja_tu_huella/btn_deja_tu_huella.png" alt="" usemap="#Map" />
				<!--<map name="Map" id="Map">
				    <area shape="rect" coords="1,1,147,96" ng-click="descartarHuella()"/>
				    <area shape="rect" coords="150,2,299,95" ng-click="addHuella()"/>
				</map>-->
    		</div>

    	</div>
  	</ion-content>
</ion-modal-view>