<ion-modal-view class="modal_pantalla_completa"  ng-controller="detalleMenuExperienciaCtrl">
    
    <div class="row footerExperiencia">
        <div class="col contenedorBotonesFooter">
            <img src="img/experiencia/imgMenuPrograma.png" alt="" class="imgMenuExperiencia" ng-click="menu(1)" ng-hide="menuSeleccionado == 1">
            <img src="img/experiencia/imgMenuProgramaSeleccionado.png" alt="" class="imgMenuExperiencia" ng-show="menuSeleccionado == 1">
            <p class="txtBlanco txtMenuExperiencia" ng-style="programaDetalleMenu">PROGRAMA</p>
        </div>

        <div class="col contenedorBotonesFooter">
            <img src="img/experiencia/imgMenuIncluye.png" alt="" class="imgMenuExperiencia" ng-click="menu(2)" ng-hide="menuSeleccionado == 2">
            <img src="img/experiencia/imgMenuIncluyeSeleccionado.png" alt="" class="imgMenuExperiencia" ng-show="menuSeleccionado == 2">
            <p class="txtBlanco txtMenuExperiencia" ng-style="incluyeDetalleMenu">INCLUYE</p>
        </div>
        <div class="col contenedorBotonesFooter">
            <img src="img/experiencia/imgMenuVigencia.png" alt="" class="imgMenuExperiencia" ng-click="menu(3)" ng-hide="menuSeleccionado == 3">
            <img src="img/experiencia/imgMenuVigenciaSeleccionado.png" alt="" class="imgMenuExperiencia" ng-show="menuSeleccionado == 3">
            <p class="txtBlanco txtMenuExperiencia" ng-style="vigenciaDetalleMenu">VIGENCIA</p>    
        </div>
        <div class="col contenedorBotonesFooter">
            <img src="img/experiencia/imgMenuTraer.png" alt="" class="imgMenuExperiencia" ng-click="menu(4)" ng-hide="menuSeleccionado == 4">
            <img src="img/experiencia/imgMenuTraerSelccionado.png" alt="" class="imgMenuExperiencia" ng-show="menuSeleccionado == 4">
            <p class="txtBlanco txtMenuExperiencia" ng-style="traerDetalleMenu">TRAER</p>    
        </div>
        <div class="col contenedorBotonesFooter">
            <img src="img/experiencia/imgMenuReservar.png" alt="" class="imgMenuExperiencia" ng-click="menu(5)" ng-hide="menuSeleccionado == 5">
            <img src="img/experiencia/imgMenuReservarSeleccionado.png" alt="" class="imgMenuExperiencia" ng-show="menuSeleccionado == 5">
            <p class="txtBlanco txtMenuExperiencia" ng-style="reservaDetalleMenu">RESERVAR</p>    
        </div>
  		
  	</div>

    <ion-header-bar class="bar bar-header bar-positive contenedortituloModalFullscreenNuevo">
    	<img src="img/nuevoHome/atras.png" alt="" class="imgAtrasRutasTipicas" ng-click="cerrarModalDetalleMenuExperiencia()">
        <h1 class="tituloDetallePaqueteTuristico title tituloModalFullscreenNuevo fuenteRoboto" ng-style="h1DetalleExperiencia">
        	{{item.nombre_producto}}
        </h1>
        <button class="button button-clear button-primary" ng-click="goToNuevoHome()"><i class="equisMenuModalAzul" style="margin-left: 15% !important;"></i></button>
    </ion-header-bar>

    <div class="bar bar-subheader" style="background-color:#AB1765">
      <div class="contenedorTituloExperiencia text-center">
              <img class="iconoMenuExperiencia" ng-src="{{iconoMenu}}" alt="">
              <p class="textoTituloAtractivosTuristicos">{{nombreMenu}}</p>
           </div>
    </div>

    <ion-content class="scrollClass has-subheader">
           

           <p class="textoMargen" style="" ng-bind-html="trustAsHtml(cuerpo)"></p>

           <div ng-show="experienciaDetalleMostrar == 5" style="margin-left: 15%;">
               <h2 class="textoPlomo margenDerecha " ng-hide="{{ocultarPeso}} && {{ocultarDolar}}">Valor referencial</h2>

               <h1 class="textoPlomo margenDerecha" ng-hide="{{ocultarPeso}}">PESOS</h1>
                <p class="numeroMorado margenDerecha" ng-hide="{{ocultarPeso}}">${{item.precio_pesos}}</p>
               <h1 class="textoPlomo margenDerecha" ng-hide="{{ocultarDolar}}">DÓLARES</h1>
               <p class="numeroMorado margenDerecha" ng-hide="{{ocultarDolar}}">${{item.precio_dolar}}</p>

               
           </div>


           <div class="btnGuardarMisDatos" style="height: 46px;" ng-click="openModalReserva()" 
            ng-show="mostrarBtnReservar">
             <p class="textoBtonVerReservas_v2">RESERVAR</p>
             <img src="img/login/btnIngresar.png" alt="" class="btnIngresarLogin" style="margin-top: 50px;">
          </div>

            <br><br><br><br>
            <!-- <div class="cajaImagenDetallePaquete" ng-style="margenCaja"> -->
                <img ng-src="{{img}}" class="imagenDetallePaquete" alt="" style="width: 80%;  margin-left: 10%;   margin-right: 10%; " ng-hide="nombreMenu == 'RESERVAR' ">
           <!--  </div> -->
           
    </ion-content>
</ion-modal-view>