<ion-modal-view class="modal_pantalla_completa"  ng-controller="detalleExperienciaCtrl">
    
    <div class="footerExperiencia">
        <div class="row centrarMenu">
            <div class="col contenedorBotonesFooter">
                <img src="img/experiencia/imgMenuPrograma.png" alt="" class="imgMenuExperiencia" ng-click="menu(1)">
                <p class="txtBlanco txtMenuExperiencia" ng-style="programaDetalleMenu">PROGRAMA</p>
            </div>

            <div class="col contenedorBotonesFooter">
                <img src="img/experiencia/imgMenuIncluye.png" alt="" class="imgMenuExperiencia" ng-click="menu(2)">
                <p class="txtBlanco txtMenuExperiencia" ng-style="incluyeDetalleMenu">INCLUYE</p>
            </div>
            <div class="col contenedorBotonesFooter">
                <img src="img/experiencia/imgMenuVigencia.png" alt="" class="imgMenuExperiencia" ng-click="menu(3)">
                <p class="txtBlanco txtMenuExperiencia" ng-style="vigenciaDetalleMenu">VIGENCIA</p>    
            </div>
            <div class="col contenedorBotonesFooter">
                <img src="img/experiencia/imgMenuTraer.png" alt="" class="imgMenuExperiencia" ng-click="menu(4)">
                <p class="txtBlanco txtMenuExperiencia" ng-style="traerDetalleMenu">TRAER</p>    
            </div>
            <div class="col contenedorBotonesFooter">
                <img src="img/experiencia/imgMenuReservar.png" alt="" class="imgMenuExperiencia" ng-click="menu(5)">
                <p class="txtBlanco txtMenuExperiencia" ng-style="reservaDetalleMenu">RESERVAR</p>    
            </div>
        </div>
  	</div>

    <ion-header-bar class="bar bar-header bar-positive contenedortituloModalFullscreenNuevo">
    	<img src="img/nuevoHome/atras.png" alt="" class="imgAtrasRutasTipicas" ng-click="cerrarModalDetalleExperiencia()">
        <h1 class="tituloDetallePaqueteTuristico title tituloModalFullscreenNuevo fuenteRoboto " ng-style="h1DetalleExperiencia">
        	<!--<img src="img/nuevoHome/rutasTipicas.png" alt="" class="iconoHeaderModal">-->
            {{item.nombre_producto}}
        </h1>
        <!--<button class="button button-clear button-primary" ng-click="cerrarModalDetalleExperiencia()"><i class="equisMenuModalAzul" style="margin-left: 15% !important;"></i></button> -->
    </ion-header-bar>

    <div class="bar bar-subheader contenedorNombreAtractivo" style="height: 40px !important; top: 50px;">
        <div class="contenedorTituloSaberMas" style="height: 75px;">
            <h3 class="tituloSaberMas title tituloModalFullscreenNuevo fuenteRoboto" style="color: #111; text-align: left !important; top: 0px !important;">
                <img src="img/paquetesTuristicos/paquete.png" style="height: 15px; margin-right: 0%"> {{item.nombre_servicio}}
            </h3>
        </div>
        
    </div>

    <ion-content class="scrollClass has-subheader">
        
        <img ng-show="item.ruta_archivo_producto_servicio != 'http://200.14.68.107/atacamaGoMultimedia/'" ng-src="{{item.ruta_archivo_producto_servicio}}" alt="" class="imgExperienciaDetalleAtacama">
        
        <div ng-show="item.ruta_archivo_producto_servicio == 'http://200.14.68.107/atacamaGoMultimedia/'" style="margin-top: 10px;width:100%"></div>
        
        <div class="contenedorAccionesRuta" style="margin-top: -10px;">
            <img src="img/evento/compartir_azul.png" alt="" class="imgCompartirRutaRutasTipicas" ng-click="openCompartir()">
            <img src="img/atractivos/comentarios.png" alt="" class="imgCompartirRutaRutasTipicas" ng-click="openComentar()">
            <img src="img/experiencia/contacto.png" alt="" class="imgCompartirRutaRutasTipicas" ng-click="openContacto()">
            
            
        </div>
        
        <div class="scrollClass">
            <!--<div class="row">
                <div class="col">
                    <p style="margin-left: 65%; font-size: small;">Calificar ({{item.calificacion}} de 5)</p>
                </div>
                
            </div>-->
            <div class="row" ng-click="addCalificacion(null,item.calificacion)">
                <div class="col">
                    
                    <p class="textoCalificar">Calificar ({{item.calificacion}} de 5)</p>
                    <rating class="estrellaValoracionPuntuacionDetalle" style="margin-top: -2%;" ng-model="item.calificacion" max="5" id="calificarRutasTipicas" ng-disabled="true"></rating> 
                </div>
            </div>

            <b >
                <p class="textoMargen"  ng-bind-html="trustAsHtml(experienciaSeleccionada.descripcion_producto)"> </p>
            </b>

            <div>
                <center><img src="{{item.logo}}" ng-style="logo" class="img-tablet"></center>
                
            </div>
                
            <!--<p class="textoMargen" style="margin-top: 25px;" ng-bind-html="trustAsHtml(experienciaSeleccionada.detalle_paquete_turistico)"></p> -->
            

            <!--<p class="textoMargen"  ng-bind-html="trustAsHtml(experienciaSeleccionada.detalle_paquete_turistico)"></p>  -->  
        </div>
        
    </ion-content>
</ion-modal-view>