<ion-modal-view cache-view="false" ng-hide="goBack">

	<div class="footerNuevoHome">
  		<img src="img/nuevoHome/logo.png" alt="" class="logoFooterNuevoHome">
	</div>

	<ion-header-bar class="bar bar-header bar-positive contenedortituloModalFullscreenNuevo" >
  		<img src="img/nuevoHome/atras.png" alt="" class="imgAtrasRutasTipicas" ng-click="cerrarEventoVer()">
      
    	<h1 class="title tituloModalFullscreenNuevo fuenteRoboto" style="width: 70%; text-transform: uppercase; size: 50px; overflow: hidden; margin-left: 55px; margin-right: 55px;">
        <img src="img/evento/evento.png" alt="" class="" style="height:20px; margin-right: 1%; margin-left: 5%;">
    		Evento
    	</h1>
      <!-- <button class="button button-clear button-primary" ng-click="cerrarMapaEvento()"><i class="equisMenuModalAzul" style="margin-left: 15% !important;"></i></button> -->
	</ion-header-bar>

  	<ion-content style="z-index: 5">
    	<div style="width:100%; height:100%;" id="map_canvas222">
    	</div>
  	</ion-content>
</ion-modal-view>