<ion-modal-view class="modal_pantalla_completa"  ng-controller="eventosCtrl">

    <div class="footerNuevoHome">
      <img src="img/nuevoHome/logo.png" alt="" class="logoFooterNuevoHome">
    </div>

    <ion-header-bar class="bar bar-header bar-positive contenedortituloModalFullscreenNuevo">
      <img src="img/nuevoHome/atras.png" alt="" class="imgAtrasRutasTipicas" ng-click="cerrarModalEventos()">
      
      <h1 class="title tituloModalFullscreenNuevo fuenteKini">
          <img src="img/evento/evento.png" alt="" class="" style="height:20px;  margin-top: 3%;  margin-right: 1%;  ">
          EVENTOS
      </h1><!-- 
        <button class="button button-clear button-primary" ng-click="cerrarModalrutastipicas()"><i class="equisMenuModalAzul" style="margin-left: 15% !important;"></i></button> -->
    </ion-header-bar>

    <!--<ion-header-bar class="bar bar-header bar-positive tituloModalFullscreen"> <!-- #b0a4cb --
        <i class="eventosMenuNueva iconoMisDatos"></i>
        <h1 class="title" style="color:#000000;font-size: 17px;">Eventos</h1>
        <button class="button button-clear button-primary" ng-click="cerrarModalEventos()"><i class="equisMenuModalAzul" style="margin-right: 10px;color: black;"></i></button>
    </ion-header-bar>-->





    <div class="bar bar-subheader contenedorFiltroEvento" style="">
        <!-- Se cambio width -->
        <div class="contenedorTextoFiltroExperiencia">
            <img src="img/nuevoHome/filtro.png" alt="" class="imgFiltroRutasTipicas">
            <p class="textoFiltroRutasTipicas fuenteRoboto" ng-click="mostrarFiltro()">{{filtroActual}}</p>
        </div>
    </div>

    <!-- SE AÑADIO Z-INDEX -->
    


    <ion-content class="has-subheader" style = "margin-bottom: 55px; top:85px;">

      <div class="contenedorNombreFiltroEvento" ng-show="mostrarMenuFiltro">
        <div ng-repeat="comuna in comunas">
          <p class="fuenteRoboto textoMenuFiltro txtBlanco" ng-click="filtrar(comuna.id_comuna)">{{comuna.nombre}}</p>
        <div class="separadorBlanco"></div>  
        </div>
        
      </div>

        <div class="contenedorCuerpo" ng-repeat="evento in eventosFiltro" style="    height: 75px;">
          <div class="contenedorListaRutasTipicas" ng-click="openModalEventoSeleccionado(evento)">
            <div class="contenedorRutaTipica" style="height: 75px;">
              <img ng-show="evento.ruta_imagen_evento != 'http://200.14.68.107/atacamaGoMultimedia/' " ng-src="{{evento.ruta_imagen_evento}}" alt="" class="imgListaRutasTipicas crop">
              <img src="img/nuevoHome/siguiente.png" alt="" class="imgSiguienteListaRutasTipicas">
              <p class="tituloRutaTipica" style="margin-top: 17px; margin-left: 95px; text-transform: uppercase; overflow: hidden;  height: 30%;">{{evento.titulo_evento}}</p>
              <p class="distanciaRutaTipica"></p>
            </div>
            <div class="lineaSeparadorRutasTipicas"></div>
          </div>
        <br><br><br>

        <!--<div class="list">
          <br>
          <br>
          
          <div class="list" ng-repeat="evento in eventos">
            <h3>{{evento.titulo_evento}}</h3>
            <img ng-show="evento.ruta_imagen_evento != 'http://200.14.68.107/atacamaGoMultimedia/' " ng-src="{{evento.ruta_imagen_evento}}" alt="" width="100%">

            <div class="fondoMorado">
              <p ng-click="mostrarMarcadorEvento(evento)"><i class="gpsMoradoEventos"></i></p>
              <!--<h4>Descripcion:</h4>--
              <p class="margen3Porciento" ng-bind-html="trustAsHtml(evento.descripcion_evento)"></p>
              
              <h4>Fechas:</h4>
              <!--<div class="fechasEvento" ng-repeat="fecha in evento.fechas_evento">
                <p class="margen3Porciento"> {{fecha.inicio_fecha_evento | date :  "dd.MM.yyyy"}} - {{fecha.fin_fecha_evento | date :  "dd.MM.yyyy"}} ({{fecha.inicio_dia_evento}} - {{fecha.fin_dia_evento}}) </p>
                <p class="margen4Porciento"> Desde: {{fecha.inicio_hora_evento | date: "HH:mm"}}  </p>
                <p class="margen4Porciento"> Hasta: {{fecha.fin_hora_evento | date: "HH:mm"}}</p> 
              </div>--
              <div class="fechasEvento" ng-repeat="item in evento.fechas_evento">
                {{item.fecha}}
              </div>
              
              <h4>Dirección:</h4>
              <p class="margen3Porciento">{{evento.descripcion_direccion}}</p>
              
              <pclass="margen3Porciento" ng-show="evento.link_evento"> Más información en <a ng-click="hrefWeb(evento.link_evento)">{{evento.link_evento}}</a></p>
            </div>

            <!--<p>Enviado por: {{evento.nombre}} {{evento.apellido_paterno}} {{evento.apellido_materno}} </p>--
            <p ng-hide="evento.servicios_eventos[0] == null">Enviado por:</p>
            
            <div class="list" ng-repeat="servicio in evento.servicios_eventos">
              <a class="item item-thumbnail-left">
                <img src="{{servicio.ruta_archivo_servicio}}" style="height: auto;width: 100%">
                <h4 style="overflow:inherit;">{{servicio.nombre_servicio}}</h4>
                <h4 style="overflow:inherit;">{{servicio.nombre_tipo_servicio}}</h4>
              </a>
            </div>
            
            <hr style="border-top: 4px dotted #3A3189;margin-top: 15px;margin-bottom: 15px;">

          </div>

        </div> -->
    </ion-content>
</ion-modal-view>