<ion-modal-view class="modal_pantalla_completa" ng-controller="experienciaAtacamaContactoCtrl">
    <!--<ion-header-bar class="bar bar-header bar-positive tituloModalFullscreen"> <!-- #b0a4cb
        <i class="estrellaMenuNueva iconoMisDatos"></i>
        <h1 class="title" style="color:#000000;font-size: 17px;">{{item.nombre}}</h1>
        <button class="button button-clear button-primary" ng-click="cerrarModalModificarCalificar()"><i class="equisMenuModalAzul" style="margin-right: 10px;color: black;"></i></button>
    </ion-header-bar>-->

    <div class="footerNuevoHome">
  		<img src="img/nuevoHome/logo.png" alt="" class="logoFooterNuevoHome">
  	</div>

    <ion-header-bar class="bar bar-header bar-positive contenedortituloModalFullscreenNuevo">
    	<img src="img/nuevoHome/atras.png" alt="" class="imgAtrasRutasTipicas" ng-click="cerrarModalExperienciaAtacamaContacto(1)">
        <h1 class="title tituloModalFullscreenNuevo fuenteRoboto" style="width: 70%; text-transform: uppercase; size: 50px; overflow: hidden; margin-left: 55px; margin-right: 55px;">
        	{{item.nombre_producto}} 
        </h1>

        <button class="button button-clear button-primary" ng-click="goToNuevoHome()"><i class="equisMenuModalAzul" style="margin-left: 15% !important;"></i></button>

    </ion-header-bar>

    <div class="bar bar-subheader" style="background-color:#AB1765">
      <div class="contenedorTituloExperiencia text-center">
              <img class="iconoMenuExperiencia" src="img/paquetesTuristicos/invContacto.png" alt="">
              <p class="textoTituloAtractivosTuristicos">Contacto</p>
      </div>
    </div>

    <ion-content class="scrollClass has-subheader" style="margin-bottom: 55px;">
     
        <div class="row">
          <div class="col col-10" style="margin-left: 5%;">
                <img src="img/paquetesTuristicos/direccion.png" class="imgMenuModificar" style="margin-top: 20%;">
          </div>
          
          <div class="col col-55">
                <p>Dirección</p>
                <p style="text-align: justify; user-select: all;">{{item.direccion_servicio}}, {{item.comuna}}</p>
          </div>
        </div>

        <div class="lineaSeparadoraPloma" style="margin-left: 0%;"></div>

        <div class="row">
          <div class="col col-10" style="margin-left: 5%;">
                <img src="img/paquetesTuristicos/telefono.png" style="float: left;  margin-left: 6%;  width: 8px;  margin-right: 20px; margin-top: 20%;">
          </div> 
          <div class="col col-55">
                <p class="textoPaquete" ng-repeat="telefonito in item.telefono" style="user-select: all;">{{telefonito}}</p>
          </div>
        </div>

        <div class="lineaSeparadoraPloma" style="margin-left: 0%;"></div>

        <div class="row">
          <div class="col col-10" style="margin-left: 5%;">
                <img src="img/paquetesTuristicos/contacto.png" class="imgMenuModificar" style="margin-top: 20%;">
          </div>
          <div class="col col-55">
                <p class="textoPaquete" ng-repeat="correito in item.correo" style="user-select: all;">{{correito}}</p>
          </div>
        </div>

        <div class="lineaSeparadoraPloma" style="margin-left: 0%;"></div>

        <div class="row">
            <div class="col">
                <p class="textoCompartirPaquete">¡Visitanos!</p>
            </div>
        </div>

        <div class="row">

          <div class = "col" style="padding-bottom: 50px;">
              <a   class="ahrefCetner">
                  <img ng-click="hrefweb(item.facebook)" ng-show="item.facebook" src="img/paquetesTuristicos/facebook.png" alt="" class="imgRedSocial"> <img ng-click="hrefweb(item.twitter)" ng-show="item.twitter" src="img/paquetesTuristicos/twitter.png" alt="" class="imgRedSocial">  <img ng-click="hrefweb(item.tripadvisor)" ng-show="item.tripadvisor" src="img/paquetesTuristicos/tripadvisor.png" alt="" class="imgRedSocial"> <img  ng-click="hrefweb(item.instagram)" ng-show="item.instagram" src="img/paquetesTuristicos/instagram.png" alt="" class="imgRedSocial">  
              </a>
          </div>
            <!-- <a target="_blank" ng-hide="item.facebook == '' " ng-click="link(item.facebook)"><img src="img/facebook.png" alt="" class="redSocialPaquete" ></a>

            <a target="_blank" ng-hide="item.twitter == '' " ng-click="link(item.twitter)"><img src="img/twitter.png" alt="" class="redSocialPaquete" ></a>

            <a target="_blank" ng-hide="item.instagram == '' " ng-click="link(item.instagram)"><img src="img/instagram.png" alt="" class="redSocialPaquete" ></a>

            <a target="_blank" ng-hide="item.tripadvisor == '' " ng-click="link(item.tripadvisor)"><img src="img/tripadvisor.png" alt="" class="redSocialPaquete" ></a> -->
        </div>

        <div class="row">
            <div class="col" style="text-align: center">
                <img src="{{item.logo}}" style="width: 200px;">
            </div>
        </div>
      

    </ion-content>
    <!--<ion-footer-bar align-title="left" class="bar-light tituloModalFullscreen">
	  <div class="buttons">
	    <button class="button button-full button-positive botonMisDatos" ng-click="cerrarModalModificarCalificar()">
	         <i class="volverAzul iconoBotonMisDatos"></i>
	    </button>
	  </div>
	  <h1 class="title"></h1>
	  <div class="buttons" ng-click="addCalificacionItem(ratingSeguridad.rate, ratingAtractivo.rate, ratingHigiene.rate)">
	    <button class="button button-full button-positive botonMisDatos">
	        <i class="guardarPlomo iconoBotonMisDatos"></i>
	    </button>
	  </div>
	</ion-footer-bar> -->
</ion-modal-view>