<ion-modal-view class="modal_pantalla_completa" ng-controller="experienciaAtacamaComentarCtrl">
    <!--<ion-header-bar class="bar bar-header bar-positive tituloModalFullscreen"> <!-- #b0a4cb
        <i class="estrellaMenuNueva iconoMisDatos"></i>
        <h1 class="title" style="color:#000000;font-size: 17px;">{{item.nombre}}</h1>
        <button class="button button-clear button-primary" ng-click="cerrarModalModificarCalificar()"><i class="equisMenuModalAzul" style="margin-right: 10px;color: black;"></i></button>
    </ion-header-bar>-->

    <div class="footerNuevoHome">
  		<img src="img/nuevoHome/logo.png" alt="" class="logoFooterNuevoHome">
  	</div>

    <ion-header-bar class="bar bar-header bar-positive contenedortituloModalFullscreenNuevo">
    	<img src="img/nuevoHome/atras.png" alt="" class="imgAtrasRutasTipicas" ng-click="cerrarModalExperienciaAtacamaComentar()">
        <h1 class="title tituloModalFullscreenNuevo fuenteRoboto" style="width: 70%; text-transform: uppercase; size: 50px; overflow: hidden; margin-left: 55px; margin-right: 55px;">
            {{itemSeleccionado.nombre_producto}} 
        </h1>
        <button class="button button-clear button-primary" ng-click="goToNuevoHome()"><i class="equisMenuModalAzul" style="margin-left: 15% !important;"></i></button>
    </ion-header-bar>

    <div class="bar bar-subheader" style="background-color:#AB1765">
      <div class="contenedorTituloExperiencia text-center">
              <img class="iconoMenuExperiencia" src="img/paquetesTuristicos/invComentario.png" alt="">
              <p class="textoTituloAtractivosTuristicos">Comentarios</p>
      </div>
    </div>

    <ion-content class="scrollClass has-subheader">
    	<div class="list" ng-show="esAndroid">

            <div class = "row delgadaLinea">
                <div class = "col col-25">
                    <img ng-class="{'imagenItemUsuario': foto_perfil_usuario}"  ng-src="{{foto_perfil_usuario}}"></img>
                </div>
                <div class = "col col-75">
                    <textarea ng-model="item.comentario" rows="4" cols="15" style="width: 100%;" placeholder="Agrega un comentario">
                    </textarea>

                    <div class="" style="height: 46px; width: 70px; float: right;" ng-click="addComentario(item)">
                        <p class="textoEnviarComentario">Enviar</p>
                        <img src="img/login/btnIngresar.png" alt="" class="btnEnviarComentario">
                    </div>
                </div>
            
            </div>

            <div class = "row delgadaLinea" ng-repeat="comentario in comentarios">
                <div class = "col">
                    <img ng-class="{'imagenItemComentario': comentario.foto_perfil}" ng-show="comentario.foto_perfil != 'http://200.14.68.107/atacamaGoMultimedia/files/perfil/' " ng-src="{{comentario.foto_perfil}}"></img>

                    <img ng-class="{'imagenItemComentario': comentario.foto_perfil}" ng-show="comentario.foto_perfil == 'http://200.14.68.107/atacamaGoMultimedia/files/perfil/' " src="img/perfil.jpg"></img>
                </div>  

            <div class = "col col-75">
                <div class="row">
                    <div style="position: absolute;right: 10%;" >
                         <div ng-show="id_usuario == comentario.id_usuario" ng-click="deleteComentario(comentario)" >
                            <img src="img/rutasTipicas/eliminar.png" alt="" class="imgEliminarcomentario">
                         </div>
                    </div> 

                    <!--<div style="position: absolute;right: 0%;" >
                        <div ng-show="id_usuario == comentario.id_usuario" ng-click="deleteComentario(comentario,$index)" >
                              <i class="equisMenuModalAzul" style="margin-right: 10px;margin-top: 0px;color: black;"></i>
                        </div>
                    </div> -->
                </div>
                
                <div class="fechaComentario" style="margin-left: 4%;margin-right: 21%">
                    {{comentario.texto_comentario}}
                </div>
                    <!--<p>{{comentario.texto_comentario}} <span class="fechaComentario">{{comentario.fecha_comentario}}</span></p>-->
            </div>
              
        </div>

        <div class="btnGuardarMisDatos" style="height: 46px;" ng-click="masComentarios(cantComentarios)">
            <p class="textoIniciarSesion">Más comentarios</p>
            <img src="img/login/btnIngresar.png" alt="" class="btnIngresarLogin">
        </div>


        <div class="list" overflow-scroll="false" ng-hide="esAndroid">

            <div class = "row delgadaLinea">
                <div class = "col col-75">
                    <textarea ng-model="item.comentario" rows="4" cols="15" style="width: 100%;" placeholder="comentario nuevo...">
                    </textarea>
                </div>
                <div class = "col col-25">
                    <img ng-class="{'imagenItemComentario': foto_perfil_usuario}"  ng-src="{{foto_perfil_usuario}}"></img>
                </div>  
            </div>

        <div class = "row delgadaLinea" ng-repeat="comentario in comentarios">
            <div class = "col col-75">
                <div class="row">
                    <div class="col col-33 col-offset-75 fechaComentario">
                        {{comentario.fecha_comentario}}
                        <div ng-show="comentario.id_usuario == id_usuario" ng-click="eliminarImagen(hola[$index],$index)"><i class="equisMenuModalAzul" style="margin-right: 10px;color: black;"></i>
                        </div>
                    </div>
                </div>
            
                <div>
                    {{comentario.texto_comentario}}
                </div>
                    <!--<p>{{comentario.texto_comentario}} <span class="fechaComentario">{{comentario.fecha_comentario}}</span></p>-->
            </div>
            <div class="col">
                <img ng-class="{'imagenItem': comentario.foto_perfil}"  ng-src="{{comentario.foto_perfil}}"></img>
            </div>  
        </div>

        <button class="button button-block button-royal" ng-click="masComentarios(cantComentarios)">
            Más comentarios
        </button>

      <!--
      <div class="row">
        <div class="col col-100">
            <button class="button button-positive btnIngersar" ng-click="addComentario(item)" style="background-color:#b0a4cb;">agregar comentario</button>
          </div>
      </div>-->

    </ion-content>
    
</ion-modal-view>