<ion-modal-view cache-view="false" ng-hide="goBack">

	<div class="footerNuevoHome">
  		<img src="img/nuevoHome/logo.png" alt="" class="logoFooterNuevoHome">
	</div>

	<ion-header-bar class="bar bar-header bar-positive contenedortituloModalFullscreenNuevo" >
  		<img src="img/nuevoHome/atras.png" alt="" class="imgAtrasRutasTipicas"  ng-click="cerrarIniciarMiRecorrido()">
    	<h1 class="title tituloModalFullscreenNuevo fuenteKini">
    		<img src="img/misRecorridos/iniciarRecorrido.png" alt="" class="" style="height:20px;  margin-top: 3%;  margin-right: 1%;  "> INICIAR MI RECORRIDO
    	</h1>
	</ion-header-bar>

  	<ion-content>
    	<div ng-style="styleMapa" id="map_canvas">

    		 <!-- 
					PRIMERA FORMA INICIO

    		 <div class="contenedorFiltroMiRecorridoAtractivoModal" ng-show="showFiltroAtractivo">
    			<div class="contenedorTituloAtractivos" style="margin-top: -1px;">
    				<span class="cerrarFiltroIniciarMiRecorrido" ng-click="cerrarModalFiltro()" style="margin-top: 10px;">x</span>
    				<img src="img/rutasTipicas/icono atractivo.png" alt="" style="float: left;  height: 20px;  margin-right: 4px; margin-top: 10px; margin-left: 15px">
    				<p class="fuenteRoboto txtTituloModalSelect">Atractivos turísticos</p>
    			</div>
	    		<div ng-repeat="atractivo in atractivosTuristicos">
	    			<img src="img/iconoTipoAtractivo/{{atractivo.id_sub_tipo_atractivo}}.png" alt="" style="float: left;  height: 30px;  margin-right: 5px; margin-top: 8px;">
	    			<p class="fuenteRoboto textoMenuFiltro" ng-class="{'textoMenuFiltro': !atractivo.seleccionado, 'textoMenuFiltroPatrimonioSeleccionado': atractivo.seleccionado}" ng-click="mostrarPatrimonios(atractivo.id_sub_tipo_atractivo,$index)">{{atractivo.nombre}}</p>
	    			<div class="separadorCafe"></div>
	    		</div>
	    		<div class="contenedorBtnFiltrarAtractivo">
	    			<p class="txtTituloModalSelect" ng-click="cerrarModalFiltro()">Filtrar</p>
	    		</div>
	    	</div>

	    	<div class="contenedorFiltroMiRecorridoServicioModal" ng-show="showFiltroServicio">
	    		<div class="contenedorTituloServicios" style="margin-top: -1px;">
	    			<img src="img/rutasTipicas/servicio turistico-01.png" alt="" style="float: left;  height: 20px;  margin-right: 4px; margin-top: 10px; margin-left: 15px">
	    			<span class="cerrarFiltroIniciarMiRecorrido" ng-click="cerrarModalFiltro()" style="margin-top: 10px;">x</span>
	    			<p class="fuenteRoboto txtTituloModalSelect">Servicios turísticos</p>
	    		</div>
	    		<div ng-repeat="servicio in serviciosTuristicosMenu">
	    			<img src="img/iconoTipoServicio/{{servicio.id_tipo_servicio}}.png" alt="" style="float: left;  width: 30px;  margin-right: 5px; margin-top: 8px;">
	    			<p class="fuenteRoboto textoMenuFiltro" ng-class="{'textoMenuFiltro': !servicio.seleccionado, 'textoMenuFiltroServicioSeleccionado': servicio.seleccionado}" ng-click="mostrarServiciosTuristicos(servicio.id_tipo_servicio,$index)">{{servicio.nombre}}</p>
	    			<div class="separadorMorado"></div>
	    		</div>				
	    		<div class="contenedorBtnFiltrarServicio">
	    			<p class="txtTituloModalSelect" ng-click="cerrarModalFiltro()">Filtrar</p>
	    		</div>
	    	</div> 
					PRIMERA FORMA FIN
			
	    	 -->



	    	<!-- 
				INICIOOOO-->


	    	<div class="scrollClass has-subheader has-footer contenedorFiltroMiRecorridoServicioModal" style="padding-bottom: 0px !important;" ng-show="showFiltroServicio">

	    		<div class="bar bar-subheader contenedorFiltroMiRecorridoServicioModalHeader" ng-click="cerrarModalFiltro()">
	    			<p class="tituloAtrasEquis fuenteRoboto txtTituloModalSelect" style="width: 90%;"><img src="img/rutasTipicas/servicio turistico-01.png" alt="" style="float: left;  height: 17px;  margin-right: 5px; margin-top: 0px;">Servicios turísticos</p>
	    			<span class="cerrarFiltroIniciarMiRecorrido" style="margin-left: 15px; margin-top: 5px;">x</span>
	    		</div>
	    		
	    		<div ng-repeat="servicio in serviciosTuristicosMenu">
	    			<img src="img/iconoTipoServicio/{{servicio.id_tipo_servicio}}.png" alt="" style="float: left;  width: 30px;  margin-right: 5px;">
	    			<p class="fuenteRoboto textoMenuFiltro" ng-class="{'textoMenuFiltro': !servicio.seleccionado, 'textoMenuFiltroServicioSeleccionado': servicio.seleccionado}" ng-click="mostrarServiciosTuristicos(servicio.id_tipo_servicio,$index)">{{servicio.nombre}}</p>
	    			<div class="separadorMorado"></div> 
	    		</div>	

	    		<div class="bar bar-subfooter contenedorFiltroMiRecorridoServicioModalFooter" >
	    			<p class="textoFiltro txtTituloModalSelect" ng-click="cerrarModalFiltro()">Filtrar</p>
	    		</div> 			
	    	</div>	

	    	<div class="scrollClass has-subheader has-footer contenedorFiltroMiRecorridoAtractivoModal" style="padding-bottom: 0px !important;" ng-show="showFiltroAtractivo">

    		    <div class="bar bar-subheader contenedorFiltroMiRecorridoAtractivoModalHeader" ng-click="cerrarModalFiltro()"> 	
	    		    <p class="tituloAtrasEquis fuenteRoboto txtTituloModalSelect" style="width: 90%;"><img src="img/rutasTipicas/icono atractivo.png" alt="" style="float: left;  height: 17px;  margin-right: 5px; margin-top: 0px;">Atractivos turísticos</p>

	    		    <span class="cerrarFiltroIniciarMiRecorrido" style="margin-left: 15px;margin-top: 5px;">x</span>
    		    </div>

	    		<div ng-repeat="atractivo in atractivosTuristicos">
	    			<img src="img/iconoTipoAtractivo/{{atractivo.id_sub_tipo_atractivo}}.png" alt="" style="float: left;  width: 30px;  margin-right: 5px;">
	    			<p class="fuenteRoboto textoMenuFiltro" ng-class="{'textoMenuFiltro': !atractivo.seleccionado, 'textoMenuFiltroPatrimonioSeleccionado': atractivo.seleccionado}" ng-click="mostrarPatrimonios(atractivo.id_sub_tipo_atractivo,$index)">{{atractivo.nombre}}</p>
	    			<div class="separadorCafe"></div>
	    		</div>

    	    	<div class="bar bar-subfooter contenedorFiltroMiRecorridoAtractivoModalFooter">
    	    		<p class="textoFiltro txtTituloModalSelect "  ng-click="cerrarModalFiltro()">Filtrar</p>
    	    	</div>
	    		
	    	</div>

				<!--FINNN 

	    	-->



			<div class="contenedorBotonesRutaTipica">
				<img src="img/rutasTipicas/casa.png" alt=""     class="botonesRutaTipica" ng-click="mostrarFiltroServicios()">
				<div></div>
				<img src="img/rutasTipicas/division.png" alt="" class="botonesRutaTipica" ng-click="mostrarFiltroAtractivos()">
				<div></div>
				<img src="img/rutasTipicas/bandera.png" alt=""  class="botonesRutaTipica" ng-click="abrirAddHuella()">
			</div>

    		<div class="contenedorBotonRegistrarHuella" ng-hide="mostrarBotonesRegistrarhuella">
    			<div class="descartarHuella" ng-click="pausarRecorrido()"></div>
    			<div class="addHuella" ng-click="detenerRecorrido()"></div>
    			<img class="btnDejaTuHuella" src="img/rutasTipicas/pausaStop.png" alt="" usemap="#Map" />
    			
    		</div>

    		<div class="contenedorBotonRegistrarHuella" ng-show="mostrarBotonesRegistrarhuella">
    			<div class="descartarHuella" ng-click="descartarHuella()"></div>
          		<div class="addHuella" ng-click="addHuella()"></div>
          		<img class="btnDejaTuHuella" src="img/deja_tu_huella/btn_deja_tu_huella.png" alt="" usemap="#Map" />
    		</div>
    	</div>
  	</ion-content>
</ion-modal-view>