<ion-modal-view class="modal_pantalla_completa" ng-controller="menuAccionesModificarCtrl">
    
	<div class="footerNuevoHome">
  		<img src="img/nuevoHome/logo.png" alt="" class="logoFooterNuevoHome">
  	</div>

    <ion-header-bar class="bar bar-header bar-positive contenedortituloModalFullscreenNuevo" >
    	
    	<img src="img/nuevoHome/atras.png" alt="" class="imgAtrasRutasTipicas" ng-click="cerrarModalMenuAccionesModificar()">
        
    	
        <h1 class="tituloAtrasEquis title tituloModalFullscreenNuevo fuenteRoboto" ng-show=" tipo_seleccionado == 'patrimonio' ">
        	<img src="img/nuevoHome/iconoAtractivo.png" alt="" class="" ng-style="tituloSP" ng-show=" tipo_seleccionado == 'patrimonio' "> Atractivos Turísticos
        </h1>

        
        <h1 class="tituloAtrasEquis title tituloModalFullscreenNuevo fuenteRoboto" ng-show=" tipo_seleccionado == 'servicio' ">
        	<img src="img/rutasTipicas/servicioTuristico.png" alt="" class="" ng-style="tituloSP" ng-show=" tipo_seleccionado == 'servicio' "> Servicios Turísticos
        </h1>
        <!-- <img src="img/deja_tu_huella/deja_tu_huella.png" alt="" class="iconoHeaderModal"> -->

        

        <h1  class="tituloAtrasEquis title fuenteRoboto"  ng-show=" tipo_seleccionado == 'item' " >
        	<img src="img/deja_tu_huella/deja_tu_huella.png" alt="" ng-style="tituloHuella" ng-show=" tipo_seleccionado == 'item'" > {{item.nombre}}<!-- <button style="float: right;">...</button> -->
        </h1>

        <!-- <img src="img/deja_tu_huella/deja_tu_huella.png" alt="" class="iconoHeaderModal" style="margin-left: 5%;" ng-show=" tipo_seleccionado == 'patrimonio'"> -->

        <!-- <button class="button button-clear button-primary" ng-click="cerrarModalMenuAccionesModificar()" ng-show=" tipo_seleccionado == 'patrimonio' ||  tipo_seleccionado == 'servicio' ">
        	<i class="equisMenuModalAzul" style="margin-left: 15% !important;" ng-show=" tipo_seleccionado == 'patrimonio' ||  tipo_seleccionado == 'servicio' "></i>

        </button> -->

        <!-- <button class="button button-clear button-primary" ng-click="cerrarModalMenuAccionesModificar()" ng-show=" tipo_seleccionado == 'patrimonio' ||  tipo_seleccionado == 'servicio' " style="float: right;"><i class="equisMenuModalAzul" style="margin-left: 15% !important;"></i></button> -->

        <!--<button class="button button-clear button-primary" ng-click="cerrarModalMenuAccionesModificarEyD()"  ><i class="equisMenuModalAzul" style="margin-left: 15% !important;"></i></button>-->
    </ion-header-bar>

    <!--<ion-content class="padding paddingRegistro" id="contenedorFlechita">

    	<div ng-show="flechaDown" class="arrow" id="animationFlecha" style="z-index:999999;"> <!-- && (tieneImagen || item.descripcion) -----------------
  			<i class="flechaDown"></i>
		</div>
    	
    	<div ng-hide="noEdita" id="idImagen">
    		<div class="list">
    			<h3>Agregar imagen principal</h3>
				<span>desde archivo:</span>
				<label class=" ">
	          		<button class="button button-full button-light" ng-click="choosePhoto()">
						elegir archivo
					</button>
	        	</label>
				
				<br>
	        	<p>tomar foto</p>
	        	<label >
	        		<button class="button button-full button-light" ng-click="takePhoto()">
						<i class="ion-camera" style="font-size:60px"></i>
					</button>
				</label>
				<img style="display:none;width:100%;margin-bottom:5px;" id="imagenSacadaFoto"  src="" >
				<button ng-click="actualizarImgPrincipal()" class="button button-full button-royal" style="margin-top: 0px !important;">
  					Actualizar
				</button>
	       	</div>		
    	</div>

		<div class="textoDescripcion" id="texto"> <!--class:contenedorLugarModificar --
	    	<img ng-show="tieneImagen" class="imagenItem" ng-src="{{foto}}">
	    	<!--<p ng-bind-html="trustAsHtml(item.descripcion)"></p>
	    	<p ng-bind-html="trustAsHtml(item.descripcionLarga)"></p>--
		</div>

		<div ng-show="item.descripcion_resumen" class="descripcionResumen" style="color: white" ng-bind-html="trustAsHtml(item.descripcion_resumen)">
		</div>
    	
       	<div class="list" id="iconos">
       		<div class = "row">
			  	<div class = "col">
			   		<i class='noticiaNueva' ng-click="openModalModificarDescripcion()"></i>
			   	</div>
			   	<div class = "col">
			   		<i hg-show="esAndroid" class='camaraNueva ' ng-click="openModalModificarImagen()"></i>
			   	</div>
			   	<div class = "col">
			   		<i class='videoNueva ' ng-click="openModalModificarVideo()"></i>
			   	</div>
			</div>

				<div ng-show="tipo_seleccionado == 'servicio'" class = "row">
					<div class = "col" >
						<i class='comentarioNueva ' ng-click="openModalModificarComentario()"></i>
				 	</div>
					<div class = "col">
				 		<i class='estrellaNueva ' ng-click="openModalModificarCalificar()"></i>
				 	</div>
					 <div class = "col">
						<i class='denunciar ' ng-click="openModalDenunciar()"></i>
				 		<p style="text-align:center;color:#444444">Denunciar</p>
					</div>
				</div>

				<div ng-show="tipo_seleccionado == 'patrimonio'" class = "row">
					<div class = "col" >
						<i ng-hide=" tipo_seleccionado == 'item' || tipo_seleccionado == 'servicio' " class='sonidoNueva ' ng-click="openModalModificarAudio()"></i>
				 	</div>
					<div class = "col">
				 		<i class='comentarioNueva ' ng-click="openModalModificarComentario()"></i>

				 	</div>
					 <div class = "col">
					 	<i class='estrellaNueva ' ng-click="openModalModificarCalificar()"></i>
					</div>
				</div>

				<div ng-show="tipo_seleccionado == 'item'" class = "row">
					<div class = "col" >
						<i class='comentarioNueva ' ng-click="openModalModificarComentario()"></i>
				 	</div>
					<div class = "col">
				 		<i class='estrellaNueva ' ng-click="openModalModificarCalificar()"></i>
				 	</div>
					 <div class = "col">
						<i class='denunciar ' ng-click="openModalDenunciar()"></i>
				 		<p style="text-align:center;color:#444444">Denunciar</p>
					</div>
				</div>

				<!--
			  	<div class = "col" >
			   		<i ng-hide=" tipo_seleccionado == 'item' || tipo_seleccionado == 'servicio' " class='sonidoNueva ' ng-click="openModalModificarAudio()"></i>
			   	</div>
			  	<div class = "col">
			   		<i class='comentarioNueva ' ng-click="openModalModificarComentario()"></i>
			   	</div>
			   	<div class = "col">
			   		<i class='estrellaNueva ' ng-click="openModalModificarCalificar()"></i>
			   	</div>
			   	<div ng-show=" tipo_seleccionado == 'item' " class = "col">
			   		<i class='denunciar ' ng-click="openModalDenunciar()"></i>
			   		<p style="text-align:center;color:#444444">Denunciar</p>
			   	</div>
			   	--
			
			
				<div ng-show="tipo_seleccionado == 'servicio'" class = "row" style="margin-top: -7%">
				  	<div class = "col">
						<img ng-click="compartirFacebook('servicio')" src="http://200.14.68.107/atacamaGoMultimedia/files/social/facebook.png" alt="" style="width: 50px;height: 40px;margin-top: 2px;display: block;margin: auto;">
				   	</div>
				   	<div class = "col">
				   		<img ng-click="compartirTwitter('servicio')" src="http://200.14.68.107/atacamaGoMultimedia/files/social/twitter.png" alt="" style="width: 50px;height: 40px;margin-top: 2px;display: block;margin: auto;">
				   	</div>
				   	<div class = "col">
				   		
				   	</div>
				</div>

				<div ng-show="tipo_seleccionado == 'patrimonio'" class = "row" >
					<div class = "col">
						<img ng-click="compartirFacebook('patrimonio')" src="http://200.14.68.107/atacamaGoMultimedia/files/social/facebook.png" alt="" style="width: 50px;height: 40px;margin-top: 2px;display: block;margin: auto;">
				   	</div>
				   	<div class = "col">
				   		<img ng-click="compartirTwitter('patrimonio')" src="http://200.14.68.107/atacamaGoMultimedia/files/social/twitter.png" alt="" style="width: 50px;height: 40px;margin-top: 2px;display: block;margin: auto;">
				   	</div>
				   	<div class = "col">
				   		<i class='denunciar ' ng-click="openModalDenunciar()"></i>
			   			<p style="text-align:center;color:#444444">Denunciar</p>
				   	</div>
				</div>

				<div ng-show="tipo_seleccionado == 'item'" class = "row">
					<!--<div class = "col">
						<img ng-click="compartirFacebook('item')" src="http://200.14.68.107/atacamaGoMultimedia/files/social/facebook.png" alt="" style="    position: relative;margin-left: 36%;">
				   	</div>
				   	<div class = "col">
				   		<img ng-click="compartirTwitter('item')" src="http://200.14.68.107/atacamaGoMultimedia/files/social/twitter.png" alt="" style="    position: relative;margin-left: 36%;">
				   	</div>
				   	<div class = "col">
				   		
				   	</div> --
				</div>

				<!--
			  	<div class = "col" ng-show=" tipo_seleccionado == 'servicio' ">
					<img class="imagenItem" ng-src="{{sernatur.foto}}" style="width: 40px;margin-left: 15px;">
					<p ng-style="estiloTablet">{{sernatur.texto}}</p>
			   	</div>
			   	<div class = "col">
			   		
			   	</div>
			   	<div class = "col">
			   		<i class='denunciar ' ng-click="openModalDenunciar()"></i>
			   		<p style="text-align:center;color:#444444">Denunciar</p>
			   	</div>
				--
			<div ng-hide="item.es_emprendedor">
       			<div class="row" ng-show="tipo_seleccionado == 'servicio'">
       				<div class = "col col-10">
						<img class="imagenItem" ng-src="{{sernatur.foto}}" style="width: 40px !important;height:40px !important;margin-left: 1%;">
				   	</div>
				   	<div class="col col-90">
				   		<p  style="margin-top: 10px;margin-left: 10%;">{{sernatur.texto}}</p> <!-- ng-style="estiloTablet" --
				   	</div>
       			</div>	
       		</div>
       		
       		<div class="row" ng-show="item.es_emprendedor">
       				<div class = "col col-10">
						<img class="imagenItem" src="img/no_existe_emprendedor.png" style="width: 40px !important;height:40px !important;margin-left: 1%;">
				   	</div>
				   	<div class="col col-90">
				   		<p  style="margin-top: 10px;margin-left: 10%;">Emprendedor, servicio no formalizado</p>
				   	</div>
       		</div>

		<!--
       	<div class="row" id="compartirServicio" ng-show=" tipo_seleccionado == 'servicio' ">	
		  	<div class = "col">
		    	<img ng-click="compartirFacebook('servicio')" src="http://200.14.68.107/atacamaGoMultimedia/files/social/facebook.png" alt="" style="    position: relative;margin-left: 50%;">
			</div>
			<div class = "col"></div>
			<div class = "col">
		    	<img ng-click="compartirTwitter('servicio')" src="http://200.14.68.107/atacamaGoMultimedia/files/social/twitter.png" alt="" style="    position: relative;margin-left: 50%;">	
			</div>
       	</div>

       	<div class="row" id="compartirPatrimonio" ng-show=" tipo_seleccionado == 'patrimonio' ">	
		  	<div class = "row">
		  		<div class = "col">
		    		<img ng-click="compartirFacebook('patrimonio')" src="http://200.14.68.107/atacamaGoMultimedia/files/social/facebook.png" alt="" style="    position: relative;margin-left: 50%;">
				</div>
				<div class = "col">
				<div class = "col">
		    		<img ng-click="compartirTwitter('patrimonio')" src="http://200.14.68.107/atacamaGoMultimedia/files/social/twitter.png" alt="" style="    position: relative;margin-left: 50%;">	
				</div>
			</div>
       	</div>
       	--
    </ion-content> -->

    <!-- CORREGIR PARA QUE NO SE VEA LA IMAGEN CORTADA EN SERVICIOS Y ATRACTIVOS  -->
    <div class="bar bar-subheader contenedorNombreAtractivo" ng-show=" tipo_seleccionado == 'patrimonio' || tipo_seleccionado == 'servicio'" ng-hide="tipo_seleccionado == 'item'" style="top: 50px !important;">
      <div class="row " ng-show=" tipo_seleccionado == 'servicio' ">

      	<div class="col col-10" style="margin-right: 15px;">
      		<img class="" src="img/iconoServicio/{{item.id_tipo_servicio}}.png" style="height: 25px; margin-top: 0px; margin-left: 100%;">
      	</div>

      	<div class="col">
      		<p  ng-show=" tipo_seleccionado == 'servicio' " style="text-align: left; vertical-align: middle; margin-left: 3%;">  {{item.nombre}}</p>
      	</div>
      	<!-- <img src="img/iconoServicio/{{servicio.id_tipo_servicio}}.png" alt="" style="float: left;  height: 20px;"> -->
      	
      </div>

      <div class=" row" ng-show=" tipo_seleccionado == 'patrimonio' ">
      	<div class="col col-10">
      		<img src="img/atractivos_cafe/{{item.icono}}.png" style="height: 25px; /*margin-top: 20px*/; margin-left: 100%;">
      	</div>
      	<div class="col">
      		<p class="nombreAtractivo" ng-show=" tipo_seleccionado == 'patrimonio' "> {{item.nombre}}</p>
      		<p 	ng-show=" tipo_seleccionado == 'patrimonio' " style="text-align: left; vertical-align: middle; margin-left: 10%; font-size: xx-small;"> {{item.comuna}}</p>
      	</div>

      </div>
      
      
    </div>
    <!-- 
    <div class="bar bar-subheader contenedorNombreAtractivo" style="background-color:#fff; height: 0px !important" ng-show="tipo_seleccionado == 'item'" ></div> -->




    <ion-content class="scrollClass has-subheader" ng-class="topMenuAcciones" style= "margin-bottom : 50px">
    






<!-- SOLO SE DEBE MOSTRAR EN SERVICIOS Y ATRACTIVOS -->
<!--        	<div class="row" style="background: rgba(226,226,226,1);
background: -moz-linear-gradient(top, rgba(226,226,226,1) 0%, rgba(219,219,219,1) 9%, rgba(209,209,209,1) 16%, rgba(254,254,254,1) 36%, rgba(254,254,254,1) 100%); background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(226,226,226,1)), color-stop(9%, rgba(219,219,219,1)), color-stop(16%, rgba(209,209,209,1)), color-stop(36%, rgba(254,254,254,1)), color-stop(100%, rgba(254,254,254,1)));
background: -webkit-linear-gradient(top, rgba(226,226,226,1) 0%, rgba(219,219,219,1) 9%, rgba(209,209,209,1) 16%, rgba(254,254,254,1) 36%, rgba(254,254,254,1) 100%); background: -o-linear-gradient(top, rgba(226,226,226,1) 0%, rgba(219,219,219,1) 9%, rgba(209,209,209,1) 16%, rgba(254,254,254,1) 36%, rgba(254,254,254,1) 100%); background: -ms-linear-gradient(top, rgba(226,226,226,1) 0%, rgba(219,219,219,1) 9%, rgba(209,209,209,1) 16%, rgba(254,254,254,1) 36%, rgba(254,254,254,1) 100%); background: linear-gradient(to bottom, rgba(226,226,226,1) 0%, rgba(219,219,219,1) 9%, rgba(209,209,209,1) 16%, rgba(254,254,254,1) 36%, rgba(254,254,254,1) 100%); filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e2e2e2', endColorstr='#fefefe', GradientType=0 ); padding-top: 12px;  padding-bottom: 2px;  padding-left: 10px;  padding-right: 10px; position: fixed; z-index: 6;">
       		<div class="col">
       			<img src="img/iconoTipoAtractivo/{{item.id_tipo_servicio}}.png" alt="" style="float: left;  height: 30px;  margin-right: 1%; margin-top: 2px; margin-left: 30%">

       			<h1 class="title tituloModalFullscreenNuevo fuenteRoboto" style="float: left; margin-top: 8px;">{{item.nombre}}</h1><img src="img/nuevoHome/rutasTipicas.png" alt="" class="iconoHeaderModal">
       		</div>
       	</div> -->
<!-- HASTA AQUI -->
       	
       	
       	
       	<div class="contenedorCalidadSeguridad" style="">
       		<div class="row" >	
       			<div ng-show="item.sello_s">  
       			    <img style="width: 30px;right: 10px;margin-left: 5px;" src="img/sello-s-circulo-80.png" alt="">
       			</div>	
       			<div ng-show="item.sello_q">
       			    <img style="width: 30px;right: 10px;margin-left: 5px;" src="img/sello-q-circulo-80.png" alt="">
       		    </div>

       		    <div ng-show="item.calificacion_sello_q" ng-repeat="calificacion in item.calificacion_sello_q">
       				<img style="width: 30px;right: 10px;margin-left: 5px;" src="img/sello-q-estrella.png" alt="">	
       		    </div>
       		</div>
       		
       		<!--<div class="row" ng-show="item.calificacion_sello_q">
       			<div ng-repeat="calificacion in item.calificacion_sello_q">
       				<img style="float: right;width: 40px;margin-right: 5px;" src="img/sello-q-estrella.png" alt="">	
       			</div>	
       		</div>-->
       		
       	</div>

       	<div class="contenedorImagenSaberMas">
       		<img ng-show="tieneImagen" class="imgSaberMas"  ng-src="{{foto}}">
       		<!-- <img src="http://cdn2.wallpapersok.com/uploads/picture/941/124/124941/peyzazhi-kitay-gory-trava-gora.jpg?width=665" alt="" class="imgSaberMas"> -->
       	</div>

       	<!-- clase anterior contenedorAccionesAtractivos -->
       	<div class="row" ng-style="contenedorAtractivo" ng-show=" tipo_seleccionado == 'patrimonio' ">
       		<img ng-show="item.visitado" src="img/atractivos/visitado.png" alt="" class="col" ng-style="icono">
       		<img ng-hide="item.visitado" src="img/atractivos/visitado2.png" alt="" class="col" ng-click="addAtractivoVisitado()" ng-style="icono">
       		
       		<img src="img/atractivos/galeria.png" alt="" class="col" ng-click="openModalModificarImagen()" ng-style="icono">
       		<!--<img src="img/atractivos/video.png" alt="" class="imgMenuAtractivos" ng-click="openModalModificarVideo()">
          	<img src="img/atractivos/audio.png" alt="" class="imgMenuAtractivos" ng-click="openModalModificarAudio()"> -->
          	<img src="img/atractivos/comentarios.png" alt="" class="col" ng-click="openModalModificarComentario()" ng-style="icono">
          	<img src="img/atractivos/valoracion.png" alt="" class="col" ng-click="openModalModificarCalificar()" ng-style="icono">
          	<img src="img/atractivos/denunciar.png" alt="" class="col" ng-click="openModalDenunciar()" ng-style="icono">
          	<img src="img/atractivos/compartir.png" alt="" class="col" ng-click="openModalCompartir()" ng-show="true" ng-style="icono">  	
       		<p ng-show="item.visitado" class="fuenteKini txtContinuarRuta" ng-style="visitado">VISITADO</p>
          	<p ng-hide="item.visitado" class="fuenteKini txtContinuarRuta" ng-style="noVisitado">NO VISITADO</p>

       	</div>

       	<!-- clase anterior contenedorAccionesServicios -->
       	<div class="row" ng-style="contenedorServicio" ng-show=" tipo_seleccionado == 'servicio' ">
       		<img ng-show="item.visitado" src="img/atractivos/visitado.png" alt="" class="col" ng-style="icono">
       		<img ng-hide="item.visitado" src="img/atractivos/visitado2.png" alt="" class="col" ng-click="addServicioVisitado()" ng-style="icono">

       		<img src="img/atractivos/galeria.png" alt="" class="col" ng-click="openModalModificarImagen()" ng-style="icono">
       		<!--<img src="img/atractivos/video.png" alt="" class="imgMenuAtractivos" ng-click="openModalModificarVideo()"> -->
          	<img src="img/atractivos/comentarios.png" alt="" class="col" ng-click="openModalModificarComentario()" ng-style="icono">
          	<img src="img/atractivos/valoracion.png" alt="" class="col" ng-click="openModalModificarCalificar()" ng-style="icono">
          	<img src="img/atractivos/denunciar.png" alt="" class="col" ng-click="openModalDenunciar()" ng-style="icono">
          	<img src="img/atractivos/compartir.png" alt="" class="col" ng-click="openModalCompartir()" ng-show="true" ng-style="icono">
       		<p ng-show="item.visitado" class="fuenteKini txtContinuarRuta" ng-style="visitado">VISITADO</p>
          	<p ng-hide="item.visitado" class="fuenteKini txtContinuarRuta" ng-style="noVisitado">NO VISITADO</p>
       	</div>

       	<!-- clase anterior contenedorAccionesItem -->
       	<div class="row" ng-style="contenedorItem" ng-show=" tipo_seleccionado == 'item' ">
       		<img ng-show="item.visitado" src="img/atractivos/visitado.png" alt="" class="col" ng-style="iconoItem">
       		<img ng-hide="item.visitado" src="img/atractivos/visitado2.png" alt="" class="col" ng-click="addItemVisitado()" ng-style="iconoItem">

       		<img src="img/atractivos/galeria.png" alt="" class="col" ng-click="openModalModificarImagen()" ng-style="iconoItem">
       		<!--<img src="img/atractivos/video.png" alt="" class="imgMenuAtractivos" ng-click="openModalModificarVideo()"> -->
          	<img src="img/atractivos/comentarios.png" alt="" class="col" ng-click="openModalModificarComentario()" ng-style="iconoItem">
          	<img src="img/atractivos/valoracion.png" alt="" class="col" ng-click="openModalModificarCalificar()" ng-style="iconoItem">
          	<img src="img/atractivos/denunciar.png" alt="" class="col" ng-click="openModalDenunciar()" ng-style="iconoItem">
          	<img src="img/atractivos/compartir.png" alt="" class="col" ng-click="openModalCompartir()" ng-show="false" ng-style="iconoItem">
          	<p ng-show="item.visitado" class="fuenteKini txtContinuarRuta" ng-style="visitadoItem">VISITADO</p>
          	<p ng-hide="item.visitado" class="fuenteKini txtContinuarRuta" ng-style="noVisitadoItem">NO VISITADO</p>
       	</div>

		<!--<div ng-click="addCalificacion(ruta,ruta.calificacion_usuario)">
            <rating ng-model="ruta.calificacion_usuario" max="5" id="calificarRutasTipicas"></rating>
        </div> -->

       	<div class="cuerpoSaberMas" >
       		<p class="txtCuerpoSaberMas text-justify textoPlomo" ng-show="item.descripcion" ng-bind-html="trustAsHtml(item.descripcion)">
       		</p>
       		<!--<rating ng-model="3" max="5" id="calificarRutasTipicas"></rating> -->
       		<!--<h1>descripcion resumen</h1>-->
       		<p class="txtCuerpoSaberMas text-justify textoPlomo" ng-show="item.descripcion_resumen" ng-bind-html="trustAsHtml(item.descripcion_resumen)">
       		</p>
			
			<!--h1>deascripcion extendida</h1>-->
       		<p class="txtCuerpoSaberMas text-justify textoPlomo" ng-show="item.descripcion && noEdita" ng-bind-html="trustAsHtml(item.descripcion_extendida)">
       		</p>
			
			<!--<h1>descripcion larga</h1>-->
       		<p class="txtCuerpoSaberMas text-justify textoPlomo" ng-show="item.descripcionLarga" ng-bind-html="trustAsHtml(item.descripcionLarga)">
       		</p>

       		<div ng-show=" tipo_seleccionado == 'item' && id_usuario_local == item_seleccionado.id_usuario" class="contenedorBtnEditarEliminar">
       			<img src="img/rutasTipicas/eliminar.png" alt="" class="imgEliminarItem" ng-click="eliminarItem()">
       		</div>
       		
       	</div>


       	<div ng-hide="item.es_emprendedor" >
       		<div class="row" ng-show="tipo_seleccionado == 'servicio'">
       			<div class = "col col-10">
					<img class="imagenItem" ng-src="{{sernatur.foto}}" style="width: 40px !important;height:40px !important;margin-left: 1%;">
				</div>
				<div class="col col-90">
					<p  class="textoSernatur">{{sernatur.texto}}</p> <!-- ng-style="estiloTablet" -->
				</div>
       		</div>	
       	</div>
       		
       	<div class="row" ng-show="item.es_emprendedor">
       		<div class = "col col-10">
				<img class="imagenItem" src="img/no_existe_emprendedor.png" style="width: 40px !important;height:40px !important;margin-left: 1%;">
			</div>
			<div class="col col-90">
				<p  class="textoSernatur">Emprendedor, servicio no formalizado</p>
			</div>
       	</div>

       	<div ng-show="tipo_seleccionado == 'servicio'" style="background-color: #EAE6ED; ">
			<div ng-show="item.observacion_servicio" class="marginTexto" >
				<!--<h1>Observacion servicio</h1>-->

				<div class=" row" >
					<span class="textoPlomo" ng-bind-html="trustAsHtml(item.observacion_servicio)"></span>
				</div>
				<!-- <div class="textoPlomo" ng-bind-html="trustAsHtml(item.observacion_servicio)"></div> -->
				<br>	
			</div>
			
			<div class="row" ng-show="pantallaGrande">
				<ion-slide-box on-slide-changed="slideHasChanged2($index)">
				 	<ion-slide ng-repeat="producto in item.productos">
				    	<div class="row marginTexto" >
				    		<div class="col col-33">
								<img class="marginTexto" ng-src="{{producto.imagen_producto}}" alt="" width="90%">
							</div> 
					
							<div class="col col-67">
								<br>
								<h3 class="text-center textoAzul">{{producto.nombre_producto}}</h3>
								<br>
								<br>
								<p class="textoAzul" ng-bind-html="trustAsHtml(producto.descripcion_producto)"></p>
								<br>
								<br>
								<br><br>
								<div ng-repeat="detalle_moneda in producto.detalle">
									<p class="textoAzul">Valor en {{detalle_moneda.moneda}}: {{detalle_moneda.precio}}</p>
								</div> 
							</div>	
				    	</div>
				  	</ion-slide>
				</ion-slide-box>
			</div>

			<div ng-show="pantallaChica">
				<ion-slide-box on-slide-changed="slideHasChanged3($index)" style="background-color: #EAE6ED; ">
				 	<ion-slide ng-repeat="producto in item.productos" >
						<h3 class="text-center textoAzul marginTexto">{{producto.nombre_producto}}</h3>
						<br>
						<img class="marginTexto" ng-src="{{producto.imagen_producto}}" alt="" width="90%">
						<p class="textoAzul marginTexto" ng-bind-html="trustAsHtml(producto.descripcion_producto)"></p>
						<br>
						<br>
						<div ng-repeat="detalle_moneda in producto.detalle">
							<p class="textoAzul marginTexto" >Valor en {{detalle_moneda.moneda}}: {{detalle_moneda.precio}}</p>
						</div>

						<!--<p ng-show="producto.precio_pesos">Valor en pesos: {{producto.precio_pesos}}</p>
						<br>
						<p ng-show="producto.precio_dolar">Valor en dólares: {{producto.precio_dolar}}</p>-->
				 	</ion-slide>
				</ion-slide-box>
			</div>

			<!-- Slider productos y descripcion-->
			<br>
			<div ng-show=" tipo_seleccionado == 'servicio' ">
				<!--<div class="bar bar-royal" style="background: rgb(134,116,176);" ng-show=" item.reserva == true">
	  				<h1 ng-click="openModalReserva()" class="title">Modificar reserva</h1> <!-- reservarNavegador(item.id) 
				</div>
				<div class="bar bar-royal" style="background: rgb(134,116,176);" ng-show=" item.reserva != true ">
	  				<h1 ng-click="openModalReserva()" class="title">Reservar</h1> <!-- reservarNavegador(item.id)
				</div>-->

				<!--<div class="bar bar-royal" style="background: rgb(134,116,176);">
	  				<h1 ng-click="openModalReserva()" class="title">Reservar</h1> <!-- reservarNavegador(item.id)--
				</div>-->

				<div class="" style="height: 46px;" ng-click="openModalReserva()">
           			<p class="textoIniciarSesion">RESERVAR</p>
        			<img src="img/login/btnIngresar.png" alt="" class="btnIngresarLogin">
        		</div>
			</div>
			<br>

			
		</div>

				<div class="bar bar-royal" style="background: rgb(134,116,176);" ng-show="tipo_seleccionado == 'servicio'">
		  			<h1 class="title txtInformacion" style="text-align: left;margin-left: 12%;">Información</h1>
		  			<br>
					<br>
				</div>
				

		       	<div class="list" ng-show=" tipo_seleccionado == 'servicio' " style="top: 45px; margin-bottom: 45px;">
					<div class="contenedorModificarDescripcion">
					    <div ng-show="tieneWeb">
							<div class="espacioMenuBtn">
								<img src="img/paquetesTuristicos/sitioWeb.png" alt="" class="imgMenuModificar">
								<p class="textoTitulo">SITIO WEB:</p>
								<p class="textoMenuModificar textoPlomo" ng-click="hrefweb(web.correo)" ng-repeat="web in item.correos" ng-show="web.tipo_contacto == 'web' ">
									{{web.correo}}
								</p>
							</div>
						</div>
					    <div class="lineaSeparadoraModificar" ng-show="tieneWeb"></div>

					    <div>
							<div class="espacioMenuBtn">
								<img src="img/paquetesTuristicos/horario.png" alt="" class="imgMenuModificar">
								<p class="textoTitulo">HORARIOS:</p>
								<p class="textoMenuModificar textoPlomo" ng-repeat="horita in item.horarios">
									{{horita.hora}}
									{{horita.texto}}
								</p>
							</div>
						</div>
					    <div class="lineaSeparadoraModificar"></div>

					    <div >
							<div class="espacioMenuBtn">
								<img src="img/paquetesTuristicos/direccion.png" alt="" class="imgMenuModificar">
								<p class="textoTitulo">DIRECCIÓN:</p>
				      			<p class="textoMenuModificar textoPlomo" style=" user-select: all;">{{item.direccion_servicio}} {{item.numero_direccion_servicio}}</p>
							</div>
						</div>
					    <div class="lineaSeparadoraModificar"></div>

					    <div mg-show="tieneWeb">
							<div class="espacioMenuBtn">
								<img src="img/paquetesTuristicos/telefono.png" alt="" class="" style="float: left;  margin-left: 6%;  width: 8px;  margin-right: 20px;">
								<p class="textoTitulo">TELÉFONOS:</p>
								<p class="textoMenuModificar textoPlomo" ng-repeat="telefono in item.correos" ng-show="telefono.tipo_contacto == 'telefono' " style=" user-select: all;">
								{{telefono.correo}}
								</p>
							</div>
						</div>
					    <div class="lineaSeparadoraModificar"></div>

					    <div mg-show="tieneWeb">
							<div class="espacioMenuBtn">
								<img src="img/paquetesTuristicos/contacto.png" alt="" class="imgMenuModificar">
								<p class="textoTitulo">CORREOS:</p>
								<p class="textoMenuModificar textoPlomo" ng-click="mailtoCorreo(correo.correo)" ng-repeat="correo in item.correos" ng-show="correo.tipo_contacto == 'correo' " style=" user-select: all;">
								{{correo.correo}}
								</p>
							</div>
						</div>
					    <div class="lineaSeparadoraModificar"></div>

					    <div ng-show=" tipo_seleccionado == 'servicio' ">
							<div class="espacioMenuBtn">
								<p class="textoTitulo" ng-style="parrafoVisitanos">VISITANOS!</p>
								<div class = "row row-center">
								
									<div class = "col">
								   		<a   class="ahrefCetner">
						    				<img ng-click="hrefweb(item.facebook)" ng-show="item.facebook" src="img/facebook.png" alt="" class="imgRedSocial"> <img ng-click="hrefweb(item.twitter)" ng-show="item.twitter" src="img/twitter.png" alt="" class="imgRedSocial">	<img ng-click="hrefweb(item.tripadvisor)" ng-show="item.tripadvisor" src="img/tripadvisor.png" alt="" class="imgRedSocial">	<img  ng-click="hrefweb(item.instagram)" ng-show="item.instagram" src="img/instagram.png" alt="" class="imgRedSocial">	
						    			</a>
								   	</div>
								   		
								</div>
							</div>
						</div>

					</div>
		       	</div>
				

				<hr ng-show=" tipo_seleccionado == 'servicio' " style="border-top: 4px dotted #3A3189;margin-top: 15px;margin-bottom: 15px;">

				<ion-slide-box on-slide-changed="slideHasChanged($index)" style="background-color: #EAE6ED; ">
				 	<ion-slide ng-repeat="galeria in item.galeria">
				    	<div class="box blue">
							<img ng-src="{{galeria.galeria}}" class="carrousel-ionic" style="width: 100%;">
				    	</div>
				    	<p>{{galeria.descripcion}}</p>
				  	</ion-slide>
				</ion-slide-box>
				
				<br>

		<div ng-show=" tipo_seleccionado == 'patrimonio' ">
			<div class="bar bar-royal" style="background: #745A3A;">
	  			<h1 class="title">Estacionalidad:</h1>
			</div>
		</div>

		<div ng-show=" tipo_seleccionado == 'patrimonio' " class="contenedorTextoEstacionalidad">
			<div class="marginTexto textoPlomo">{{item.estacionalidad}}</div>
			<hr style="border-top: 4px dotted #3A3189;margin-top: 15px;margin-bottom: 15px;">


			<ion-slide-box on-slide-changed="slideHasChanged($index)">
			 	<ion-slide ng-repeat="galeria in item.galeria">
			    	<div class="box blue">
						<img ng-src="{{galeria.galeria}}" class="carrousel-ionic" style="width: 100%;">
			    	</div>
			    	<p>{{galeria.descripcion}}</p>
			  	</ion-slide>
			</ion-slide-box>
		</div>

		
		<img ng-show="tieneImagen" ng-class="{'imagenItem': foto}" src="http://200.14.68.107/atacamaGoMultimedia/{{item.logo}}"	 class="imgLogo" style="margin-bottom: 10%;" ng-show="tipo_seleccionado == 'servicio'"> 

		<!--<img ng-show="tieneImagen" ng-class="{'imagenItem': foto}" src="http://200.14.68.107/atacamaGoMultimedia/{{item.logo}}"	 class="imgLogo" style="margin-bottom: 10%;" ng-show="tipo_seleccionado == 'servicio'">-->
		

		<br><br><br><br><br><br><br><br>
		

		<!--<p 	ng-show=" tipo_seleccionado == 'patrimonio' "> {{item.estacionalidad}}</p>-->

    </ion-content>
    
</ion-modal-view>