<ion-side-menus enable-menu-with-back-views="false">
    <ion-side-menu-content>
      <ion-nav-bar class="bar-stable">
        <ion-nav-back-button>
        </ion-nav-back-button>
  
        <ion-nav-buttons side="left">
          <button class="button button-icon button-clear ion-navicon" menu-toggle="left">
          </button>
        </ion-nav-buttons>
      </ion-nav-bar>
      <ion-nav-view name="menuContent"></ion-nav-view>
    </ion-side-menu-content>
  
    <ion-side-menu side="left" ng-hide="hideLeft">
      <ion-header-bar class="bar-stable">
        <i class="equisMenuNuevoIzq"></i>
        <h1 menu-close class="title tituloMenu fuenteKini">OPCIONES</h1>
      </ion-header-bar>
      <ion-content>
        <ion-scroll scrollY="true" style="white-space: nowrap; max-height: calc(100vh - 94px) ;">
          <ion-item menu-close ng-click="experienciaAtacama()" class="item-button-left menuSinMargen">
            Oferta turística         <i class="ofertaMenu iconoMenu"></i>
            <img src="img/nuevoHome/siguiente.png" alt="" class="imgSiguienteMenu">
            <div class="separadorMenu"></div>
          </ion-item>
  
          <ion-item menu-close ng-click="mostrarServiciosTuristicos(1,0)" class="item-button-left menuSinMargen">
            Dónde comer         <i class="comerMenu iconoMenu"></i>
            <img src="img/nuevoHome/siguiente.png" alt="" class="imgSiguienteMenu">
            <div class="separadorMenu"></div>
          </ion-item>
  
          <ion-item menu-close ng-click="mostrarServiciosTuristicos(2,1)" class="item-button-left menuSinMargen">
            Dónde dormir         <i class="dormirMenu iconoMenu"></i>
            <img src="img/nuevoHome/siguiente.png" alt="" class="imgSiguienteMenu">
            <div class="separadorMenu"></div>
          </ion-item>
  
          <ion-item menu-close ng-click="mostrarServiciosTuristicos(3,2)" class="item-button-left menuSinMargen">
            Cómo movilizarme         <i class="movilizarseMenu iconoMenu"></i>
            <img src="img/nuevoHome/siguiente.png" alt="" class="imgSiguienteMenu">
            <div class="separadorMenu"></div>
          </ion-item>
  
          <ion-item menu-close ng-click="mostrarServiciosTuristicos(4,3)" class="item-button-left menuSinMargen">
            Dónde comprar         <i class="comprarMenu iconoMenu"></i>
            <img src="img/nuevoHome/siguiente.png" alt="" class="imgSiguienteMenu">
            <div class="separadorMenu"></div>
          </ion-item>
  
          <ion-item menu-close ng-click="mostrarServiciosTuristicos(5,4)" class="item-button-left menuSinMargen">
            Qué hacer         <i class="hacerMenu iconoMenu"></i>
            <img src="img/nuevoHome/siguiente.png" alt="" class="imgSiguienteMenu">
            <div class="separadorMenu"></div>
          </ion-item>
  
          <ion-item menu-close ng-click="menuOpcion(7)" class="item-button-left menuSinMargen">
            Atractivos turísticos         <i class="atractivosMenu iconoMenu"></i>
            <img src="img/nuevoHome/siguiente.png" alt="" class="imgSiguienteMenu">
            <div class="separadorMenu"></div>
          </ion-item>
  
          <ion-item menu-close ng-click="menuOpcion(5)" class="item-button-left menuSinMargen">
            Eventos         <i class="eventosMenu iconoMenu"></i>
            <img src="img/nuevoHome/siguiente.png" alt="" class="imgSiguienteMenu">
            <div class="separadorMenu"></div>
          </ion-item>
  
          <ion-item menu-close ng-click="menuOpcion(8)" class="item-button-left menuSinMargen">
            Reservas         <i class="reservasMenu iconoMenu"></i>
            <img src="img/nuevoHome/siguiente.png" alt="" class="imgSiguienteMenu">
            <div class="separadorMenu"></div>
          </ion-item>
  
          <ion-item menu-close ng-click="menuOpcion(1)" class="item-button-left menuSinMargen">
            Recorrido frecuente         <i class="recorridosMenu iconoMenu"></i>
            <img src="img/nuevoHome/siguiente.png" alt="" class="imgSiguienteMenu">
            <div class="separadorMenu"></div>
          </ion-item>
  
          <ion-item menu-close ng-click="menuOpcion(3)" class="item-button-left menuSinMargen">
            Iniciar mi recorrido         <i class="iniciarMenu iconoMenu"></i>
            <img src="img/nuevoHome/siguiente.png" alt="" class="imgSiguienteMenu">
            <div class="separadorMenu"></div>
          </ion-item>
  
          <ion-item menu-close ng-click="menuOpcion(4)" class="item-button-left menuSinMargen">
            Mis recorridos         <i class="misRecorridosMenu iconoMenu"></i>
            <img src="img/nuevoHome/siguiente.png" alt="" class="imgSiguienteMenu">
            <div class="separadorMenu"></div>
          </ion-item>
  
          <ion-item menu-close ng-click="openModalMisDatos()" class="item-button-left menuSinMargen">
            Mis datos         <i class="misDatosMenu iconoMenu"></i>
            <img src="img/nuevoHome/siguiente.png" alt="" class="imgSiguienteMenu">
            <div class="separadorMenu"></div>
          </ion-item>
          
          <!--<ion-item menu-close ng-click="openModalConfiguracion()" class="item-button-left menuSinMargen">
            Configuración     <i class="configuracionMenu iconoMenu"></i>
            <img src="img/nuevoHome/siguiente.png" alt="" class="imgSiguienteMenu">
            <div class="separadorMenu"></div>
          </ion-item> -->
  
          <ion-item menu-close ng-click="openModalPreferencias()" class="item-button-left menuSinMargen">
            Preferencias      <i class="preferenciasMenu iconoMenu"></i>
            <img src="img/nuevoHome/siguiente.png" alt="" class="imgSiguienteMenu">
            <div class="separadorMenu"></div>
          </ion-item>
          <!--<ion-item menu-close ng-click="openModalMisRutas()" class="item-button-right">
            Mis rutas         <i class="rutasCompartidasMenuNueva iconoMenu"></i>
          </ion-item>
          <ion-item menu-close ng-click="openModalRutasTipicas()" class="item-button-right">
            Rutas típicas     <i class="rutasTipicasMenuNueva iconoMenu"></i>
          </ion-item>-->
          <!--<ion-item menu-close ng-click="openModalRutasTipicasOffline()" class="item-button-right">
            Rutas típicas Offline <i class="rutasTipicasMenuNueva iconoMenu"></i>
          </ion-item> -->
          <!--<ion-item menu-close ng-click="openModalReservas()" class="item-button-left menuSinMargen">
            Reservas <i class="reservasMenuNueva iconoMenu"></i>
            <img src="img/nuevoHome/siguiente.png" alt="" class="imgSiguienteMenu">
            <div class="separadorMenu"></div>
          </ion-item>-->
  
          <!--<ion-item menu-close ng-click="openModalEventos()" class="item-button-left menuSinMargen">
            Eventos <i class="eventosMenuNueva iconoMenu"></i>
            <img src="img/nuevoHome/siguiente.png" alt="" class="imgSiguienteMenu">
            <div class="separadorMenu"></div>
          </ion-item>
          <ion-item menu-close ng-click="openModalRutasCompartidas()" class="item-button-right">
            Rutas compartidas <i class="misRutasMenuNueva iconoMenu"></i>
          </ion-item>
          <ion-item menu-close ng-click="openModalRutasCompartidas()" class="item-button-right">
            Servicios turísticos <i class="serviciosTuristicosMenuNueva iconoMenu"></i>
          </ion-item>
          <ion-item menu-close ng-click="openModalRutasCompartidas()" class="item-button-right">
            Atractivos <i class="patrimoniosMenuNueva iconoMenu"></i>
          </ion-item> -->
          <ion-item menu-close ng-click="pdf()" class="item-button-left menuSinMargen">
            Manual <i class="pdfMenu iconoMenu"></i>
            <img src="img/nuevoHome/siguiente.png" alt="" class="imgSiguienteMenu">
            <div class="separadorMenu"></div>
          </ion-item>
  
          <ion-item menu-close ng-click="openModalContacto()" class="item-button-left menuSinMargen">
            Contacto <i class="contactoMenu iconoMenu"></i>
            <img src="img/nuevoHome/siguiente.png" alt="" class="imgSiguienteMenu">
            <div class="separadorMenu"></div>
          </ion-item>
  
          <!--<ion-item menu-close ng-click="openModalSlider()" class="item-button-left menuSinMargen">
            Saber más
            <img src="img/nuevoHome/siguiente.png" alt="" class="imgSiguienteMenu">
            <div class="separadorMenu"></div>
          </ion-item> -->
  
          <ion-item menu-close ng-click="openModalLogin()" class="item-button-left menuSinMargen">
            Cerrar Sesión <i class="cerrarSesionMenu iconoMenu"></i>
            <img src="img/nuevoHome/siguiente.png" alt="" class="imgSiguienteMenu">
            <div class="separadorMenu"></div>
          </ion-item>
        </ion-scroll>
  
        <div class="footerNuevoHome">
          <img src="img/nuevoHome/logo.png" alt="" class="logoFooterNuevoHome">
        </div>  
      </ion-content>
    </ion-side-menu>
  </ion-side-menus>