<ion-modal-view class="" ng-controller="menuAccionesCtrl"> <!-- class="modal_crear_huella" -->
    <ion-header-bar class="bar bar-header bar-positive contenedortituloModalFullscreenNuevo">
    	<img src="img/nuevoHome/atras.png" alt="" class="imgAtrasRutasTipicas" style="margin-right: 5%" ng-click="atrasModalMenuAcciones()">
    	<h1 class="tituloAtrasEquis title tituloModalFullscreenNuevo fuenteRoboto" >
    		<img src="img/deja_tu_huella/deja_tu_huella.png" alt="" class="" style="height:20px;  margin-top: 3%;  margin-right: 1%;"> CREAR HUELLA
    	</h1>
        <!--<button class="button button-clear button-primary" ng-click="cerrarModalMenuAcciones()"><i class="equisMenuModalAzul" style="margin-left: 15% !important;"></i></button>-->
    </ion-header-bar>

    <ion-content >
    	<div class="tituloMenuAcciones">
    		<img src="img/deja_tu_huella/imgAgregarDescripcion.png" alt="" class="imgAgregarHuella">
    		<p class="txtAgregarImgPrincipal">Agregar descripción</p>
    		
    	</div>
    	
    	<div class="separadorAzul"></div>	
       	
       	<div class="list">
			<label class="item item-input inputLogin inputAgregarDescripcion">        
	        	<input type="text" ng-model="item.titulo" placeholder="Título huella" maxlength="30">
	        </label>
	        <div class="separadorPlomo"></div>
	        <label class="item item-input inputLogin inputAgregarDescripcion">
	        	<input type="text" ng-model="item.descripcion" placeholder="Agrega descripción">
	        </label>	
       	</div>


		<!-- -->

    	<div class="">
    		<div class="tituloMenuAcciones">
				<img src="img/deja_tu_huella/invGaleriaServicio.png" alt="" class="imgAgregarHuella">
				<p class="txtAgregarImgPrincipal">Agregar imagen principal</p>
			</div>
			
			<div class="separadorAzul"></div>

    		<div class="list">
    			<div class="row" style="padding:0px !important;">
    				<div class="col col-50 text-center">
	    				<img src="img/deja_tu_huella/desde_archivo.png" alt="" ng-click="choosePhoto()">
						<p>Desde archivo</p>	
	    			</div>
	    			
					<div class="col col-50 text-center">
						<img src="img/deja_tu_huella/tomar_foto.png" alt="" ng-click="takePhoto()">
						<p>Tomar foto</p>
					</div>
    			</div>
	        	
				<img class="imgSubir" id="imagenSacadaFoto333"  src="" >
				<!--<button ng-show="guardarImg" ng-click="actualizarImgPrincipal1()" class="button button-full button-royal" style="margin-top: 0px !important;">
  					
				</button>-->

				<!-- <div class="btnGuardarMisDatos" style="height: 46px;" ng-show="guardarImg" ng-click="actualizarImgPrincipal1()">
					 <p class="textoIniciarSesion">Guardar imagen</p>
					 <img src="img/login/btnIngresar.png" alt="" class="btnIngresarLogin">
				</div> -->
				<div>
	       		<div class="margenBtnRecorrerRuta" style="height: 46px;margin-bottom: 20px;" ng-click="addDescripcionItem(item)">
	       		  <p class="textoIniciarSesion">GUARDAR</p>
	       		  <img src="img/login/btnMorado.png" alt="" class="btnIngresarLogin">
	       		</div>
	       	</div>		
    	</div>

    </ion-content>
    <ion-footer-bar style="border: none !important;
    border-style: none !important;
    padding-left: 0px;
    padding-right: 0px;
    bottom: 9px;
    padding-top: 0px;
    border-top: none !important;">
    	<div class="contenedorAccionesDejaTuHuella">
    		<div class="row"> <!-- contenedorBotonesAcciones -->
    			<div class="col">
    				<img src="img/deja_tu_huella/editar.png" alt="" class="imgMenuAtractivos" ng-click="openModalAgregarDescripcion()">
    			</div>
    			<div class="col">
    				<img src="img/atractivos/galeria.png" alt="" class="imgMenuAtractivos" ng-click="openModalSubirImagen()">
    			</div>
    			<div class="col">
    				<img src="img/atractivos/comentarios.png" alt="" class="imgMenuAtractivos" ng-click="openModalAgregarComentario()">
    			</div>
    			<div class="col">
    				<img src="img/atractivos/valoracion.png" alt="" class="imgMenuAtractivos" ng-click="openModalAgregarCalificar()">
    			</div>
	       		<!--<img src="img/atractivos/video.png" alt="" class="imgMenuAtractivos" ng-click="openModalAgregarVideo()"> -->
	          	<!--<img src="img/atractivos/compartir.png" alt="" class="imgMenuAtractivos">-->
          	</div>
       	</div>
    </ion-footer-bar>
</ion-modal-view>




<!--<ion-modal-view class="modalMenuAcciones"  ng-controller="menuAccionesCtrl">
    <ion-header-bar class="bar bar-header bar-positive tituloMisDatos">
        <i class="posicionGpsNueva iconoMisDatos"></i>
        <h1 class="title" style="color:#000000;    font-size: 24px;">
        	<!--<i class="pregunta"></i>--
        	crear ítem turístico
        </h1>
        <button class="button button-clear button-primary" ng-click="cerrarModalMenuAcciones()"><i class="equisMenuModalAzul" style="margin-right: 10px;color: black;"></i></button>
    </ion-header-bar>
    <ion-content class="padding">

    	<div class="paddingRegistro">
    		<div class="list">
    			<h3>Agregar imagen principal</h3>
				<span>desde archivo:</span>
				<label class=" ">
	          		<button class="button button-full button-light" ng-click="choosePhoto()">
						elegir archivo
					</button>
	        	</label>
				
				<br>
	        	<p>tomar foto</p>
	        	<label >
	        		<button class="button button-full button-light" ng-click="takePhoto()">
						<i class="ion-camera" style="font-size:60px"></i>
					</button>
				</label>
				<img style="display:none;width:100%;margin-bottom:5px;" id="imagenSacadaFoto333"  src="" >
				<button ng-click="actualizarImgPrincipal1()" class="button button-full button-royal" style="margin-top: 0px !important;">
  					Guardar imagen
				</button>
	       	</div>		
    	</div>

       	<div class="list paddingRegistro">
       		<div class = "row">
			  	<div class = "col">
			   		<i class='noticiaNueva' ng-click="openModalAgregarDescripcion()"></i>
			   	</div>
			   	<div class = "col">
			   		<i class='camaraNueva ' ng-click="openModalSubirImagen()"></i>
			   	</div>
			   	<div class = "col">
			   		<i class='videoNueva ' ng-click="openModalAgregarVideo()"></i>
			   	</div>
			</div>

			<div class = "row">
			  	<div class = "col">
			   		<!--<i class='sonidoNueva ' ng-click="openModalAgregarAudio()"></i>--
			   		<i class='comentarioNueva ' ng-click="openModalAgregarComentario()"></i>
			   	</div>
			   	<div class = "col">
			   		<i class='estrellaNueva ' ng-click="openModalAgregarCalificar()"></i>
			   	</div>
			   	<div class = "col">
			   		
			   	</div>
			</div>

       	</div>
    </ion-content>
</ion-modal-view> -->