<ion-modal-view class="modal_pantalla_completa" ng-controller="menuAccionesModificarOfflineCtrl">
    
	<div class="footerNuevoHome">
  		<img src="img/nuevoHome/logo.png" alt="" class="logoFooterNuevoHome">
  	</div>


    <ion-header-bar class="bar bar-header bar-positive contenedortituloModalFullscreenNuevo">
      
      <img src="img/nuevoHome/atras.png" alt="" class="imgAtrasRutasTipicas" ng-click="atrasMenuAccionesModificarOffline()">
        
      
        <h1 class="tituloAtrasEquis title tituloModalFullscreenNuevo fuenteKini" ng-show=" tipo_seleccionado == 'patrimonio' ">
          <img src="img/nuevoHome/iconoAtractivo.png" alt="" class="" style="height:20px; margin-right: 1%; margin-left: 5%;" ng-show=" tipo_seleccionado == 'patrimonio' "> Atractivos Turisticos
        </h1>

        
        <h1 class="tituloAtrasEquis title tituloModalFullscreenNuevo fuenteKini" ng-show=" tipo_seleccionado == 'servicio' ">
          <img src="img/rutasTipicas/servicioTuristico.png" alt="" class="" style="height:20px;  margin-top: 3%;  margin-right: 1%;" ng-show=" tipo_seleccionado == 'servicio' "> Servicios Turisticos
        </h1>


        <h1  class="tituloAtrasEquis title fuenteRoboto"  ng-show=" tipo_seleccionado == 'item' " >
          <img src="img/deja_tu_huella/deja_tu_huella.png" alt="" style="height:20px;  margin-top: 5%;  margin-right: 1%;" ng-show=" tipo_seleccionado == 'item'" > {{item.nombre}}
        </h1>


        <button class="button button-clear button-primary" ng-click="cerrarMenuAccionesModificarOffline()"  ><i class="equisMenuModalAzul" style="margin-left: 15% !important;"></i></button>
    </ion-header-bar>





    <div class="bar bar-subheader contenedorNombreAtractivo" style="" ng-show=" tipo_seleccionado == 'patrimonio' || tipo_seleccionado == 'servicio'" ng-hide="tipo_seleccionado == 'item'" >
      <div class="row " ng-show=" tipo_seleccionado == 'servicio' ">

        <div class="col col-10" style="margin-right: 15px;">
          <img class="" src="img/iconoServicio/{{item.id_tipo_servicio}}.png" style="height: 25px; margin-top: 0px; margin-left: 100%;">
        </div>

        <div class="col">
          <p  ng-show=" tipo_seleccionado == 'servicio' " style="text-align: left; vertical-align: middle; margin-left: 3%;">  {{item.nombre}}</p>
        </div>
        <!-- <img src="img/iconoServicio/{{servicio.id_tipo_servicio}}.png" alt="" style="float: left;  height: 20px;"> -->
        
      </div>

      <div class=" row" ng-show=" tipo_seleccionado == 'patrimonio' ">
        <div class="col col-10">
          <img src="img/atractivos_cafe/{{item.icono}}.png" style="height: 25px; /*margin-top: 20px*/; margin-left: 100%;">
        </div>
        <div class="col">
          <p class="nombreAtractivo" ng-show=" tipo_seleccionado == 'patrimonio' "> {{item.nombre}}</p>
          <p  ng-show=" tipo_seleccionado == 'patrimonio' " style="text-align: left; vertical-align: middle; margin-left: 10%; font-size: xx-small;"> {{item.comuna}}</p>
        </div>

      </div>
      
      
    </div>



         <ion-content class="scrollClass " ng-style="menuAccionesContent" style= "margin-bottom: 55px;" >
          <!--<div class="contenedorTituloSaberMas">
                <h3>{{item.nombre}}</h3>
              </div> -->


     <!-- SOLO SE DEBE MOSTRAR EN SERVICIOS Y ATRACTIVOS -->
     <!--         <div class="row" style="background: rgba(226,226,226,1);
     background: -moz-linear-gradient(top, rgba(226,226,226,1) 0%, rgba(219,219,219,1) 9%, rgba(209,209,209,1) 16%, rgba(254,254,254,1) 36%, rgba(254,254,254,1) 100%); background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(226,226,226,1)), color-stop(9%, rgba(219,219,219,1)), color-stop(16%, rgba(209,209,209,1)), color-stop(36%, rgba(254,254,254,1)), color-stop(100%, rgba(254,254,254,1)));
     background: -webkit-linear-gradient(top, rgba(226,226,226,1) 0%, rgba(219,219,219,1) 9%, rgba(209,209,209,1) 16%, rgba(254,254,254,1) 36%, rgba(254,254,254,1) 100%); background: -o-linear-gradient(top, rgba(226,226,226,1) 0%, rgba(219,219,219,1) 9%, rgba(209,209,209,1) 16%, rgba(254,254,254,1) 36%, rgba(254,254,254,1) 100%); background: -ms-linear-gradient(top, rgba(226,226,226,1) 0%, rgba(219,219,219,1) 9%, rgba(209,209,209,1) 16%, rgba(254,254,254,1) 36%, rgba(254,254,254,1) 100%); background: linear-gradient(to bottom, rgba(226,226,226,1) 0%, rgba(219,219,219,1) 9%, rgba(209,209,209,1) 16%, rgba(254,254,254,1) 36%, rgba(254,254,254,1) 100%); filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e2e2e2', endColorstr='#fefefe', GradientType=0 ); padding-top: 12px;  padding-bottom: 2px;  padding-left: 10px;  padding-right: 10px; position: fixed; z-index: 6;">
                <div class="col">
                  <img src="img/iconoTipoAtractivo/{{item.id_tipo_servicio}}.png" alt="" style="float: left;  height: 30px;  margin-right: 1%; margin-top: 2px; margin-left: 30%">

                  <h1 class="title tituloModalFullscreenNuevo fuenteRoboto" style="float: left; margin-top: 8px;">{{item.nombre}}</h1><img src="img/nuevoHome/rutasTipicas.png" alt="" class="iconoHeaderModal">
                </div>
              </div> -->
     <!-- HASTA AQUI -->
              
              
              
              <div class="contenedorCalidadSeguridad" style="">
                <div class="row" >  
                  <div ng-show="item.sello_s">  
                      <img style="width: 30px;right: 10px;margin-left: 5px;" src="img/sello-s-circulo-80.png" alt="">
                  </div>  
                  <div ng-show="item.sello_q">
                      <img style="width: 30px;right: 10px;margin-left: 5px;" src="img/sello-q-circulo-80.png" alt="">
                    </div>

                    <div ng-show="item.calificacion_sello_q" ng-repeat="calificacion in item.calificacion_sello_q">
                    <img style="width: 30px;right: 10px;margin-left: 5px;" src="img/sello-q-estrella.png" alt=""> 
                    </div>
                </div>
                
                <!--<div class="row" ng-show="item.calificacion_sello_q">
                  <div ng-repeat="calificacion in item.calificacion_sello_q">
                    <img style="float: right;width: 40px;margin-right: 5px;" src="img/sello-q-estrella.png" alt=""> 
                  </div>  
                </div>-->
                
              </div>


              <div class="">
          <img ng-show="tieneImagen" class="imgSaberMas"  ng-src="{{foto}}">
          <!-- <img src="http://cdn2.wallpapersok.com/uploads/picture/941/124/124941/peyzazhi-kitay-gory-trava-gora.jpg?width=665" alt="" class="imgSaberMas"> -->
        </div>

              <!-- clase anterior contenedorAccionesAtractivos -->
              <div class="row" ng-style="contenedorAtractivo" ng-show=" tipo_seleccionado == 'patrimonio' ">
                <img ng-show="item.visitado" src="img/atractivos/visitado.png" alt="" class="col" ng-style="icono">
                <img ng-hide="item.visitado" src="img/atractivos/visitado2.png" alt="" class="col" ng-click="addAtractivoVisitado()" ng-style="icono">
                
                <img src="img/atractivos/galeria.png" alt="" class="col" ng-click="openModalModificarImagen()" ng-style="icono">
                <!--<img src="img/atractivos/video.png" alt="" class="imgMenuAtractivos" ng-click="openModalModificarVideo()">
                <img src="img/atractivos/audio.png" alt="" class="imgMenuAtractivos" ng-click="openModalModificarAudio()"> -->
                <img src="img/atractivos/comentarios.png" alt="" class="col" ng-click="openModalModificarComentario()" ng-style="icono">
                <img src="img/atractivos/valoracion.png" alt="" class="col" ng-click="openModalModificarCalificar()" ng-style="icono">
                <img src="img/atractivos/denunciar.png" alt="" class="col" ng-click="openModalDenunciar()" ng-style="icono">
                <img src="img/atractivos/compartir.png" alt="" class="col" ng-click="openModalCompartir()" ng-show="true" ng-style="icono">   
                <p ng-show="item.visitado" class="fuenteKini txtContinuarRuta" ng-style="visitado">VISITADO</p>
                <p ng-hide="item.visitado" class="fuenteKini txtContinuarRuta" ng-style="noVisitado">NO VISITADO</p>

              </div>

              <!-- clase anterior contenedorAccionesServicios -->
              <div class="row" ng-style="contenedorServicio" ng-show=" tipo_seleccionado == 'servicio' ">
                <img ng-show="item.visitado" src="img/atractivos/visitado.png" alt="" class="col" ng-style="icono">
                <img ng-hide="item.visitado" src="img/atractivos/visitado2.png" alt="" class="col" ng-click="addServicioVisitado()" ng-style="icono">

                <img src="img/atractivos/galeria.png" alt="" class="col" ng-click="openModalModificarImagen()" ng-style="icono">
                <!--<img src="img/atractivos/video.png" alt="" class="imgMenuAtractivos" ng-click="openModalModificarVideo()"> -->
                <img src="img/atractivos/comentarios.png" alt="" class="col" ng-click="openModalModificarComentario()" ng-style="icono">
                <img src="img/atractivos/valoracion.png" alt="" class="col" ng-click="openModalModificarCalificar()" ng-style="icono">
                <img src="img/atractivos/denunciar.png" alt="" class="col" ng-click="openModalDenunciar()" ng-style="icono">
                <img src="img/atractivos/compartir.png" alt="" class="col" ng-click="openModalCompartir()" ng-show="true" ng-style="icono">
                <p ng-show="item.visitado" class="fuenteKini txtContinuarRuta" ng-style="visitado">VISITADO</p>
                <p ng-hide="item.visitado" class="fuenteKini txtContinuarRuta" ng-style="noVisitado">NO VISITADO</p>
              </div>

              <!-- clase anterior contenedorAccionesItem -->
              <div class="row" ng-style="contenedorItem" ng-show=" tipo_seleccionado == 'item' ">
                <img ng-show="item.visitado" src="img/atractivos/visitado.png" alt="" class="col" ng-style="iconoItem">
                <img ng-hide="item.visitado" src="img/atractivos/visitado2.png" alt="" class="col" ng-click="addItemVisitado()" ng-style="iconoItem">

                <img src="img/atractivos/galeria.png" alt="" class="col" ng-click="openModalModificarImagen()" ng-style="iconoItem">
                <!--<img src="img/atractivos/video.png" alt="" class="imgMenuAtractivos" ng-click="openModalModificarVideo()"> -->
                <img src="img/atractivos/comentarios.png" alt="" class="col" ng-click="openModalModificarComentario()" ng-style="iconoItem">
                <img src="img/atractivos/valoracion.png" alt="" class="col" ng-click="openModalModificarCalificar()" ng-style="iconoItem">
                <img src="img/atractivos/denunciar.png" alt="" class="col" ng-click="openModalDenunciar()" ng-style="iconoItem">
                <img src="img/atractivos/compartir.png" alt="" class="col" ng-click="openModalCompartir()" ng-show="false" ng-style="iconoItem">
                <p ng-show="item.visitado" class="fuenteKini txtContinuarRuta" ng-style="visitadoItem">VISITADO</p>
                <p ng-hide="item.visitado" class="fuenteKini txtContinuarRuta" ng-style="noVisitadoItem">NO VISITADO</p>
              </div>

        <!--<div ng-click="addCalificacion(ruta,ruta.calificacion_usuario)">
                 <rating ng-model="ruta.calificacion_usuario" max="5" id="calificarRutasTipicas"></rating>
             </div> -->

              <div class="cuerpoSaberMas">
                <p class="txtCuerpoSaberMas text-justify textoPlomo" ng-show="item.descripcion" ng-bind-html="item.descripcion">

                </p>
                <!--<rating ng-model="3" max="5" id="calificarRutasTipicas"></rating> -->
                <!--<h1>descripcion resumen</h1>-->
                <p class="txtCuerpoSaberMas text-justify textoPlomo" ng-show="item.descripcion_resumen" ng-bind-html="item.descripcion_resumen">
                </p>
          
          <!--h1>deascripcion extendida</h1>-->
                <p class="txtCuerpoSaberMas text-justify textoPlomo" ng-show="item.descripcion && noEdita" ng-bind-html="item.descripcion_extendida">
                </p>
          
          <!--<h1>descripcion larga</h1>-->
                <p class="txtCuerpoSaberMas text-justify textoPlomo" ng-show="item.descripcionLarga" ng-bind-html="item.descripcionLarga">
                </p>
              </div>


              <div ng-hide="item.es_emprendedor">
                <div class="row" ng-show="tipo_seleccionado == 'servicio'">
                  
            <div class="col col-90">
              <p  class="textoSernatur">{{sernatur.texto}}</p> <!-- ng-style="estiloTablet" -->
            </div>
                </div>  
              </div>
                
              <div class="row" ng-show="item.es_emprendedor">
                <div class = "col col-10">
            <img class="imagenItem" src="img/no_existe_emprendedor.png" style="width: 40px !important;height:40px !important;margin-left: 1%;">
          </div>
          <div class="col col-90">
            <p  class="textoSernatur">Emprendedor, servicio no formalizado</p>
          </div>
              </div>

              <div ng-show="tipo_seleccionado == 'servicio'">
          <div ng-show="item.observacion_servicio" class="marginTexto">
            <!--<h1>Observacion servicio</h1>-->

            <div class=" row" >
              <span class="textoPlomo" ng-bind-html="trustAsHtml(item.observacion_servicio)"></span>
            </div>
            <!-- <div class="textoPlomo" ng-bind-html="trustAsHtml(item.observacion_servicio)"></div> -->
            <br>  
          </div>
          
          

          <br>
          <div ng-show=" tipo_seleccionado == 'servicio' ">
 

           
          </div>
          <br>

          <div class="bar bar-royal" style="background: rgb(134,116,176);">
              <h1 class="title txtInformacion" style="text-align: left;margin-left: 12%;">Información</h1>
          </div>
          <br>
          <br>

              <div class="list" ng-show=" tipo_seleccionado == 'servicio' " style="">
            <div class="contenedorModificarDescripcion">
                <div ng-show="tieneWeb">
                <div class="espacioMenuBtn">
                  <img src="img/paquetesTuristicos/sitioWeb.png" alt="" class="imgMenuModificar">
                  <p class="textoTitulo">SITIO WEB:</p>
                  <p class="textoMenuModificar textoPlomo" ng-click="hrefweb(web.correo)" ng-repeat="web in item.correos" ng-show="web.tipo_contacto == 'web' ">
                    {{web.correo}}
                  </p>
                </div>
              </div>
                <div class="lineaSeparadoraModificar"></div>

                <div>
                <div class="espacioMenuBtn">
                  <img src="img/paquetesTuristicos/horario.png" alt="" class="imgMenuModificar">
                  <p class="textoTitulo">HORARIOS:</p>
                  <p class="textoMenuModificar textoPlomo" ng-repeat="horita in item.horarios">
                    {{horita.hora}}
                    {{horita.texto}}
                  </p>
                </div>
              </div>
                <div class="lineaSeparadoraModificar"></div>

                <div >
                <div class="espacioMenuBtn">
                  <img src="img/paquetesTuristicos/direccion.png" alt="" class="imgMenuModificar">
                  <p class="textoTitulo">DIRECCIÓN:</p>
                      <p class="textoMenuModificar textoPlomo">{{item.direccion_servicio}} {{item.numero_direccion_servicio}}</p>
                </div>
              </div>
                <div class="lineaSeparadoraModificar"></div>

                <div mg-show="tieneWeb">
                <div class="espacioMenuBtn">
                  <img src="img/paquetesTuristicos/telefono.png" alt="" class="" style="float: left;  margin-left: 6%;  width: 8px;  margin-right: 20px;">
                  <p class="textoTitulo">TELÉFONOS:</p>
                  <p class="textoMenuModificar textoPlomo" ng-repeat="telefono in item.correos" ng-show="telefono.tipo_contacto == 'telefono' ">
                  {{telefono.correo}}
                  </p>
                </div>
              </div>
                <div class="lineaSeparadoraModificar"></div>

                <div mg-show="tieneWeb">
                <div class="espacioMenuBtn">
                  <img src="img/paquetesTuristicos/contacto.png" alt="" class="imgMenuModificar">
                  <p class="textoTitulo">CORREOS:</p>
                  <p class="textoMenuModificar textoPlomo" ng-click="mailtoCorreo(correo.correo)" ng-repeat="correo in item.correos" ng-show="correo.tipo_contacto == 'correo' ">
                  {{correo.correo}}
                  </p>
                </div>
              </div>
                <div class="lineaSeparadoraModificar"></div>

                <div ng-show="false">
                <div class="espacioMenuBtn">
                  <p class="textoTitulo" ng-style="parrafoVisitanos">VISITANOS!</p>
                  <div class = "row row-center">
                  
                    <div class = "col">
                        <a   class="ahrefCetner">
                          <img ng-click="hrefweb(item.facebook)" ng-show="item.facebook" src="img/facebook.png" alt="" class="imgRedSocial"> <img ng-click="hrefweb(item.twitter)" ng-show="item.twitter" src="img/twitter.png" alt="" class="imgRedSocial">  <img ng-click="hrefweb(item.tripadvisor)" ng-show="item.tripadvisor" src="img/tripadvisor.png" alt="" class="imgRedSocial"> <img  ng-click="hrefweb(item.instagram)" ng-show="item.instagram" src="img/instagram.png" alt="" class="imgRedSocial">  
                        </a>
                      </div>
                        
                  </div>
                </div>
              </div>

            </div>
              </div>
          

          <hr ng-show=" tipo_seleccionado == 'servicio' " style="border-top: 4px dotted #3A3189;margin-top: 15px;margin-bottom: 15px;">

          <ion-slide-box on-slide-changed="slideHasChanged($index)" style="background-color: #EAE6ED; ">
            <ion-slide ng-repeat="galeria in item.galeria">
                <div class="box blue">
                <img ng-src="{{galeria.galeria}}" class="carrousel-ionic" style="width: 100%;">
                </div>
                <p>{{galeria.descripcion}}</p>
              </ion-slide>
          </ion-slide-box>
          
          <br>
        </div>

        <div ng-show=" tipo_seleccionado == 'patrimonio' ">
          <div class="bar bar-royal" style="background: #745A3A;">
              <h1 class="title">Estacionalidad:</h1>
          </div>
        </div>

        <div ng-show=" tipo_seleccionado == 'patrimonio' " class="contenedorTextoEstacionalidad">
          <div class="marginTexto textoPlomo">{{item.estacionalidad}}</div>
          <hr style="border-top: 4px dotted #3A3189;margin-top: 15px;margin-bottom: 15px;">


        </div>
        
       
        <br><br><br><br><br><br><br><br>
        

         </ion-content>  	
  
</ion-modal-view>