<ion-modal-view class="modalMisDatos"  ng-controller="misRutasCtrl">
    <ion-header-bar class="bar bar-header bar-positive tituloMisDatos">
        <i class="misRutasMenuNueva iconoMisDatos"></i>
        <h1 class="title" style="color:#000000; font-size: 24px;">Mis rutas </h1>
        <button class="button button-clear button-primary" ng-click="cerrarModalMisRutas()"><i class="equisMenuModalAzul" style="margin-right: 10px;color: black;"></i></button>
    </ion-header-bar>
    <ion-content class="padding">
       	<div class="list paddingRegistro">
       		<div style="overflow-x:auto;">
				<table>
				  <tr>
				    <th>Número</th>
				    <th>nombre</th>
				    <th>Me gusta</th>
				  </tr>
				  <tr>
				    <td>01</td>
				    <td>ruta 1</td>
				    <td>5</td>
				  </tr>
				  <tr>
				    <td>02</td>
				    <td>ruta 2</td>
				    <td>10</td>
				  </tr>
				</table>
			</div>

          	<div class="row">
	          <div class="col">
	           	<button class="button button-full button-positive botonMisDatos" ng-click="cerrarModalMisRutas()">
	           		<i class="volverAzul iconoBotonMisDatos"></i>
	           	</button>
	          </div>
	          
	          <div class="col">
	            <button class="button button-full button-positive botonMisDatos">
	            	<i class="misRutasBotonNueva iconoBotonMisDatos"></i>
	            </button>
	          </div>
	        </div>
       	</div>
    </ion-content>
</ion-modal-view>