<ion-modal-view class="modal_pantalla_completa" ng-controller="modificarImagenCtrl">
    <div class="footerNuevoHome">
  		<img src="img/nuevoHome/logo.png" alt="" class="logoFooterNuevoHome">
  	</div>

    <ion-header-bar class="bar bar-header bar-positive contenedortituloModalFullscreenNuevo">
    	<img src="img/nuevoHome/atras.png" alt="" class="imgAtrasRutasTipicas" ng-click="cerrarModalModificarImagen()">
    	
    	<h1 class="tituloAtrasEquis title fuenteRoboto" ng-show=" tipo_seleccionado != 'item' ">
    	    <img src="img/deja_tu_huella/deja_tu_huella.png" alt="" ng-style="tituloImagen" ng-show="imagen_deja_tu_huella == true">
    	    <img src="img/servicios_blancos/{{item.id_tipo_servicio}}.png" alt="" ng-style="tituloImagen" ng-show=" tipo_seleccionado == 'servicio' ">
    	    <img src="img/blancos_atractivos/{{item.icono}}.png" alt="" class="" ng-style="tituloImagen" ng-show=" tipo_seleccionado == 'patrimonio' ">
    	  	{{item.nombre}}  
    	</h1>

    	<h1  class="tituloAtrasEquis title fuenteRoboto"  ng-show=" tipo_seleccionado == 'item' " >
        	<img src="img/deja_tu_huella/deja_tu_huella.png" alt="" ng-style="tituloImagen" ng-show=" tipo_seleccionado == 'item'" > {{item.nombre}}<!-- <button style="float: right;">...</button> -->
        </h1>

        <!--<button class="button button-clear button-primary" ng-click="cerrarItemHuella()"><i class="equisMenuModalAzul" style="margin-left: 15% !important;"></i></button>-->
    </ion-header-bar>
    
    <ion-content class="">

    	<!--  GALERIAS ROSADA-->
		<div class="contenedorMenuAcciones" ng-style="estiloBarraModificar" >
			<img ng-src="{{imgCamara}}" alt="" class="iconoSubTituloMenuAcciones">
			<p class="textoSubTituloMenuAcciones">Galerías</p>
			
		</div>

		<!--  GALERIAS MORADA
		 <div class="contenedorMenuAccionesHuella" ng-style="estiloBarraModificar" ng-show="imagen_deja_tu_huella == true">
			<img src="img/deja_tu_huella/invGaleriaServicio.png" alt="" class="iconoSubTituloMenuAcciones">
			<p class="textoSubTituloMenuAcciones">Galerías</p>
		</div>-->


		<!-- SUBIR ARCHIVO Y TOMAR FOTO ROSADO -->
    	<div class = "row" >
    		<div class = "col col-50 text-center" >
    		  	<img ng-src="{{imgDesdeArchivo}}" alt="" class="imgModificarImg" ng-click="choosePhoto()">
    		  	<p  ng-style="colorTexto">Desde archivo</p>
    		    <!--<i class='add ' ng-click="choosePhoto()"></i>-->
    		</div>

    		<div class = "col col-50 text-center">    		   
    		    <img ng-src="{{imgTomarFoto}}" alt="" class="imgModificarImg" ng-click="takePhoto()">
    		    <p ng-style="colorTexto">Tomar foto</p>
    		    <!--<i class='camara ' ng-click="takePhoto()"></i>-->
    		</div>
    	</div>

    	<!-- SUBIR ARCHIVO Y TOMAR FOTO MORADO 
    	<div class = "row" ng-show="imagen_deja_tu_huella == true">
    		<div class = "col col-50 text-center" >
    		  	<img ng-src="img/deja_tu_huella/desde_archivo.png" alt="" class="imgModificarImg" ng-click="choosePhoto()">
    		  	<p  class="colorTextoMorado">Desde archivo</p>
    		    <i class='add ' ng-click="choosePhoto()"></i>
    		</div>

    		<div class = "col col-50 text-center">    		   
    		    <img ng-src="img/deja_tu_huella/tomar_foto.png" alt="" class="imgModificarImg" ng-click="takePhoto()">
    		    <p class="colorTextoMorado">Tomar foto</p>
    		    <i class='camara ' ng-click="takePhoto()"></i>
    		</div>
    	</div>-->


    	<!--  -->
		
		<div ng-repeat="imagen in hola" >
			<div class = "row" ng-if="$even" ng-show="tipo_seleccionado == 'servicio'">
			  	<div class = "col col-33" >
			  		<div ng-show="hola[$index].id_usuario == id_usuario">
			  			<!-- <i class="equisMenuModalAzul" style="margin-right: 10px;color: black;" ng-click="eliminarImagen(hola[$index],$index)"></i>
			  			<img ng-click="eliminarImagen(hola[$index],$index)" src="img/rutasTipicas/eliminar.png" alt="" class="imgEliminarcomentario"> -->
			  		</div>
			  		<!--<p>{{hola[$index].comentario}} -->
			   		<img ng-click="openModalVisorImagen(hola[$index],$index)" ng-class="{'imagenItemModificar': hola[$index].foto}"  ng-src="{{hola[$index].foto}}"></img>
			   			<p class="txtComentario txtBlanco">{{hola[$index].comentario}}</p>
			   		
			   	</div>
			   	
			   	<div class="col col-33">
			   		<div ng-show="hola[$index+1].id_usuario == id_usuario">
			   			<!--<i class="equisMenuModalAzul" style="margin-right: 10px;color: black;" ng-click="eliminarImagen(hola[$index+1],$index+1)"></i>
			   			<img ng-click="eliminarImagen(hola[$index+1],$index+1)" src="img/rutasTipicas/eliminar.png" alt="" class="imgEliminarcomentario"> -->
			   		</div>
			   		<!--<p>{{hola[$index+1].comentario}}-->
			   		<img ng-click="openModalVisorImagen(hola[$index+1],$index+1)" ng-class="{'imagenItemModificar': hola[$index+1].foto}" ng-show="hola[$index+1].foto" ng-src="{{hola[$index+1].foto}}"></img>
			   			<p class="txtComentario txtBlanco">{{hola[$index+1].comentario}}</p>
			   	</div>

			   	<div class="col col-33">
			   		<div ng-show="hola[$index+2].id_usuario == id_usuario">
			   			<!--<i class="equisMenuModalAzul" style="margin-right: 10px;color: black;" ng-click="eliminarImagen(hola[$index+2],$index+2)"></i>
			   			<img ng-click="eliminarImagen(hola[$index+2],$index+2)" src="img/rutasTipicas/eliminar.png" alt="" class="imgEliminarcomentario"> -->
			   		</div>
			   		<!--<p>{{hola[$index+2].comentario}} -->
			   		<img ng-click="openModalVisorImagen(hola[$index+2],$index+2)" ng-class="{'imagenItemModificar': hola[$index+2].foto}" ng-show="hola[$index+2].foto" ng-src="{{hola[$index+2].foto}}"></img>
			   		
			   		<p class="txtComentario txtBlanco">{{hola[$index+2].comentario}}</p>
			   		
			   	</div>
			   
			</div>

			<div class = "row" ng-if="$even" ng-show="tipo_seleccionado == 'patrimonio'">
			  	<div class = "col col-33" >
			  		<div ng-show="hola[$index].id_usuario == id_usuario">
			  			<!--<i class="equisMenuModalAzul" style="margin-right: 10px;color: black;" ng-click="eliminarImagen(hola[$index],$index)"></i> 
			  			<img ng-click="eliminarImagen(hola[$index],$index)" src="img/rutasTipicas/eliminar.png" alt="" class="imgEliminarcomentario"> -->
			  		</div>
			  		<!--<p>{{hola[$index].comentario}} -->
			   		<img ng-click="openModalVisorImagen(hola[$index],$index)" ng-class="{'imagenItemModificar': hola[$index].foto}"  ng-src="{{hola[$index].foto}}"></img>
			   			<p class="txtComentarioPatrimonio txtBlanco">{{hola[$index].comentario}}</p>
			   		
			   	</div>
			   	
			   	<div class="col col-33">
			   		<div ng-show="hola[$index+1].id_usuario == id_usuario">
			   			<!--<i class="equisMenuModalAzul" style="margin-right: 10px;color: black;" ng-click="eliminarImagen(hola[$index+1],$index+1)"></i> 
			   			<img ng-click="eliminarImagen(hola[$index+1],$index+1)" src="img/rutasTipicas/eliminar.png" alt="" class="imgEliminarcomentario"> -->
			   		</div>
			   		<!--<p>{{hola[$index+1].comentario}}-->
			   		<img ng-click="openModalVisorImagen(hola[$index+1],$index+1)" ng-class="{'imagenItemModificar': hola[$index+1].foto}" ng-show="hola[$index+1].foto" ng-src="{{hola[$index+1].foto}}"></img>
			   			<p class="txtComentarioPatrimonio txtBlanco">{{hola[$index+1].comentario}}</p>
			   	</div>

			   	<div class="col col-33">
			   		<div ng-show="hola[$index+2].id_usuario == id_usuario">
			   			<!-- <i class="equisMenuModalAzul" style="margin-right: 10px;color: black;" ng-click="eliminarImagen(hola[$index+2],$index+2)"></i> 
			   			<img ng-click="eliminarImagen(hola[$index+2],$index+2)" src="img/rutasTipicas/eliminar.png" alt="" class="imgEliminarcomentario"> -->
			   		</div>
			   		<!--<p>{{hola[$index+2].comentario}} -->
			   		<img ng-click="openModalVisorImagen(hola[$index+2],$index+2)" ng-class="{'imagenItemModificar': hola[$index+2].foto}" ng-show="hola[$index+2].foto" ng-src="{{hola[$index+2].foto}}"></img>
			   		
			   		<p class="txtComentarioPatrimonio txtBlanco">{{hola[$index+2].comentario}}</p>
			   		
			   	</div>
			   
			</div>

			<div class = "row" ng-if="$even" ng-show="tipo_seleccionado == 'item'">
			  	<div class = "col col-33" >
			  		<div ng-show="hola[$index].id_usuario == id_usuario">
			  			<!--<i class="equisMenuModalAzul" style="margin-right: 10px;color: black;" ng-click="eliminarImagen(hola[$index],$index)"></i> 
			  			<img ng-click="eliminarImagen(hola[$index],$index)" src="img/rutasTipicas/eliminar.png" alt="" class="imgEliminarcomentario">-->
			  		</div>
			  		<!--<p>{{hola[$index].comentario}} -->
			   		<img ng-click="openModalVisorImagen(hola[$index],$index)" ng-class="{'imagenItemModificar': hola[$index].foto}"  ng-src="{{hola[$index].foto}}"></img>
			   			<p class="txtComentario txtBlanco">{{hola[$index].comentario}}</p>
			   		
			   	</div>
			   	
			   	<div class="col col-33">
			   		<div ng-show="hola[$index+1].id_usuario == id_usuario">
			   			<!--<i class="equisMenuModalAzul" style="margin-right: 10px;color: black;" ng-click="eliminarImagen(hola[$index+1],$index+1)"></i> 
			   			<img ng-click="eliminarImagen(hola[$index+1],$index+1)" src="img/rutasTipicas/eliminar.png" alt="" class="imgEliminarcomentario">-->
			   		</div>
			   		<!--<p>{{hola[$index+1].comentario}}-->
			   		<img ng-click="openModalVisorImagen(hola[$index+1],$index+1)" ng-class="{'imagenItemModificar': hola[$index+1].foto}" ng-show="hola[$index+1].foto" ng-src="{{hola[$index+1].foto}}"></img>
			   			<p class="txtComentario txtBlanco">{{hola[$index+1].comentario}}</p>
			   	</div>

			   	<div class="col col-33">
			   		<div ng-show="hola[$index+2].id_usuario == id_usuario">
			   			<!-- <i class="equisMenuModalAzul" style="margin-right: 10px;color: black;" ng-click="eliminarImagen(hola[$index+2],$index+2)"></i> 
			   			<img ng-click="eliminarImagen(hola[$index+2],$index+2)" src="img/rutasTipicas/eliminar.png" alt="" class="imgEliminarcomentario">-->
			   		</div>
			   		<!--<p>{{hola[$index+2].comentario}} -->
			   		<img ng-click="openModalVisorImagen(hola[$index+2],$index+2)" ng-class="{'imagenItemModificar': hola[$index+2].foto}" ng-show="hola[$index+2].foto" ng-src="{{hola[$index+2].foto}}"></img>
			   		
			   		<p class="txtComentario txtBlanco">{{hola[$index+2].comentario}}</p>
			   		
			   	</div>
			   
			</div>
		</div>
		
       	<div class="btnGuardarMisDatos" style="height: 46px;" ng-click="masComentarios(cantImagenes)">
           	<p class="textoIniciarSesion">Más imágenes</p>
        	<img src="img/login/btnIngresar.png" alt="" class="btnIngresarLogin">
        </div>

       	<!--<div class="list" ng-show="esAndroid">
			
       		<div class = "row" ng-hide="noEdita">
				<div class = "col col-33 text-center" >
				  	<p>Desde archivo</p>
				    <i class='add ' ng-click="choosePhoto()"></i>
				</div>

				<div class = "col col-33 text-center">
				   		<p>Tomar foto</p>
				    <i class='camara ' ng-click="takePhoto()"></i>
				    <!--<a ng-click="addImagenItem()"><p class="text-center">añadir imagen</p></a>--
				</div>

				 <div class = "col col-33">
					<img ng-show="tieneSrc" id="imagenSacadaFoto2" class="imagenItem2" src="">	   	
				</div>
			</div>

			<div ng-repeat="imagen in hola" >
				<div class = "row" ng-if="$even">
				  	<div class = "col col-50" >
				  		<div ng-show="hola[$index].id_usuario == id_usuario"><i class="equisMenuModalAzul" style="margin-right: 10px;color: black;" ng-click="eliminarImagen(hola[$index],$index)"></i></div>
				  		<p>{{hola[$index].comentario}}
				   		<img ng-click="openModalVisorImagen(hola[$index])" ng-class="{'imagenItem': hola[$index].foto}"  ng-src="{{hola[$index].foto}}"></img>
				   	</div>
				   	<div class="col col-50">
				   		<div ng-show="hola[$index+1].id_usuario == id_usuario"><i class="equisMenuModalAzul" style="margin-right: 10px;color: black;" ng-click="eliminarImagen(hola[$index+1],$index+1)"></i></div>
				   		<p>{{hola[$index+1].comentario}}
				   		<img ng-click="openModalVisorImagen(hola[$index+1])" ng-class="{'imagenItem': hola[$index+1].foto}" ng-show="hola[$index+1].foto" ng-src="{{hola[$index+1].foto}}"></img>
				   	</div>
				   
				</div>
			</div>

			<button class="button button-block button-royal" ng-click="masComentarios(cantImagenes)">
  				Más imágenes
			</button>

       	</div>

       	<div class="list" overflow-scroll="false" ng-hide="esAndroid">
			
       		<div class = "row" ng-hide="noEdita">
				<div class = "col col-33 text-center" >
				  	<p>Desde archivo</p>
				    <i class='add ' ng-click="choosePhoto()"></i>
				</div>

				<div class = "col col-33 text-center">
				   		<p>Tomar foto</p>
				    <i class='camara ' ng-click="takePhoto()"></i>
				    <!--<a ng-click="addImagenItem()"><p class="text-center">añadir imagen</p></a>--
				</div>

				 <div class = "col col-33">
					<img ng-show="tieneSrc" id="imagenSacadaFoto2" class="imagenItem2" src="">	   	
				</div>
			</div>

			

			<div ng-repeat="imagen in hola" >
				<div class = "row" ng-if="$even">
				  	<div class = "col col-50" >
				  		<p>{{hola[$index].comentario}}</p>
				   		<img ng-click="openModalVisorImagen(hola[$index].foto)" ng-class="{'imagenItem': hola[$index].foto}"  ng-src="{{hola[$index].foto}}"></img>
				   	</div>
				   	<div class="col col-50">
				   		<p>{{hola[$index+1].comentario}}</p>
				   		<img ng-click="openModalVisorImagen(hola[$index+1].foto)" ng-class="{'imagenItem': hola[$index+1].foto}" ng-show="hola[$index+1].foto" ng-src="{{hola[$index+1].foto}}"></img>
				   	</div>
				   
				</div>
			</div>

			<button class="button button-block button-royal" ng-click="masComentarios(cantImagenes)">
  				Más imágenes
			</button>

       	</div> -->
       	
    </ion-content>
    <!--<ion-footer-bar align-title="left" class="bar-light tituloModalFullscreen">
	  <div class="buttons">
	    <button class="button button-full button-positive botonMisDatos" ng-click="cerrarModalModificarImagen()">
	        <i class="volverAzul iconoBotonMisDatos"></i>
	    </button>
	  </div>
	  <h1 class="title"></h1>
	  <div class="buttons" ng-click="addImagenItem()" ng-hide="noEdita">
	    <button class="button button-full button-positive botonMisDatos">
	        <i class="guardarPlomo iconoBotonMisDatos"></i>
	    </button>
	  </div>
	</ion-footer-bar> -->
</ion-modal-view>