<ion-modal-view  class="modal_pantalla_completa" ng-controller="modificarAudioCtrl">
    <ion-header-bar class="bar bar-header bar-positive tituloModalFullscreen"> <!-- #b0a4cb -->
        <i class="sonidoMenuNueva iconoMisDatos"></i>
        <h1 class="title" style="color:#000000;    font-size: 17px;">{{item.nombre}}</h1>
        <button class="button button-clear button-primary" ng-click="cerrarModalModificarAudio()"><i class="equisMenuModalAzul" style="margin-right: 10px;color: black;"></i></button>
    </ion-header-bar>
    <ion-content class="padding">
       	<div class="list">

			<div ng-repeat="item in audios" >
				<div class = "row" ng-if="$even">
				  	<div class = "col col-50" >
				   		<img ng-click="openModalVisorAudio(audios[$index].video)" ng-class="{'imagenItem': hola[$index].foto}" class=" sonido" ></img>
				   	</div>
				   	<div class="col col-50">
				   		<img ng-click="openModalVisorAudio(audios[$index+1].video)" ng-class="{'imagenItem': hola[$index+1].foto}" ng-show="audios[$index+1].video" class="sonido" ></img>
				   	</div>
				</div>
			</div>

			<!--
			<div class = "row">
				<div class = "col">
				    <i class='add ' ng-click="chooseVideo()"></i>
				    <i class='camara ' ng-click="capturarVideo()"></i>
				    <a ng-click="addVideoItem()"><p class="text-center">añadir Audio</p></a>
				</div>
				 <div class = "col">
				   	<img  id="imagenSacadaFoto" class="videoItem" src="" >
				</div>
				<div class = "col">
				   	<i class=' '></i>
				</div>
			</div> -->

       	</div>
    </ion-content>
    <ion-footer-bar align-title="left" class="bar-light tituloModalFullscreen">
	  <div class="buttons">
	    <button class="button button-full button-positive botonMisDatos" ng-click="cerrarModalModificarAudio()">
	         <i class="volverAzul iconoBotonMisDatos"></i>
	    </button>
	  </div>
	  <h1 class="title"></h1>
	  <!--
	  <div class="buttons" ng-click="doSomething()">
	    <button class="button button-full button-positive botonMisDatos">
	        <i class="guardar iconoBotonMisDatos"></i>
	    </button>
	  </div>
	  -->
	</ion-footer-bar>
</ion-modal-view>