<ion-modal-view class="modal_pantalla_completa" ng-controller="modificarDescripcionCtrl">
    <ion-header-bar class="bar bar-header bar-positive tituloModalFullscreen"> <!-- #b0a4cb -->
        <i class="noticiaMenuNueva iconoMisDatos"></i>
        <h1 class="title" style="color:#000000;font-size: 17px;">{{item.nombre}}</h1>
        <button class="button button-clear button-primary" ng-click="cerrarItemHuella()"><i class="equisMenuModalAzul" style="margin-right: 10px;color: black;"></i></button>
    </ion-header-bar>
    <ion-content class="padding paddingRegistro" style="margin-bottom: 15px;">

		<div class="list">
			<div class="contenedorModificarDescripcion">
		        <h2>{{item.nombre}}</h2>
		        <h4>{{item.comuna}}</h4>
			</div>
       	</div>

		
		<div>
			<div class="contenedorCalidadSeguridad">
				<div class="row" style="height: 30px;">	
					<div ng-show="item.sello_s">  
					    <img ng-style="style_Sello_S" src="img/sello-s-circulo-80.png" alt="">
					</div>	
					<div ng-show="item.sello_q">
					    <img style="width: 30px;right: 10px;margin-left: 5px;" src="img/sello-q-circulo-80.png" alt="">
				    </div>

				    <div ng-show="item.calificacion_sello_q" ng-repeat="calificacion in item.calificacion_sello_q">
						<img style="width: 30px;right: 10px;margin-left: 5px;" src="img/sello-q-estrella.png" alt="">	
				    </div>
				</div>
				
				<!--<div class="row" ng-show="item.calificacion_sello_q">
					<div ng-repeat="calificacion in item.calificacion_sello_q">
						<img style="float: right;width: 40px;margin-right: 5px;" src="img/sello-q-estrella.png" alt="">	
					</div>	
				</div>-->
				
			</div>
			<div ng-show=" tipo_seleccionado != 'item'  ">
				<img ng-show="tieneImagenFoto" ng-class="{'imagenItem': foto}" ng-src="{{foto}}">
			</div>
		</div>
		
		<div ng-show=" tipo_seleccionado != 'item'  ">
			<br>
			<br>
		</div>

		
		<span ng-show="item.descripcion && noEdita" ng-bind-html="trustAsHtml(item.descripcion_extendida)"> </span>
		
		<div ng-show="tipo_seleccionado == 'item' ">
			<div ng-hide="noEdita">
				<span>Título:</span>
				<input type="text" ng-model="item.nombre" placeholder="Título item turístico">	
			</div>
		
			<div ng-show=" tipo_seleccionado == 'item'  ">
				<hr style="border-top: 4px dotted #3A3189;margin-top: 15px;margin-bottom: 15px;">
				<img ng-show="tieneImagenFoto" ng-class="{'imagenItem': foto}" ng-src="{{foto}}">
			</div>

			<div ng-hide="noEdita" >
				<p><span>Descripción:</span></p>
				<textarea ng-model="item.descripcion" rows="4" cols="15" style="width: 100%;" placeholder="Nombre item turístico">
				</textarea>	
			</div>
			<div ng-show="noEdita" >
				<span ng-show="item.descripcion" ng-bind-html="trustAsHtml(item.descripcion)"></span>
			</div>
			

		</div>

		<br>
		<span ng-show="item.descripcionLarga" ng-bind-html="trustAsHtml(item.descripcionLarga)"></span>
		
		<!-- Slider productos y descripcion-->
		<div>
			<br>
			<hr ng-show="tieneImagenFoto" style="border-top: 4px dotted #3A3189;margin-top: -14px;margin-bottom: 15px;">	
		</div>
		
		<div ng-show="tipo_seleccionado == 'servicio'">
			<div ng-show="item.observacion_servicio">
				<span ng-bind-html="trustAsHtml(item.observacion_servicio)"></span>
				<br>	
			</div>
			
			<div class="row" ng-show="pantallaGrande">
				<ion-slide-box on-slide-changed="slideHasChanged2($index)">
				 	<ion-slide ng-repeat="producto in item.productos">
				    	<div class="row">
				    		<div class="col col-33">
								<img ng-src="{{producto.imagen_producto}}" alt="" width="100%">
							</div> 
					
							<div class="col col-67">
								<br>
								<h3 class="text-center">{{producto.nombre_producto}}</h3>
								<br>
								<br>
								<p ng-bind-html="trustAsHtml(producto.descripcion_producto)"></p>
								<br>
								<br>
								<br><br>
								<div ng-repeat="detalle_moneda in producto.detalle">
									<p>Valor en {{detalle_moneda.moneda}}: {{detalle_moneda.precio}}</p>
								</div> 
							</div>	
				    	</div>
				  	</ion-slide>
				</ion-slide-box>
			</div>

			<div ng-show="pantallaChica">
				<ion-slide-box on-slide-changed="slideHasChanged3($index)">
				 	<ion-slide ng-repeat="producto in item.productos">
						<h3 class="text-center">{{producto.nombre_producto}}</h3>
						<br>
						<img ng-src="{{producto.imagen_producto}}" alt="" width="100%">
						<p ng-bind-html="trustAsHtml(producto.descripcion_producto)"></p>
						<br>
						<br>
						<div ng-repeat="detalle_moneda in producto.detalle">
							<p>Valor en {{detalle_moneda.moneda}}: {{detalle_moneda.precio}}</p>
						</div>

						<!--<p ng-show="producto.precio_pesos">Valor en pesos: {{producto.precio_pesos}}</p>
						<br>
						<p ng-show="producto.precio_dolar">Valor en dólares: {{producto.precio_dolar}}</p>-->
				 	</ion-slide>
				</ion-slide-box>
			</div>

			<!-- Slider productos y descripcion-->
			<br>
			<div ng-show=" tipo_seleccionado == 'servicio' ">
				<!--<div class="bar bar-royal" style="background: rgb(134,116,176);" ng-show=" item.reserva == true">
	  				<h1 ng-click="openModalReserva()" class="title">Modificar reserva</h1> <!-- reservarNavegador(item.id) 
				</div>
				<div class="bar bar-royal" style="background: rgb(134,116,176);" ng-show=" item.reserva != true ">
	  				<h1 ng-click="openModalReserva()" class="title">Reservar</h1> <!-- reservarNavegador(item.id)
				</div>-->

				<div class="bar bar-royal" style="background: rgb(134,116,176);">
	  				<h1 ng-click="openModalReserva()" class="title">Reservar</h1> <!-- reservarNavegador(item.id)-->
				</div>
			</div>
			<br>
			<br>
			
	       	<div class="row" ng-show=" tipo_seleccionado == 'servicio' " >
			    
				<div class="col col-100">
					<div class = "row row-center">
					  	<div class = "col col-center">
					   		<a  ng-click="abrirNavegador(item.facebook)" class="ahrefCetner" style="text-align: left;">
			    				<img ng-show="item.facebook" src="http://200.14.68.107/atacamaGoMultimedia/files/social/facebook.png" alt="">
			    			</a>
					   	</div>
					   	<div class = "col col-center">
					   		<a ng-click="abrirNavegador(item.twitter)" class="ahrefCetner">
			    				<img ng-show="item.twitter" src="http://200.14.68.107/atacamaGoMultimedia/files/social/twitter.png" alt="">	
			    			</a>
					   	</div>
					   	<div class = "col col-center">
					   		<a ng-click="abrirNavegador(item.tripadvisor)" class="ahrefCetner">
								<img ng-show="item.tripadvisor" src="http://200.14.68.107/atacamaGoMultimedia/files/social/tripadvisor.png" alt="">	
							</a>
					   	</div>
					   	<div class = "col col-center">
					   		<a ng-click="abrirNavegador(item.instagram)" class="ahrefCetner" style="text-align: right;">
								<img ng-show="item.instagram" src="http://200.14.68.107/atacamaGoMultimedia/files/social/instagram.png" alt="">	
							</a>
					   	</div>
					</div>

				</div>
			    
	       	</div>

	       	<div class="list" ng-show=" tipo_seleccionado == 'servicio' ">
				<div class="contenedorModificarDescripcion">

					<p ng-show="tieneWeb" > <i class="iconoWeb iconoBotonMisDatos"></i> Sitio Web:</p>
						<a ng-click="hrefweb(web.correo)" ng-repeat="web in item.correos" ng-show="web.tipo_contacto == 'web' " style=" margin-left: 0px;">
							{{web.correo}}
						</a>

					<br>	

					<p> <i class="iconoHorario iconoBotonMisDatos"></i> Horario:
						<p ng-repeat="horita in item.horarios">
							{{horita.hora}}
							{{horita.texto}}
						</p>
					</p>
					
					<br>

			      	<p><i class="iconoDireccion iconoBotonMisDatos"></i> Dirección: 
			      		<p>{{item.direccion_servicio}} {{item.numero_direccion_servicio}}</p>
			      	</p>

			      	<br>

			      	<p><i class="iconoTelefono iconoBotonMisDatos"></i> Teléfonos:
						<p ng-repeat="telefono in item.correos" ng-show="telefono.tipo_contacto == 'telefono' " style=" margin-left: 0px;">
							{{telefono.correo}}
						</p>
			      	</p>
			      
					<br>

			      	<p><i class="iconoCorreo iconoBotonMisDatos"></i> Correos:
						<a ng-click="mailtoCorreo(correo.correo)" ng-repeat="correo in item.correos" ng-show="correo.tipo_contacto == 'correo' " style=" margin-left: 0px;">
							{{correo.correo}}
						</a>
			    	</p>
				</div>
	       	</div>
			
			<hr ng-show=" tipo_seleccionado == 'servicio' " style="border-top: 4px dotted #3A3189;margin-top: 15px;margin-bottom: 15px;">
		</div>
			
		
		<br>
		<div ng-show=" tipo_seleccionado == 'patrimonio' ">
			<p>Estacionalidad:
				<p>{{item.estacionalidad}}</p>
			</p>
			<hr style="border-top: 4px dotted #3A3189;margin-top: 15px;margin-bottom: 15px;">
		</div>
		

		
		
		<ion-slide-box on-slide-changed="slideHasChanged($index)">
		 	<ion-slide ng-repeat="galeria in item.galeria">
		    	<div class="box blue">
					<img ng-src="{{galeria.galeria}}" class="carrousel-ionic" style="width: 100%;">
		    	</div>
		    	<p>{{galeria.descripcion}}</p>
		  	</ion-slide>
		</ion-slide-box>
		
		<br>
		<img ng-show="tieneImagen" ng-class="{'imagenItem': foto}" ng-src="{{logo}}" style="
		width: 250px;
    /* margin: 0 auto; */
    position: absolute;
    left: 50%;
    margin-left: -125px;">
    </ion-content>
    <ion-footer-bar align-title="left" class="bar-light tituloModalFullscreen">
	  <div class="buttons">
	    <button class="button button-full button-positive botonMisDatos" ng-click="cerrarModalModificarDescripcion()">
	        <i class="volverAzul iconoBotonMisDatos"></i>
	    </button>
	  </div>
	  <h1 class="title"></h1>
	  
	  <div ng-hide="noEdita" class="buttons" ng-click="editarComentario(item)">
	    <button class="button button-full button-positive botonMisDatos">
	        <i class="guardarPlomo iconoBotonMisDatos"></i>
	    </button>
	  </div>
	</ion-footer-bar>
</ion-modal-view>