<ion-modal-view class="modal_pantalla_completa" ng-controller="modificarComentarioCtrl">
    <div class="footerNuevoHome">
  		<img src="img/nuevoHome/logo.png" alt="" class="logoFooterNuevoHome">
  	</div>

    <ion-header-bar class="bar bar-header bar-positive contenedortituloModalFullscreenNuevo">
    	<img src="img/nuevoHome/atras.png" alt="" class="imgAtrasRutasTipicas" ng-click="cerrarModalModificarComentario()">
    	

    	<h1 class="tituloAtrasEquis title fuenteRoboto" ng-show=" tipo_seleccionado != 'item' ">
    	    <img src="img/deja_tu_huella/deja_tu_huella.png" alt="" ng-style="tituloComentario" ng-show="imagen_deja_tu_huella == true">
    	    <img src="img/servicios_blancos/{{itemSelect.id_tipo_servicio}}.png" alt="" ng-style="tituloComentario" ng-show=" tipo_seleccionado == 'servicio' ">
    	    <img src="img/blancos_atractivos/{{itemSelect.icono}}.png" alt="" class="" ng-style="tituloComentario" ng-show=" tipo_seleccionado == 'patrimonio' ">

    	  	{{itemSelect.nombre}} 
    	</h1>

    	<h1  class="tituloAtrasEquis title fuenteRoboto"  ng-show=" tipo_seleccionado == 'item' " >
        	<img src="img/deja_tu_huella/deja_tu_huella.png" alt="" ng-style="tituloComentario" ng-show=" tipo_seleccionado == 'item'" > {{itemSelect.nombre}}<!-- <button style="float: right;">...</button> -->
        </h1>

    	<!-- el h1 tenia clase tituloModalFullscreenNuevo -->

        <!--<button class="button button-clear button-primary" ng-click="cerrarItemHuella()"><i class="equisMenuModalAzul" style="margin-left: 15% !important;"></i></button>-->
    </ion-header-bar>

    <ion-content class="">

    	<!--  COMENTAR ROSADA-->
	    <div class="contenedorMenuAcciones" ng-style="estiloBarraModificar">
            <img ng-src="{{imgComentario}}" alt="" class="iconoSubTituloMenuAcciones">
			<p class="textoSubTituloMenuAcciones">Comentarios</p>
        </div>

        <!--  COMENTAR MORADO
        <div class="contenedorMenuAccionesHuella" ng-style="estiloBarraModificar" ng-show="imagen_deja_tu_huella == true">
            <img src="img/deja_tu_huella/invComentariosServicio.png" alt="" class="iconoSubTituloMenuAcciones">
			<p class="textoSubTituloMenuAcciones">Comentarios</p>
        </div>-->

       	<div class="list" ng-show="esAndroid">

			<div class = "row delgadaLinea">
			  	<div class = "col col-25">
			   		<img ng-class="{'imagenItemUsuario': foto_perfil_usuario}"  ng-src="{{foto_perfil_usuario}}"></img>
			   	</div>
			  	<div class = "col col-75">
			   		<textarea ng-model="item.comentario" rows="4" cols="15" style="width: 100%;" placeholder="Agrega un comentario">
					</textarea>

					<div class="" style="height: 46px;" ng-click="addComentario(item)">
    	       			<p class="textoEnviarComentario">Enviar</p>
	        			<img src="img/login/btnIngresar.png" alt="" class="btnEnviarComentario">
        			</div>
			   	</div>
			</div>

	        <div class = "row delgadaLinea" ng-repeat="comentario in comentarios">
			  	<div class = "col">
			   		<img ng-show="comentario.foto_perfil != 'http://200.14.68.107/atacamaGoMultimedia/files/perfil/'" ng-class="{'imagenItemComentario': comentario.foto_perfil}"  ng-src="{{comentario.foto_perfil}}"></img>

			   		<img ng-show="comentario.foto_perfil == 'http://200.14.68.107/atacamaGoMultimedia/files/perfil/'" ng-class="{'imagenItemComentario': comentario.foto_perfil}" src="img/perfil.jpg"></img>
			   	</div>	

			  	<div class = "col col-75">
			  		<div class="row">
			  			<!--<div class="col fechaComentario">
				  			{{comentario.fecha_comentario}}
				  		</div>-->

				  		<div style="position: absolute;right: 10%;" >
				  			 <div ng-show="id_usuario == comentario.id_usuario" ng-click="deleteComentario(comentario,$index)" >
				  			 	<img src="img/rutasTipicas/eliminar.png" alt="" class="imgEliminarcomentario">
				  			 </div>
				  		</div>
				  	</div>
			  		
			  		<div class="fechaComentario" style="margin-left: 4%;margin-right: 21%">
				  		{{comentario.texto_comentario}}
				  	</div>
				   	<!--<p>{{comentario.texto_comentario}} <span class="fechaComentario">{{comentario.fecha_comentario}}</span></p>-->
			   	</div>
			   	
			</div>

			<div class="btnGuardarMisDatos" style="height: 46px;" ng-click="masComentarios(cantComentarios)">
    	       	<p class="textoIniciarSesion">Más comentarios</p>
	        	<img src="img/login/btnIngresar.png" alt="" class="btnIngresarLogin">
        	</div>

			<!--<button class="button button-block button-royal" ng-click="masComentarios(cantComentarios)">
  				Más comentarios
			</button> -->

			<!--
			<div class="row">
				<div class="col col-100">
			   		<button class="button button-positive btnIngersar" ng-click="addComentario(item)" style="background-color:#b0a4cb;">agregar comentario</button>
			  	</div>
			</div>-->

       	</div>

       	<div class="list" overflow-scroll="false" ng-hide="esAndroid">

			<div class = "row delgadaLinea">
			  	<div class = "col col-75">
			   		<textarea ng-model="item.comentario" rows="4" cols="15" style="width: 100%;" placeholder="comentario nuevo...">
					</textarea>
			   	</div>
			   	<div class = "col col-25">
			   		<img ng-class="{'imagenItemComentario': foto_perfil_usuario}"  ng-src="{{foto_perfil_usuario}}"></img>
			   	</div> 	
			</div>

	        <div class = "row delgadaLinea" ng-repeat="comentario in comentarios">
			  	<div class = "col col-75">
			  		<div class="row">
			  			<div class="col col-33 col-offset-75 fechaComentario">
				  			{{comentario.fecha_comentario}}
				  			<div ng-show="comentario.id_usuario == id_usuario" ng-click="eliminarImagen(hola[$index],$index)"><i class="equisMenuModalAzul" style="margin-right: 10px;color: black;"></i></div>
				  		</div>
				  	</div>
			  		
			  		<div>
				  		{{comentario.texto_comentario}}
				  	</div>
				   	<!--<p>{{comentario.texto_comentario}} <span class="fechaComentario">{{comentario.fecha_comentario}}</span></p>-->
			   	</div>
			   	<div class="col">
			   		<img ng-class="{'imagenItem': comentario.foto_perfil}"  ng-src="{{comentario.foto_perfil}}"></img>
			   	</div>	
			</div>

			<button class="button button-block button-royal" ng-click="masComentarios(cantComentarios)">
  				Más comentarios
			</button>

			<!--
			<div class="row">
				<div class="col col-100">
			   		<button class="button button-positive btnIngersar" ng-click="addComentario(item)" style="background-color:#b0a4cb;">agregar comentario</button>
			  	</div>
			</div>-->

       	</div>
       	
    </ion-content>
    <!--<ion-footer-bar align-title="left" class="bar-light tituloModalFullscreen">
	  <div class="buttons">
	    <button class="button button-full button-positive botonMisDatos" ng-click="cerrarModalModificarComentario()">
	        <i class="volverAzul iconoBotonMisDatos"></i>
	    </button>
	  </div>
	  <h1 class="title"></h1>
	  <div class="buttons" ng-click="addComentario(item)">
	    <button class="button button-full button-positive botonMisDatos">
	        <i class="guardarPlomo iconoBotonMisDatos"></i>
	    </button>
	  </div>
	</ion-footer-bar> -->
</ion-modal-view>