<ion-view cache-view="false" hide-nav-bar="true">
  	<div style="margin-top: 0%;">
  		<img src="img/nuevoHome/info.png" alt="" class="infoNuevoHome" ng-click="tutorial()" style="margin-top: 0%">	
  	</div>
  	
  	<div style="margin-top: 55px;">
  		<img class="imgMenuNuevoExperienciaAtacama" src="img/nuevoHome/experienciaAtacama.png" alt="" ng-style="styleExperienciaAtacama" ng-click="experienciaAtacama()" ng-hide="experienciaSeleccionada" style="margin-top: -5px;">
      <img class="imgMenuNuevoExperienciaAtacama" src="img/nuevoHome/ExperienciaAtacamaSeleccionada.png" alt="" ng-style="styleExperienciaAtacama" ng-click="experienciaAtacama()" ng-show="experienciaSeleccionada" style="margin-top: -5px;">
      
		  <img class="imgMenuNuevoExploraDescubre" src="img/nuevoHome/exploraYDescubre.png" alt="" ng-style="styleExploraDescubre" ng-click="exploraDescubre()" ng-hide="exploraDescubreImgSeleccionado" style="margin-top: -5px;">
      <img class="imgMenuNuevoExploraDescubre" src="img/nuevoHome/exploraYDescubreSeleccionado.png" alt="" ng-style="styleExploraDescubre" ng-click="exploraDescubre()" ng-show="exploraDescubreImgSeleccionado" style="margin-top: -5px;">

		  <img class="imgMenuNuevoServiciosAtractivos" src="img/nuevoHome/serviciosYAtractivos.png" alt="" ng-style="styleServiciosAtractivos" ng-click="serviciosAtractivos()" ng-hide="serviciosAtractivosImgSeleccionado" style="margin-top: -5px;">
      <img class="imgMenuNuevoServiciosAtractivos" src="img/nuevoHome/serviciosYAtractivosSeleccionado.png" alt="" ng-style="styleServiciosAtractivos" ng-click="serviciosAtractivos()" ng-show="serviciosAtractivosImgSeleccionado" style="margin-top: -5px;">

  	</div>

  	<div>
  		<p class="txtMenuNuevoExperienciaAtacama" ng-style="styleTxtExperienciaAtacama" style="margin-top: 60px;">
  			EXPERIENCIA
  			<br>
  			ATACAMA
  		</p>
		<p class="txtMenuNuevoExploraDescubre"  ng-style="styleTxtExploraDescubre" style="margin-top: 60px;">
			EXPLORA Y
  			<br>
  			DESCUBRE
		</p>
		<p class="txtMenuNuevoServiciosAtractivos"  ng-style="styleTxtServiciosAtractivos" style="margin-top: 60px;">
			SERVICIOS Y
  			<br>
  			ATRACTIVOS
		</p>
  	</div>

  	<div class="footerNuevoHome">
    	<img src="img/nuevoHome/logo.png" alt="" class="logoFooterNuevoHome" ng-hide="menuAbierto">
    </div>

  	<ion-content style="z-index: -1;margin-top: 55px;width: 100%; margin-bottom: 50px;">

 <!-- 	
 <ion-content class="contenidoInicio" style="z-index: -1;/*margin-top: 55px*/;overflow-y: hidden !important; /*margin-bottom: 50px;*/">
-->
  		
  		<div class="menuNuevoHome">
  			<img menu-toggle="left" class="button iconoMenuNuevoHome" src="img/nuevoHome/menu.png">	
  		</div>
  		<div class="subMenuNuevoHome"></div>
    </ion-content>
    	
    <ion-content class="margenContent" style="z-index: -1;/*margin-top: 55px*/;overflow-y: hidden !important; /*margin-bottom: 50px;*/">

      <!--<div ng-style="styleMapa" id="map_canvas" style="height: 0px;width: 0px;">-->

      <div class="fondoNuevoHome" ng-show="exploraDescubreSeleccionado">
        
        <div class="contenedorMenuNuevoHome">
    		
          <div ng-click="menuOpcion(3)">
              <div class="espacioMenuBtn">
                <img src="img/nuevoHome/imgIniciarMiRecorrido.png" alt="" class="imgMenuNuevoHome">
                <img src="img/nuevoHome/ver.png" alt="" class="imgVerMenuNuevoHome">
                <p class="textoMenuNuevoHome">INICIAR MI RECORRIDO</p>
              </div>
          </div>

          <div class="lineaSeparadoraMenuNuevoHome"></div>

          <div ng-click="menuOpcion(1)">
      				<div class="espacioMenuBtn">
      					<img src="img/nuevoHome/mapaRutaTipicaAtacama.png" alt="" class="imgMenuNuevoHome">
      					<img src="img/nuevoHome/ver.png" alt="" class="imgVerMenuNuevoHome">
      					<p class="textoMenuNuevoHome">RECORRIDOS FRECUENTES</p>
      				</div>
      		</div>
  				
          <div class="lineaSeparadoraMenuNuevoHome"></div>

      		<div ng-click="menuOpcion(2)">
      				<div class="espacioMenuBtn">
      					<img src="img/deja_tu_huella/huella.png" alt="" class="imgMenuNuevoHome">
      					<img src="img/nuevoHome/ver.png" alt="" class="imgVerMenuNuevoHome">
      					<p class="textoMenuNuevoHome">DEJA TU HUELLA</p>
      				</div>
      		</div>

  				

  				<div class="lineaSeparadoraMenuNuevoHome"></div>

      		<div ng-click="menuOpcion(4)">
      				<div class="espacioMenuBtn">
      					<img src="img/nuevoHome/imgMisRecorridos.png" alt="" class="imgMenuNuevoHome">
      					<img src="img/nuevoHome/ver.png" alt="" class="imgVerMenuNuevoHome">
      					<p class="textoMenuNuevoHome">MIS RECORRIDOS</p>
      				</div>
      		</div> 
  				<!--<div class="lineaSeparadoraMenuNuevoHome"></div>-->
          <div class="lineaSeparadoraMenuNuevoHome"></div>

          <div ng-click="menuOpcion(8)">
              <div class="espacioMenuBtn">
                <img src="img/nuevoHome/imgReservas.png" alt="" class="imgMenuNuevoHome">
                <img src="img/nuevoHome/ver.png" alt="" class="imgVerMenuNuevoHome">
                <p class="textoMenuNuevoHome">RESERVAS</p>
              </div>
          </div>

    	  </div>

    	</div>

      <div class="fondoNuevoHome" ng-show="serviciosAtractivosSeleccionado">
        
        <div class="espaciadorMenuNuevoHome"></div>   
        <div class="contenedorMenuNuevoHome">
        
          <div ng-click="menuOpcion(6)">
              <div class="espacioMenuBtn">
                <img src="img/nuevoHome/imgServicio.png" alt="" class="imgMenuNuevoHome">
                <img src="img/nuevoHome/ver.png" alt="" class="imgVerMenuNuevoHome">
                <p class="textoMenuNuevoHome">SERVICIOS TURÍSTICOS</p>
              </div>
          </div>
          
          <div class="lineaSeparadoraMenuNuevoHome"></div>

          <div ng-click="menuOpcion(7)">
              <div class="espacioMenuBtn">
                <img src="img/nuevoHome/imgDejaTuHuella.png" alt="" class="imgMenuNuevoHome">
                <img src="img/nuevoHome/ver.png" alt="" class="imgVerMenuNuevoHome">
                <p class="textoMenuNuevoHome">ATRACTIVOS TURÍSTICOS</p>
              </div>
          </div>
          
          <div class="lineaSeparadoraMenuNuevoHome"></div>

          <div ng-click="menuOpcion(5)" >
              <div class="espacioMenuBtn">
                <img src="img/nuevoHome/eventosServiciosYAtractivos.png" alt="" class="imgMenuNuevoHome">
                <img src="img/nuevoHome/ver.png" alt="" class="imgVerMenuNuevoHome">
                <p class="textoMenuNuevoHome">EVENTOS</p>
              </div>
          </div>
        </div>

      </div>

        <div class="fondoNuevoHome" ng-show="experienciaAtacamaSeleccionado" style="overflow-y: scroll; overflow-x: hidden; position: static;">
            
            <div>
              <!-- SE AÑADIO Z-INDEX -->
              <div class="contenedorFiltroExperiencia" style="">
                  <!-- Se cambio width -->
                  <div class="contenedorTextoFiltroExperiencia">
                      <img src="img/nuevoHome/filtro.png" alt="" class="imgFiltroRutasTipicas">
                      <p class="textoFiltroRutasTipicas fuenteRoboto" ng-click="mostrarFiltro()">{{filtroActual}}</p>
                  </div>
              </div>

              <!-- SE AÑADIO Z-INDEX -->
              <div class="contenedorNombreFiltroExperiencia" ng-show="mostrarMenuFiltro">
                <div ng-repeat="comuna in comunas">
                  <p class="fuenteRoboto textoMenuFiltro txtBlanco" ng-click="filtrar(comuna.id_comuna)">{{comuna.nombre}}</p>
                <div class="separadorBlanco"></div>  
                </div>
                
              </div>
              <!-- SE AÑADIO Z-INDEX -->
              <div class="contenedorExperienciaAtacama" ng-repeat="item in experienciaFiltro" style="">
                  <div class="contenedorRosado">
                      <img src="img/experiencia/panelValoracion.png" alt="" class="imgValoracionPuntuacion" style="width: 186px;" ng-show="item.calificacion > 0"><p class="numeroValoracionPuntuacion " ng-show="item.calificacion > 0">{{item.calificacion}}</p>
                      <rating style="pointer-events: none;" ng-show="item.calificacion > 0" class="estrellaValoracionPuntuacion" ng-model="item.calificacion" max="5" id="calificarRutasTipicasMenu"></rating>
                  </div>
                  <div class="imgExperienciaAtacama" ng-show="item.ruta_archivo_producto_servicio != 'http://200.14.68.107/atacamaGoMultimedia/'" style="background:url('{{item.ruta_archivo_producto_servicio}}') center center no-repeat; background-size: cover;">
                      <!-- <img ng-show="item.ruta_archivo_producto_servicio != 'http://200.14.68.107/atacamaGoMultimedia/'" ng-src="{{item.ruta_archivo_producto_servicio}}" alt="" class="" style="height: 100%;"> -->
                  </div>
                  <div class="contenedorAccionesExperiencia row" ng-click="detalleExperiencia(item)">

                      <div class="col-80">
                          <p class="fuenteRoboto text-center txtNombreExperiencia" >{{item.nombre_producto}}</p>
                      </div>

                      <div class="col contenedorImgSiguiente">
                          <img src="img/experiencia/audio.png" alt="" class="">
                      </div>
                      
                      
                      

                  </div>  
              </div>
            </div>
            
           
        </div>


  	</ion-content>
		

	
</ion-view>