<ion-modal-view class="modal_pantalla_completa"  ng-controller="preferenciasCtrl">
    <div class="footerNuevoHome">
        <img src="img/nuevoHome/logo.png" alt="" class="logoFooterNuevoHome">
    </div>

    <ion-header-bar class="bar bar-header bar-positive contenedortituloModalFullscreenNuevo">
        <!-- <img src="img/nuevoHome/atras.png" alt="" class="imgAtrasRutasTipicas" ng-click="cerrarModalPreferencias()"> -->
        
        <h1 class="title tituloModalFullscreenNuevo fuenteKini">
          <img src="img/preferencias/logo.png" alt="" class="" style="width: 20px;  height: 17px;  margin-right: 5%; margin-top: 2%;"> Preferencias
        </h1>
        <button class="button button-clear button-primary" ng-click="cerrarModalPreferencias()"><i class="equisMenuModalAzul" style="margin-left: 15% !important;"></i></button>
    </ion-header-bar>
    <ion-content class="padding">
       	<div class="list">     
            <div class="item-input inputMisDatos paddingLeftCero" ng-click="opcionesPreferencias(2)">
                <img src="img/misDatos/iconoInput.png" alt="" class="iconoInputMisdatos">     
                <p class="preguntaPreferenicas">Configura el radio de alcance que prefieres</p>
                <img src="img/nuevoHome/siguiente.png" alt="" class="imgSiguienteMenu">
            </div>

            <div class="separadorMenuMisDatos"></div>
            <div class="item-input inputMisDatos paddingLeftCero" ng-click="opcionesPreferencias(1)">
                <img src="img/misDatos/iconoInput.png" alt="" class="iconoInputMisdatos">
                <p class="preguntaPreferenicas" ng-show="noRespondeSoloAcom == false">¿Viajas solo o acompañado?</p>
                <p class="preguntaPreferenicas" ng-show="noRespondeSoloAcom" style="color:red">¿Viajas solo o acompañado?</p>
                <img src="img/nuevoHome/siguiente.png" alt="" class="imgSiguienteMenu">
            </div>
            

            <div class="separadorMenuMisDatos"></div>
            <div class="item-input inputMisDatos paddingLeftCero" ng-click="opcionesPreferencias(3)">
                <img src="img/misDatos/iconoInput.png" alt="" class="iconoInputMisdatos">
                <p class="preguntaPreferenicas" ng-show="noRespondeGasto == false">¿Cuál es tu gasto promedio diario (por persona)?</p>
                <p class="preguntaPreferenicas" ng-show="noRespondeGasto" style="color:red">¿Cuál es tu gasto promedio diario(por persona)?</p>

                <img src="img/nuevoHome/siguiente.png" alt="" class="imgSiguienteMenu">
            </div>

            <div class="separadorMenuMisDatos"></div>
            <div class="item-input inputMisDatos paddingLeftCero" ng-click="opcionesPreferencias(4)">
                <img src="img/misDatos/iconoInput.png" alt="" class="iconoInputMisdatos">     
                <p class="preguntaPreferenicas">Seleccione moneda</p>
                <p class="preguntaPreferenicas" ng-show="noRespondeMoneda" style="color:red">Seleccione tipo de cambio</p>

                <img src="img/nuevoHome/siguiente.png" alt="" class="imgSiguienteMenu">
            </div>

            <div class="separadorMenuMisDatos"></div>
            <div class="item-input inputMisDatos paddingLeftCero" ng-click="opcionesPreferencias(5)">
                <img src="img/misDatos/iconoInput.png" alt="" class="iconoInputMisdatos">     
                <p class="preguntaPreferenicas" ng-show="noRespondeDuracion == false">Duración de estadía</p>
                <p class="preguntaPreferenicas" ng-show="noRespondeDuracion" style="color:red">Duración de estadía</p>

                <img src="img/nuevoHome/siguiente.png" alt="" class="imgSiguienteMenu">
            </div>

            <div class="separadorMenuMisDatos"></div>
            <div class="item-input inputMisDatos paddingLeftCero" ng-click="opcionesPreferencias(6)">
                <img src="img/misDatos/iconoInput.png" alt="" class="iconoInputMisdatos">     
                <p class="preguntaPreferenicas" ng-show="noRespondeTipoViaje == false">¿Qué tipo de viaje realizarás o te gustaría realizar en Atacama?</p>
                <p class="preguntaPreferenicas" ng-show="noRespondeTipoViaje" style="color:red">¿Qué tipo de viaje realizarás o te gustaría realizar en Atacama?</p>
                
                <img src="img/nuevoHome/siguiente.png" alt="" class="imgSiguienteMenu">
            </div>

            <div class="separadorMenuMisDatos"></div>
            <div class="item-input inputMisDatos paddingLeftCero" ng-click="opcionesPreferencias(7)">
                <img src="img/misDatos/iconoInput.png" alt="" class="iconoInputMisdatos">     
                <p class="preguntaPreferenicas" ng-show="noRespondeTransporte == false">¿Qué medio de transporte utilizarás durante tu visita?</p>
                <p class="preguntaPreferenicas" ng-show="noRespondeTransporte" style="color:red">¿Qué medio de transporte utilizarás durante tu visita?</p>
                
                <img src="img/nuevoHome/siguiente.png" alt="" class="imgSiguienteMenu">
            </div>      
 
            <div class="separadorMenuMisDatos"></div>
            <div class="item-input inputMisDatos paddingLeftCero" ng-click="opcionesPreferencias(8)">
                <img src="img/misDatos/iconoInput.png" alt="" class="iconoInputMisdatos">     
                <p class="preguntaPreferenicas" ng-show="noRespondeActividades == false">¿Qué actividades prefieres realizar?</p>
                <p class="preguntaPreferenicas" ng-show="noRespondeActividades" style="color:red">¿Qué actividades prefieres realizar?</p>
                
                <img src="img/nuevoHome/siguiente.png" alt="" class="imgSiguienteMenu">
            </div>  

            <div class="separadorMenuMisDatos"></div>
            <div class="item-input inputMisDatos paddingLeftCero" ng-click="opcionesPreferencias(9)">
                <img src="img/misDatos/iconoInput.png" alt="" class="iconoInputMisdatos">     
                <p class="preguntaPreferenicas" ng-show="noRespondeTipoServicio == false">¿Qué tipo de servicio de alojamiento utilizarás en tu visita?</p>
                <p class="preguntaPreferenicas" ng-show="noRespondeTipoServicio" style="color:red">¿Qué tipo de servicios de alojamiento utilizaras en tu visita?</p>
                    
                <img src="img/nuevoHome/siguiente.png" alt="" class="imgSiguienteMenu">
            </div> 

            <div class="separadorMenuMisDatos"></div>
            <div class="item-input inputMisDatos paddingLeftCero" ng-click="opcionesPreferencias(10)">
                <img src="img/misDatos/iconoInput.png" alt="" class="iconoInputMisdatos">     
                <p class="preguntaPreferenicas" ng-show="noRespondeComida == false">¿Qué tipo de comida prefieres?</p>
                <p class="preguntaPreferenicas" ng-show="noRespondeComida" style="color:red">¿Qué tipo de comida prefieres?</p>
                    
                <img src="img/nuevoHome/siguiente.png" alt="" class="imgSiguienteMenu">
            </div>   

            <div class="separadorMenuMisDatos"></div>
            <div class="item-input inputMisDatos paddingLeftCero" ng-click="opcionesPreferencias(11)">
                <img src="img/misDatos/iconoInput.png" alt="" class="iconoInputMisdatos">     
                <p class="preguntaPreferenicas" ng-show="noRespondeTipoTours == false">¿Qué tipo de tours prefieres?</p>
                <p class="preguntaPreferenicas" ng-show="noRespondeTipoTours" style="color:red">¿Qué tipo de tours prefiere?</p>
                    
                <img src="img/nuevoHome/siguiente.png" alt="" class="imgSiguienteMenu">
            </div>

            <!--<div class="row">
              <div class="col">
                <button class="button button-full button-positive botonMisDatos" ng-click="cerrarModalPreferencias()">
                  <i class="volverAzul iconoBotonMisDatos"></i>
                </button>
              </div>
              
              <div class="col">
                <button class="button button-full button-positive botonMisDatos" ng-click="">
                <i class="guardarPlomo iconoBotonMisDatos"></i>
              </button>
              </div>
            </div>-->

	        </div>
       	</div>
    </ion-content>
</ion-modal-view>