<ion-modal-view class="modalMisDatos"  ng-controller="preferencias2Ctrl">
    <ion-header-bar class="bar bar-header bar-positive tituloMisDatos">
        <i class="preferenciasMenu iconoMisDatos"></i>
        <h1 class="title" style="color:#000000;font-size: 24px;margin-left: 5%!important;margin-right: 5%!important">Preferencias</h1>
        <button class="button button-clear button-primary" ng-click="cerrarModalPreferencias2()"><i class="equisMenuModalAzul" style="margin-left: 15% !important;"></i></button>
    </ion-header-bar>
    <ion-content class="padding paddingRegistro">
       	<div class="list">     
              <!--
              <p style="margin-left: 10px;">Mis intereses son</p>
              <ion-checkbox class="checkboxConfiguracion" ng-model="preferencia.deporte">Deporte</ion-checkbox>
              <ion-checkbox class="checkboxConfiguracion" ng-model="preferencia.arquitectura">Arquitectura</ion-checkbox>
              <ion-checkbox class="checkboxConfiguracion" ng-model="preferencia.museo">Museo</ion-checkbox>
              <ion-checkbox class="checkboxConfiguracion" ng-model="preferencia.gastronomia">Gastronomía</ion-checkbox>
              <ion-checkbox class="checkboxConfiguracion" ng-model="preferencia.tecnologia">Tecnología</ion-checkbox>
              <ion-checkbox class="checkboxConfiguracion" ng-model="preferencia.recreacion">Recreación</ion-checkbox>
              <ion-checkbox class="checkboxConfiguracion" ng-model="preferencia.medioAmbiente">Medio ambiente</ion-checkbox>
              <ion-checkbox class="checkboxConfiguracion" ng-model="preferencia.cultura">Cultura</ion-checkbox>
              <ion-checkbox class="checkboxConfiguracion" ng-model="preferencia.literatura">Literatura</ion-checkbox>
              <ion-checkbox class="checkboxConfiguracion" ng-model="preferencia.historia">Historia</ion-checkbox>
              -->
            <br><br>
            <p ng-show="noRespondeSoloAcom == false">¿Viajas solo o acompañado?</p>
            <p ng-show="noRespondeSoloAcom" style="color:red">¿Viajas solo o acompañado?</p>
            <div class="row">
              <div class="col col-50">
                <ion-radio class="item-text-wrap" ng-model="cuestionario.soloAcom" ng-value="'TRUE'" name="solo-radio" ng-click="solo()">Solo</ion-radio>
              </div>

              <div class="col col-50">
                <ion-radio class="item-text-wrap" ng-model="cuestionario.soloAcom" ng-value="'FALSE'" name="solo-radio" ng-click="acompanado()">Acompañado</ion-radio>
              </div>
            </div>
            
            <div ng-show="mostrarAcompanado">
              <p ng-show="noRespondeNumeroPersonas == false">¿Con cuántas personas viaja?</p>
              <p ng-show="noRespondeNumeroPersonas" style="color:red">¿Con cuántas personas viaja?</p>
              <label class="item item-input inputLogin">        
                <input type="number" ng-model="cuestionario.numeroPersonas" placeholder="NÚMERO DE PERSONAS">
              </label>
	          </div>

            <br><br>
            <p ng-show="noRespondeGasto == false">¿Cuál es tu gasto promedio diario (por persona)?</p>
            <p ng-show="noRespondeGasto" style="color:red">¿Cuál es tu gasto promedio diario(por persona)?</p>
            <label class="item item-input inputLogin">        
              <input type="number" ng-model="cuestionario.gasto" placeholder="DINERO">
            </label>
            <p>Seleccione moneda</p>
            <p ng-show="noRespondeMoneda" style="color:red">Seleccione tipo de cambio</p>
            <div class="row">
              <div class="col col-50">
                <ion-radio  class="item-text-wrap" ng-model="cuestionario.moneda" ng-value="'peso'" name="moneda">Peso</ion-radio>
              </div>

              <div class="col col-50">
                <ion-radio  class="item-text-wrap" ng-model="cuestionario.moneda" ng-value="'dolar'" name="moneda">Dólar</ion-radio>
              </div>
            </div>

            <br><br>
            <p ng-show="noRespondeDuracion == false">Duración de estadía (Días)</p>
            <p ng-show="noRespondeDuracion" style="color:red">Duración de estadía (Días)</p>
            <label class="item item-input inputLogin">        
              <input type="number" ng-model="cuestionario.duracion" placeholder="DIAS">
            </label>

            <br><br>
            <p ng-show="noRespondeTipoViaje == false">¿Qué tipo de viaje realizarás o te gustaría realizar en Atacama?</p>
            <p ng-show="noRespondeTipoViaje" style="color:red">¿Qué tipo de viaje realizarás o te gustaría realizar en Atacama?</p>
            <span style="color: #4d4c4c;">Puedes seleccionar mas de una respuesta</span>
                <ion-checkbox class="checkboxConfiguracion wrapping-list" ng-model="cuestionario.tipoViaje.vacaciones" >...Vacaciones/Descanso/Ocio</ion-checkbox>
                <br>
                <ion-checkbox class="checkboxConfiguracion wrapping-list" ng-model="cuestionario.tipoViaje.familiares" >Visita a Familiares/Amigos</ion-checkbox>
                <br>
                <ion-checkbox class="checkboxConfiguracion wrapping-list" ng-model="cuestionario.tipoViaje.educacion" >Educación/Formación</ion-checkbox>
                <br>
                <ion-checkbox class="checkboxConfiguracion wrapping-list" ng-model="cuestionario.tipoViaje.salud" >Salud</ion-checkbox>
                <br>
                <ion-checkbox class="checkboxConfiguracion wrapping-list" ng-model="cuestionario.tipoViaje.religioso" >Religiosos/Peregrinaciones</ion-checkbox>
                <br>
                <ion-checkbox class="checkboxConfiguracion wrapping-list" ng-model="cuestionario.tipoViaje.compras" >Compras</ion-checkbox>
                <br>
                <ion-checkbox class="checkboxConfiguracion wrapping-list" ng-model="cuestionario.tipoViaje.negocios" >Negocios/Profesionales</ion-checkbox>  
 
            <br><br>
            <p ng-show="noRespondeTransporte == false">¿Qué medio de transporte utilizarás durante tu visita?</p>
            <p ng-show="noRespondeTransporte" style="color:red">¿Qué medio de transporte utilizarás durante tu visita?</p>
                <ion-radio class="item-text-wrap" ng-model="cuestionario.transporte" ng-value="'Vehículo particular'" name="transporte-radio">Vehículo particular</ion-radio>
                <br>
                <ion-radio class="item-text-wrap" ng-model="cuestionario.transporte" ng-value="'Vehículo arrendado'" name="transporte-radio">Vehículo arrendado</ion-radio>
                <br>
                <ion-radio class="item-text-wrap" ng-model="cuestionario.transporte" ng-value="'Transporte público'" name="transporte-radio">Transporte público</ion-radio>

            <br><br>
            <p ng-show="noRespondeActividades == false">¿Qué actividades prefieres realizar?</p>
            <p ng-show="noRespondeActividades" style="color:red">¿Qué actividades prefieres realizar?</p>
            <span style="color: #4d4c4c;">Puedes seleccionar mas de una respuesta</span>     
              <ion-checkbox class="checkboxConfiguracion wrapping-list" ng-model="cuestionario.actividades.deportes" >Deportes de playa y acuáticos (Turismo náutico)</ion-checkbox>
              <br>
              <ion-checkbox class="checkboxConfiguracion wrapping-list" ng-model="cuestionario.actividades.casinos">Visitar Casinos / Salas de juegos (Turismo tradicional)</ion-checkbox>
              <br>
              <ion-checkbox class="checkboxConfiguracion wrapping-list" ng-model="cuestionario.actividades.rurales">Actividades rurales (Turismo rural agropecuario)</ion-checkbox>
              <br>
              <ion-checkbox class="checkboxConfiguracion wrapping-list" ng-model="cuestionario.actividades.originarios">Actividades relacionadas a pueblos originarios (Turismo con pertinencia indígena)</ion-checkbox>
              <br>
              <ion-checkbox class="checkboxConfiguracion wrapping-list" ng-model="cuestionario.actividades.exursiones">Excursiones náuticas, cruceros (Turismo náutico)</ion-checkbox>
              <br>
              <ion-checkbox class="checkboxConfiguracion wrapping-list" ng-model="cuestionario.actividades.enoturismo">Visita a viñas y zonas de producción vinícolas (Enoturismo)</ion-checkbox>
              <br>
              <ion-checkbox class="checkboxConfiguracion wrapping-list" ng-model="cuestionario.actividades.aventura">Recreativas y deportivas de montaña y nieve (Turismo aventura)</ion-checkbox>
              <br>
              <ion-checkbox class="checkboxConfiguracion wrapping-list" ng-model="cuestionario.actividades.especiales">Rutas de interés temático (Turismo de intereses especiales)</ion-checkbox>
              <br>
              <ion-checkbox class="checkboxConfiguracion wrapping-list" ng-model="cuestionario.actividades.playa">Actividades de Playa (Turismo tradicional)</ion-checkbox>
              <br>
              <ion-checkbox class="checkboxConfiguracion wrapping-list" ng-model="cuestionario.actividades.naturaleza">Visitar Áreas Protegidas, ecoturismo, observación de paisaje, flora y fauna (Turismo Naturaleza)</ion-checkbox>
              <br>
              <ion-checkbox class="checkboxConfiguracion wrapping-list" ng-model="cuestionario.actividades.reuniones">Actividades Profesionales (Turismo de reuniones)</ion-checkbox>
              <br>
              <ion-checkbox class="checkboxConfiguracion wrapping-list" ng-model="cuestionario.actividades.gastronomia">Gastronomía (Turismo cultural)</ion-checkbox>
              <br>
              <ion-checkbox class="checkboxConfiguracion wrapping-list" ng-model="cuestionario.actividades.museos">Visitar a museos, centros históricos, monumentos (Turismo cultural)</ion-checkbox>
              <br>
              <ion-checkbox class="checkboxConfiguracion wrapping-list" ng-model="cuestionario.actividades.astronomicos">Visitas a observatorios astronómicos (Turismo Astronómico)</ion-checkbox>
              <br>
              <ion-checkbox class="checkboxConfiguracion wrapping-list" ng-model="cuestionario.actividades.ocio">Ocio-Descanso (Turismo tradicional)</ion-checkbox>
              <br>
              <ion-checkbox class="checkboxConfiguracion wrapping-list" ng-model="cuestionario.actividades.cityTour">City tour (Turismo tradicional)</ion-checkbox>
              <br>
              <ion-checkbox class="checkboxConfiguracion wrapping-list" ng-model="cuestionario.actividades.otro">Otro</ion-checkbox>

              <br><br>
              <p ng-show="noRespondeTipoServicio == false">¿Qué tipo de servicio de alojamiento utilizarás en tu visita?</p>
              <p ng-show="noRespondeTipoServicio" style="color:red">¿Qué tipo de servicios de alojamiento utilizaras en tu visita?</p>
              
                  <ion-radio class="item-text-wrap" ng-model="cuestionario.tipoServicio" ng-value="1" name="cuestionario-radio">Hotel</ion-radio>
                  <br>
                  <ion-radio class="item-text-wrap" ng-model="cuestionario.tipoServicio" ng-value="2" name="cuestionario-radio">Hostería</ion-radio>
                  <br>
                  <ion-radio class="item-text-wrap" ng-model="cuestionario.tipoServicio" ng-value="3" name="cuestionario-radio">Residencial/Hostal</ion-radio>
                  <br>
                  <ion-radio class="item-text-wrap" ng-model="cuestionario.tipoServicio" ng-value="4" name="cuestionario-radio">Apart hotel</ion-radio>
                  <br>
                  <ion-radio class="item-text-wrap" ng-model="cuestionario.tipoServicio" ng-value="5" name="cuestionario-radio">Cabaña arrendada</ion-radio>
                  <br>
                  <ion-radio class="item-text-wrap" ng-model="cuestionario.tipoServicio" ng-value="6" name="cuestionario-radio">Habitación arrendada</ion-radio>
                  <br>
                  <ion-radio class="item-text-wrap" ng-model="cuestionario.tipoServicio" ng-value="7" name="cuestionario-radio">Camping</ion-radio>
                  <br>
                  <ion-radio class="item-text-wrap" ng-model="cuestionario.tipoServicio" ng-value="8" name="cuestionario-radio">Crucero</ion-radio>
                  <br>
                  <ion-radio class="item-text-wrap" ng-model="cuestionario.tipoServicio" ng-value="9" name="cuestionario-radio">Casa/Depto De Familiares/Amigos</ion-radio>
                  <br>
                  <ion-radio class="item-text-wrap" ng-model="cuestionario.tipoServicio" ng-value="10" name="cuestionario-radio">Casa/Depto Arrendado</ion-radio>
                  <br>
                  <ion-radio class="item-text-wrap" ng-model="cuestionario.tipoServicio" ng-value="11" name="cuestionario-radio">Casa/Depto Propio</ion-radio>
                  <br>
                  <ion-radio class="item-text-wrap" ng-model="cuestionario.tipoServicio" ng-value="12" name="cuestionario-radio">Otro</ion-radio>
              </div>

              <br><br>
              <p ng-show="noRespondeComida == false">¿Qué tipo de comida prefieres?</p>
              <p ng-show="noRespondeComida" style="color:red">¿Qué tipo de comida prefieres?</p>

                  <ion-radio class="item-text-wrap" ng-model="cuestionario.comida" ng-value="'Comida casera'" name="comida-radio">Comida casera</ion-radio>
                  <br>
                  <ion-radio class="item-text-wrap" ng-model="cuestionario.comida" ng-value="'Comida gourmet'" name="comida-radio">Comida gourmet</ion-radio>
                  <br>
                  <ion-radio class="item-text-wrap" ng-model="cuestionario.comida" ng-value="'Comida rápida'" name="comida-radio">Comida rápida</ion-radio>
                  <br>
                  <ion-radio class="item-text-wrap" ng-model="cuestionario.comida" ng-value="'Comida típica'" name="comida-radio">Comida típica</ion-radio>

              <br><br>
       
              <p ng-show="noRespondeTipoTours == false">¿Qué tipo de tours prefieres?</p>
              <p ng-show="noRespondeTipoTours" style="color:red">¿Qué tipo de tours prefiere?</p>
              
                  <ion-radio class="item-text-wrap" ng-model="cuestionario.tipoTours" ng-value="'Tours auto-guiados'" name="tipo-tours">Tours auto-guiados</ion-radio>
                  <br>
                  <ion-radio class="item-text-wrap" ng-model="cuestionario.tipoTours" ng-value="'Tours con operadores o guías de turismo especializados'" name="tipo-tours">Tours con operadores o guías de turismo especializados</ion-radio>
                  <br>
                  <ion-radio class="item-text-wrap" ng-model="cuestionario.tipoTours" ng-value="'Otro'" name="tipo-tours">Otro</ion-radio>
              


              
	          <div class="row">
              <div class="col">
                
              </div>
              
              <div class="col">
                <button class="button button-full button-positive botonMisDatos" ng-click="addCuestionario(cuestionario)">
                  <i class="guardarPlomo iconoBotonMisDatos"></i>
                </button>
              </div>
            </div>

            
	        </div>
       	</div>
    </ion-content>
</ion-modal-view>