<ion-modal-view cache-view="false">

	<div class="footerNuevoHome">
  		<img src="img/nuevoHome/logo.png" alt="" class="logoFooterNuevoHome">
	</div>

	<ion-header-bar class="bar bar-header bar-positive contenedortituloModalFullscreenNuevo">
  		<img src="img/nuevoHome/atras.png" alt="" class="imgAtrasRutasTipicas" ng-click="atrasRecorrerRutaTipicas()">
    	<h1 class="tituloAtrasEquis title tituloModalFullscreenNuevo fuenteRoboto" >
    		<img src="img/rutasTipicas/localizador.png" alt="" class="" style="height:20px;  margin-top: 3%;  margin-right: 1%;"> {{ruta.nombre_ruta}}
    	</h1>
      <button class="button button-clear button-primary" ng-click="cerrarRecorrerRutaTipicas()"><i class="equisMenuModalAzul" style="margin-left: 15% !important;"></i></button>
	</ion-header-bar>

  	<ion-content style="z-index: 5">
    	<div ng-style="styleMapa" id="map_canvas">
    		
        <div class="contenedorBotonesRutaTipica">
          <!--<img src="img/rutasTipicas/casa.png" alt=""     class="botonesRutaTipica" ng-click="test(1)">
          <div></div>
          <img src="img/rutasTipicas/division.png" alt="" class="botonesRutaTipica" ng-click="test(2)">
          <div></div> -->
          <img src="img/rutasTipicas/bandera.png" alt=""  class="botonesRutaTipica" ng-click="addHuella()">
        </div>

        <div class="contenedorBotonRegistrarHuella" ng-hide="mostrarBotonesRegistrarhuella">
          <div class="descartarHuella" ng-click="pauseRutaTipica()" ng-show="watchRutaTipica != null"></div>
          <div class="addHuella" ng-click="stopRutaTipica()"></div>
          <img class="btnDejaTuHuella" src="img/rutasTipicas/pausaStop.png" alt="" usemap="#Map" />
        </div>

        <div class="contenedorBotonRegistrarHuella" ng-show="mostrarBotonesRegistrarhuella">
          <div class="descartarHuella" ng-click="descartarHuella()"></div>
          <div class="addHuella" ng-click="addHuellaConfirmar()"></div>
          <img class="btnDejaTuHuella" src="img/deja_tu_huella/btn_deja_tu_huella.png" alt="" usemap="#Map" />
        <!--<map name="Map" id="Map">
            <area shape="rect" coords="1,1,147,96" ng-click="descartarHuella()"/>
            <area shape="rect" coords="150,2,299,95" ng-click="addHuella()"/>
        </map>-->
        </div>

    	</div>
  	</ion-content>
		
	</ion-nav-bar>
</ion-modal-view>