<ion-modal-view cache-view="false">

	<div class="footerNuevoHome">
  		<img src="img/nuevoHome/logo.png" alt="" class="logoFooterNuevoHome">
	</div>

	<ion-header-bar class="bar bar-header bar-positive contenedortituloModalFullscreenNuevo">
  		<img src="img/nuevoHome/atras.png" alt="" class="imgAtrasRutasTipicas" ng-click="atrasRecorrerRutaTipicasOffline()">
    	<h1 class="tituloAtrasEquis title tituloModalFullscreenNuevo fuenteRoboto" >
    		<img src="img/rutasTipicas/localizador.png" alt="" class="" style="height:20px;  margin-top: 3%;  margin-right: 1%;"> {{ruta.nombre_ruta}}
    	</h1>
      <button class="button button-clear button-primary" ng-click="cerrarRecorrerRutaTipicasOffline()"><i class="equisMenuModalAzul" style="margin-left: 15% !important;"></i></button>
	</ion-header-bar> 


    <div id="mapid" style="z-index: -777; margin-top: 50px;"></div>

		
</ion-modal-view> 