<ion-modal-view  class="modal_pantalla_completa" ng-controller="reservaCtrl">
	<div class="footerNuevoHome">
  		<img src="img/nuevoHome/logo.png" alt="" class="logoFooterNuevoHome">
  	</div>
	<ion-header-bar class="bar bar-header bar-positive contenedortituloModalFullscreenNuevo">
	        <img src="img/nuevoHome/atras.png" alt="" class="imgAtrasRutasTipicas" ng-click="atrasReservas()">

	        <h1 class="title tituloModalFullscreenNuevo fuenteKini" style="width: 70%; text-transform: uppercase; size: 50px; overflow: hidden; margin-left: 55px; margin-right: 55px;">
              <img src="img/reservas/logo.png" alt="" class="" style="height:20px; margin-right: 1%; margin-left: 5%;" > Reservas
            </h1>

	        <button class="button button-clear button-primary" ng-click="cerrarModalReserva()"><i class="equisMenuModalAzul" style="margin-left: 15% !important;"></i></button>

    </ion-header-bar> 

    <div class="bar bar-subheader contenedorTituloSaberMas" style="height: 50px; background-color: #EA700C;">
            <img src="img/reservas/invReserva.png" alt="" class="iconoMensajeReserva">
           	<p class="textoMensajeReserva">{{item_seleccionado.nombre}}</p>
    </div> 

    <ion-content class="scrollClass has-subheader padding" >
       	<div class="" style="padding-left: 5%;  padding-right: 5%; margin-bottom: 5%;margin-top: 5%; z-index: -1;">

			<div ng-show="fromExperiencia">
				<strong> Servicio a reservar</strong>
				<p class="marginTopDiezPx">{{item_seleccionado.nombre_producto}}</p>
			</div>

       		<strong style="color: #EA700C;">Datos de contacto</strong>
       		<br>

			<p class="marginTopDiezPx">Teléfono:</p>
			<label class="item item-input ">
          		<input ng-disabled="soloVer" type="number" ng-model="misDatos.telefono">
        	</label>

        	
        </div>
        <br>
        <div class="lineaSeparadoraPloma" style="margin-left: 0%;"></div>
        <br>
        <div class="" style="padding-left: 5%;  padding-right: 5%; margin-bottom: 20%;margin-top: 0%; z-index: -1;">
	        <br>
	        <strong style="color: #EA700C;">Datos de Reserva</strong>
	        <br>
	        
	        <p class="marginTopDiezPx" ng-show="id_tipo_servicio == 10">Número de habitaciones:</p>
	        <label class="item item-input " ng-show="id_tipo_servicio == 10"> 
          		<input ng-disabled="soloVer" type="number" ng-model="misDatos.numHabitaciones" placeholder="N° habitaciones">
        	</label>

			<p class="marginTopDiezPx">Número de personas:</p>
        	<label class="item item-input ">
          		<input ng-disabled="soloVer" type="number" ng-model="misDatos.numPersonas" placeholder="N° personas">
        	</label>

        	<p class="marginTopDiezPx">Tipo moneda:</p>
        	<label class="item item-input inputLogin">
	        	<button ng-disabled="soloVer" class="button button-light icon-right ion-arrow-down-b selectSexo" modal-select ng-model="misDatos.sexo" options="selectables" modal-title="Selección de moneda" hide-reset="true" cancel-button="_____" on-select="selectMoneda(newValue, oldValue)" header-footer-class="bar-assertiveAtacama">
	            	{{monedaSeleccionada}}
	            	<div class="option">
	                	{{option}}
	            	</div>
	          	</button>
	        </label>

			<p class="marginTopDiezPx" >Fecha entrada:</p>
	        <label  class="item item-input" ng-click="openDatePicker('entrada')" ng-model="misDatos.fechaEntrada" style="    padding-top: 10px;padding-bottom: 10px;">
	          	<p style="color: #acacac;">{{fechaSeleccionadoEntrada}}</p>
	        </label>

			<p class="marginTopDiezPx">Fecha salida:</p>
	        <label class="item item-input" ng-click="openDatePicker('salida')" ng-model="misDatos.fechaSalida" style="    padding-top: 10px;padding-bottom: 10px;">
	          	<p style="color: #acacac;">{{fechaSeleccionadoSalida}}</p>
	        </label>

			<p class="marginTopDiezPx">Solicitudes Adicionales:</p>
	        <label class="item item-input">
          		<input ng-disabled="soloVer" type="text" ng-model="misDatos.adicionales" placeholder="Mensaje">
        	</label>

			<br>
			<div ng-hide="soloVer" class="btnGuardarMisDatos" style="height: 46px;">
  				<h1 ng-click="reservar(misDatos)" class="" style="position: absolute;    width: 90%;    text-align: center;    margin-top: 18px;    color: white;    font-weight: 700;    font-size: 12px">{{textoReserva}}</h1> <!-- reservarNavegador(item.id) -->
  				<img src="img/login/btnIngresar.png" alt="" class="btnIngresarLogin">
			</div>

			

       	</div>
    </ion-content>
    <!-- <ion-footer-bar align-title="left" class="bar-light tituloModalFullscreen">
	  <div class="buttons">
	    <button class="button button-full button-positive botonMisDatos" ng-click="cerrarModalReserva()">
	         <i class="volverAzul iconoBotonMisDatos"></i>
	    </button>
	  </div>
	  <h1 class="title"></h1>
	  <!--
	  <div class="buttons" ng-click="doSomething()">
	    <button class="button button-full button-positive botonMisDatos">
	        <i class="guardar iconoBotonMisDatos"></i>
	    </button>
	  </div>
	  -->
	</ion-footer-bar> -->
</ion-modal-view>