<ion-modal-view cache-view="false" ng-hide="goBack">

	<div class="footerNuevoHome">
  		<img src="img/nuevoHome/logo.png" alt="" class="logoFooterNuevoHome">
	</div>

	<ion-header-bar class="bar bar-header bar-positive contenedortituloModalFullscreenNuevo" >
  		<img src="img/nuevoHome/atras.png" alt="" class="imgAtrasRutasTipicas" ng-click="atrasReservaVer()">
    	<h1 class="tituloAtrasEquis title tituloModalFullscreenNuevo fuenteRoboto" >
    		Reserva servicio
    	</h1>
      <button class="button button-clear button-primary" ng-click="cerrarReservaVer()"><i class="equisMenuModalAzul" style="margin-left: 15% !important;"></i></button>
	</ion-header-bar>

  	<ion-content style="z-index: 5">
    	<div style="width:100%; height:100%;" id="map_canvas222">
    	</div>
  	</ion-content>
</ion-modal-view>