<ion-modal-view class="modal_pantalla_completa"  ng-controller="reservasCtrl">
   	<div class="footerNuevoHome">
  		<img src="img/nuevoHome/logo.png" alt="" class="logoFooterNuevoHome">
  	</div>

    <ion-header-bar class="bar bar-header bar-positive contenedortituloModalFullscreenNuevo">
        <img src="img/nuevoHome/atras.png" alt="" class="imgAtrasRutasTipicas" ng-click="cerrarModalReservas()">
		
        <h1 class="tituloAtrasEquis title tituloModalFullscreenNuevo fuenteKini" >
        	<img src="img/reservas/logo.png" alt="" class="" style="width: 15px;    height: 15px;    margin-right: 1%; " > Reservas
        </h1>
        
        <!-- <button class="button button-clear button-primary" ng-click="cerrarModalReservas()"><i class="equisMenuModalAzul" style="margin-left: 15% !important;"></i></button> -->

    </ion-header-bar>


    <div class="bar bar-subheader contenedorFiltroReservas_v2" style="top: 50px;">
    	<div class="contenedorTextoFiltroReservas_v2">
    		
    		<p class="textoFiltroRutasTipicas_v2 fuenteKini" ng-click="mostrarFiltro()">
    			<img src="img/nuevoHome/filtro.png" alt="" class="imgFiltroRutasTipicas_v2">{{filtroSeleccionado}}
    		</p>
    	</div>

    	

    	
    </div>

    <div class="bar bar-subheader contenedorFiltroReservas_v2" style="top: 50px; padding: 0px;" ng-show="mostrarMenuFiltro">
    	<div class="contenedorFiltroReservas_v2"  ng-style="espaciadoFiltro">
    	    	<div class="separadorBlanco"></div>
    	    	<p class="fuenteKini contenedorFiltroReservas_v2" ng-click="filtrar('Todos')" style="color: white; margin: 0px;">Todos</p>
    			<div class="separadorBlanco"></div>
    	    	<p class="fuenteKini contenedorFiltroReservas_v2" ng-click="filtrar('Cerradas')" style="color: white; margin: 0px;">Cerradas</p>
    			<div class="separadorBlanco"></div>
    	    	<p class="fuenteKini contenedorFiltroReservas_v2" ng-click="filtrar('En curso')" style="color: white; margin: 0px;">En curso</p>
    			<div class="separadorBlanco"></div>
    	</div> 
   	
    </div>

    

    <ion-content class="" style="top: 86px;" ng-style="alturaFiltro">

    	

    	<!-- <div class="contenedorFiltroReservas">
    		<div class="contenedorTextoFiltroReservas">
    			<img src="img/nuevoHome/filtro.png" alt="" class="imgFiltroRutasTipicas">
    			<!--<p class="textoFiltroRutasTipicas fuenteKini">En curso</p> -->
    			<!--<div class="selectSexoreservas fuenteKini" modal-select ng-model="misDatos.sexo" options="selectables" modal-title="Filtro" hide-reset="true" cancel-button="_____" on-select="selectFiltro(newValue, oldValue)" header-footer-class="bar-assertiveAtacama">
		            	{{filtroSeleccionado}}
		            	<div class="option">
		                	{{option}}
		            	</div>
		        </div>
    		</div>
    	</div> -->

    	

       	<div class="list contenedorDatosUsuario">
			<!--<div class="list">
				<h4>Filtros:</h4>
				<label class="item item-input inputLogin">
		        	<button class="button button-light icon-right ion-arrow-down-b selectSexo" modal-select ng-model="misDatos.sexo" options="selectables" modal-title="Filtro" hide-reset="true" cancel-button="_____" on-select="selectFiltro(newValue, oldValue)" header-footer-class="bar-assertiveAtacama">
		            	{{filtroSeleccionado}}
		            	<div class="option">
		                	{{option}}
		            	</div>
		          	</button>
		        </label>
		        <!--
				<div class = "row">
				  	<div class = "col">
				   		 <ion-radio class="item-text-wrap" ng-model="filtro" ng-value="'En curso'" name="radio">En curso</ion-radio>
				   	</div>
				   	<div class = "col">
				   		 <ion-radio class="item-text-wrap" ng-model="filtro" ng-value="'Cerradas'" name="radio">Cerradas</ion-radio>
				   	</div>
				</div>
				
				<div class="bar bar-royal" style="background-color:#3a3189;">
	  				<h1 ng-click="filtrar(filtro)" class="title">Filtrar</h1> <!-- reservarNavegador(item.id)
				</div>-->
				<!--
				<br>
				<br>
			</div> -->

			<div ng-show="!reservas" class="list">
				<div class="espaciadorReservas"></div>
				<label class="item-input inputLogin" style="white-space: initial;">
					No hay reservas
				</label>
			</div>
			
			<!--<hr style="border-top: 4px dotted #3A3189;margin-top: 15px;margin-bottom: 15px;"> -->
			<div class="list" ng-repeat="reserva in reservas">
				<img src="img/reservas/punto.png" alt="" class="iconoReserva">
		        <div class="item-input inputLogin" style="white-space: initial;">
		        	<p style="margin-top: -20px;" ng-click="mostrarReservaEnMapa(reserva.id_servicio_turistico)"><i class="gpsNaranjoEventos"></i></p>
		        	Nombre Servicio: <br>
		          	<div class="respuestasReserva">{{reserva.nombre_servicio}}</div>
		        </div>
		        <div class="espaciadorReservas"></div>

		        <label class="item-input inputLogin" style="white-space: initial;">
		        	Fecha inicio: 
		        	<div class="respuestasReserva">{{reserva.fecha_inicial_reserva}}
		        	</div>     	    	
		        </label>

		        <label class="item-input inputLogin" style="white-space: initial;">
		        	Fecha término: 
		        	<div class="respuestasReserva">{{reserva.fecha_final_reserva}}
		        	</div>      	
		        </label>

		        <div class="espaciadorReservas"></div>

		        <label class="item-input inputLogin" style="white-space: initial;">
		        	Personas: <div class="respuestasReserva">{{reserva.numero_personas}}
		        	</div>
		        </label>
		        <div class="espaciadorReservas"></div>

		        <label class="item-input inputLogin" style="white-space: initial;" ng-if="reserva.numero_habitaciones">
		        	Habitaciones: 
		        	<div class="respuestasReserva">
		        	{{reserva.numero_habitaciones}}
		        	</div>
		        </label>
				<div class="espaciadorReservas" ng-if="reserva.numero_habitaciones"></div>
<!-- 
		        <label class="item-input inputLogin" ng-show="reserva.id_servicio_turistico == '2'" style="white-space: initial;">
		        	Habitaciones: {{reserva.numero_habitaciones}}
		        </label>
				<div class="espaciadorReservas" ng-show="reserva.id_servicio_turistico == '2'"></div>
 -->

				<!-- Mostrar peso y monto si es reservado pendiente pago-->
				<label ng-show="reserva.estado_reserva == 'reservado pendiente pago' " class="item-input inputLogin" style="white-space: initial;">
		        	Total pago: {{reserva.total_pago}}
		        </label>
		        <div ng-show="reserva.estado_reserva == 'reservado pendiente pago' " class="espaciadorReservas"></div>

		        <label ng-show="reserva.estado_reserva == 'reservado pendiente pago' " class="item-input inputLogin" style="white-space: initial;">
		        	Moneda: {{reserva.moneda}}
		        </label>
		        <div ng-show="reserva.estado_reserva == 'reservado pendiente pago' " class="espaciadorReservas"></div>

				<!-- Mostrar peso y monto si es reservado pendiente pago-->
		        <label class="item-input inputLogin" style="white-space: initial;">
		        	Estado de la reserva: 
		        	<div class="respuestasReserva">
		        	{{reserva.estado_reserva}}
		        	</div>
		        </label>
		        <div class="espaciadorReservas"></div>

		        <label class="item-input inputLogin" style="white-space: initial;">
		        	Solicitudes adicionales: 
		        	<div class="respuestasReserva">{{reserva.solicitudes_adicionales}}
		        	</div>
		        </label>
		        <div class="espaciadorReservas"></div>
		        <label class="item-input inputLogin" style="white-space: initial;">
		        	Último mensaje: 
		        	<div class="respuestasReserva">
		        	{{reserva.mensaje}}
		        	</div>
		        </label>
				<br>

				<button ng-click="openModalMensajesReserva(reserva.id_reserva_servicio_turistico,reserva.estado_reserva)" class="button button-full button-royal verTodosMensajes">
  						<img src="img/reservas/verMensajes.png"  alt="" class="nuveReserva">VER TODOS LOS MENSAJES
				</button>
		        
		        <!--<button ng-click="mostrarReservaEnMapa(reserva.id_servicio_turistico)" class="button button-full button-royal " style="margin-top: 0px !important;background-color:#3a3189;">
  						Ver en mapa
				</button> -->
		        
		        <div class="row" style="padding-right: 0px;padding-left: 0px;">
		          <div ng-show=" reserva.estado_reserva != 'cancelado' "  class="col" style="padding-right: 0px;padding-left: 0px;margin-right: 2%;width: 98%;">
		           	<!--<button ng-hide="reserva.estado_reserva == 'cancelado'" ng-click="anularReserva(reserva.id_mensaje)" class="button button-full button-royal " style="margin-top: 0px !important;background-color:#3a3189;">
  						Anular
					</button>-->

					<div class="btnGuardarMisDatos"  style="height: 46px;" ng-click="anularReserva(reserva.id_mensaje)" ng-show="reserva.anularReserva == true" id = "{{reserva.id_mensaje}}">
						 <p class="textoBtonVerReservas" >ANULAR RESERVA</p>
						 <img src="img/login/btnIngresar.png" alt="" class="btnReserva">
					</div>

		          </div>
		          
		          <div ng-show=" reserva.estado_reserva != 'cancelado' " class="col" style="padding-right: 0px;padding-left: 0px;margin-left: 2%;width: 98%;">
		            <!--<button ng-click="modificarReserva(reserva.id_reserva_servicio_turistico,reserva.id_servicio_turistico)" class="button button-full button-royal " style="margin-top: 0px !important;background-color:#3a3189;">
	  					Modificar
					</button> -->

					<div class="btnGuardarMisDatos" style="height: 46px;" ng-click="modificarReserva(reserva.id_reserva_servicio_turistico,reserva.id_servicio_turistico,reserva)">
						 <p class="textoBtonVerReservas">MODIFICAR RESERVA</p>
						 <img src="img/login/btnIngresar.png" alt="" class="btnReserva">
					</div>
					
		          </div>

		          <div ng-show=" reserva.estado_reserva == 'cancelado' " class="col" style="padding-right: 0px;padding-left: 0px;margin-left: 2%;width: 98%;">
		            <!--<button ng-click="verReserva(reserva.id_reserva_servicio_turistico,reserva.id_servicio_turistico)" class="button button-full button-royal btnGuardarMisDatos " style="margin-top: 0px !important;background-color:#3a3189;">
	  					ver
					</button>-->

					<div class="btnGuardarMisDatos" style="height: 46px;" ng-click="verReserva(reserva.id_reserva_servicio_turistico,reserva.id_servicio_turistico,reserva)" >
						 <p class="textoBtonVerReservas_v2">VER RESERVA</p>
						 <img src="img/login/btnIngresar.png" alt="" class="btnIngresarLogin">
					</div>
		          </div>

		        </div>

		        <hr class="separadorReservas">
					
        	</div>




          	<!--<div class="row">
	          <div class="col">
	           	<button class="button button-full button-positive botonMisDatos" ng-click="cerrarModalReservas()">
	           		<i class="volverAzul iconoBotonMisDatos"></i>
	           	</button>
	          </div>
	          
	          <div class="col">
	            
	          </div>
	        </div> -->
       	</div>
    </ion-content>
</ion-modal-view>