<ion-modal-view class="modal_pantalla_completa"  >
    
    <div class="footerNuevoHome">
  		<img src="img/nuevoHome/logo.png" alt="" class="logoFooterNuevoHome">
  	</div>

    <ion-header-bar class="bar bar-header bar-positive contenedortituloModalFullscreenNuevo">
    	<img src="img/nuevoHome/atras.png" alt="" class="imgAtrasRutasTipicas" ng-click="cerrarModalSaberMasMisRecorridos()">
        <h1 class="title tituloModalFullscreenNuevo fuenteRoboto" style="width: 100%;">
          {{ruta.nombre}}
        </h1>
        <button class="button button-clear button-primary" ng-click="volverrutasTipicasMisRecorridos()"><i class="equisMenuModalAzul" style="margin-left: 15% !important;"></i></button>
    </ion-header-bar>

      <div class="bar bar-subheader contenedorTituloSaberMas" style="height: 50px; top: 50px;">
        <h3 class="tituloSaberMas title tituloModalFullscreenNuevo fuenteRoboto" >
         <img src="img/rutasTipicas/tituloRutasTipicas.png" alt="" class=""  style="height:30px; margin-right: 0%;"> {{ruta.nombre}}
       </h3>
      </div>  

    <ion-content class="scrollClass has-subheader" style="top: 100px;">
       	<div class="contenedorImagenSaberMas">
       		<ion-slide-box show-pager="true" on-slide-changed="slideHasChanged($index)" ng-hide="ocultarSlider">  
            <!-- <ion-slide>
              <div class="box blue pager">
                <img ng-src="{{ruta.imagen}}" alt="" style="width: 100%;">
              </div>
            </ion-slide> -->
            <ion-slide >
              <div class="box blue pager">
                <img ng-src="{{ruta.ruta_imagen}}" alt="" style="width: 100%;">
              </div>
            </ion-slide>

          </ion-slide-box>
       	</div>

       	<div  class="contenedorAccionesRuta" >
          <img src="img/evento/compartir_azul.png" alt="" class="col" ng-click="openCompartir()" ng-show="true" ng-style="icono">
       	</div>

       	<div class="cuerpoSaberMas" >
          <p class="txtCuerpoSaberMas">
            {{ruta.fecha}}
          </p>

          <p class="txtCuerpoSaberMas">
            {{ruta.descripcion}}
       		</p>

       	</div>

        <div class="modalCompartir" ng-show="modalCompartir">
          <div class="contenedorModalCompartir">
            <h4 class="txtcomparteConTusAmigos">Comparte con tus amigos!</h4>
            <i class="icon ion-close-round equisModalCrearRecorrido" ng-click="cerrarCompartir()"></i>
            <div style="display:flex;justify-content:center">
              <img src="img/facebook.png" ng-click="compartirFacebook()" width="70" height="70" style="margin-right:20px;">
              <img src="img/twitter.png" ng-click="compartirTwitter()" width="70" height="70">
            </div> 
          </div>
        </div>
        
    </ion-content>
</ion-modal-view>