<ion-modal-view class="modal_pantalla_completa"  ng-controller="saberMasCtrl">
    
    <div class="footerNuevoHome">
  		<img src="img/nuevoHome/logo.png" alt="" class="logoFooterNuevoHome">
  	</div>

    <ion-header-bar class="bar bar-header bar-positive contenedortituloModalFullscreenNuevo">
    	<img src="img/nuevoHome/atras.png" alt="" class="imgAtrasRutasTipicas" ng-click="cerrarModalSaberMas()">
        <h1 class="title tituloModalFullscreenNuevo fuenteRoboto" style="width: 100%;">
          <img src="img/nuevoHome/rutasTipicas.png" alt="" class="" style="height:20px;  margin-top: 3%;  margin-right: 1%;  "> RECORRIDOS FRECUENTES
        </h1>
        <button class="button button-clear button-primary" ng-click="volverrutasTipicas()"><i class="equisMenuModalAzul" style="margin-left: 15% !important;"></i></button>
    </ion-header-bar>

      <div class="bar bar-subheader contenedorTituloSaberMas" style="height: 50px; top: 50px;">
        <h3 class="tituloSaberMas title tituloModalFullscreenNuevo fuenteRoboto" >
         <img src="img/rutasTipicas/tituloRutasTipicas.png" alt="" class=""  style="height:30px; margin-right: 0%;"> {{ruta.nombre_ruta}}
       </h3>
      </div>  

    <ion-content class="scrollClass has-subheader" style="top: 100px;">
       	
       	<div class="contenedorImagenSaberMas" ng-show="ruta.imagen != 'http://200.14.68.107/atacamaGoMultimedia/' ">
       		<ion-slide-box show-pager="true" on-slide-changed="slideHasChanged($index)" ng-hide="ocultarSlider">  
            <!-- <ion-slide>
              <div class="box blue pager">
                <img ng-src="{{ruta.imagen}}" alt="" style="width: 100%;">
              </div>
            </ion-slide> -->
            <ion-slide ng-repeat="foto in ruta.galeria">
              <div class="box blue pager">
                <img ng-src="{{foto.ruta}}" alt="" style="width: 100%;">
              </div>
            </ion-slide>

          </ion-slide-box>
       	</div>

       	<div class="contenedorAccionesRuta" >
          <img src="img/nuevoHome/continuarRuta.png" alt="" class="imgContinuarRutaRutasTipicas" ng-click="continarRuta()" ng-show="estado_ruta != ''">
       		

          <img src="img/evento/compartir_azul.png" alt="" class="imgCompartirRutaRutasTipicas" style="margin-top: 5px; height: 40px; width: 40px" ng-click="openModalCompartir()" ng-show="false">

          <img src="img/rutasTipicas/eliminar.png" alt="" class="imgCompartirRutaRutasTipicas" style="margin-top: 5px; height: 40px; width: 40px" ng-click="eliminarRuta()" ng-show="eliminar">

          <img src="img/rutasTipicas/descargar.png" alt="" class="imgCompartirRutaRutasTipicas" style="margin-top: 5px; height: 40px; width: 40px" ng-click="guardarRutaOffline()" ng-show="descargar">

          <img src="img/rutasTipicas/actualizar.png" alt="" class="imgCompartirRutaRutasTipicas" style="margin-top: 5px; height: 40px; width: 40px" ng-click="guardarRutaOffline()" ng-show="actualziar">

          <br>
          <p class="fuenteKini txtContinuarRutaTipica" ng-show="estado_ruta != ''">
            {{estado_ruta}}
          </p>
        
       		<!--<img src="img/nuevoHome/valoracion.png" alt="" class="imgValoracionRutaRutasTipicas">-->
       	</div>

         <!--<div class="contenedorAccionesRuta" ng-show="tieneRutaContinuar"> 
          <img src="img/nuevoHome/continuarRuta.png" alt="" class="imgContinuarRutaRutasTipicas">
          <img src="img/nuevoHome/compartir.png" alt="" class="imgCompartirRutaRutasTipicas">
          <img src="img/nuevoHome/valoracion.png" alt="" class="imgValoracionRutaRutasTipicas">
           
        </div> -->

        <div ng-show="mostrarPorcentaje">
            <progress max="100" value="{{progressPercent}}">  
            </progress>

          <p>{{estado}} {{progressPercent | number:0}} %</p>
         </div>

       	<div class="cuerpoSaberMas" >

          
       		<p class="txtDistanciaSaberMas">{{ruta.duracion_dias}}</p>
       		
          <!-- <div class="row">
              <p style="float: left; margin-left: 5px;"></p>
          </div>
          <div class="row" ng-click="addCalificacion(ruta,ruta.calificacion_usuario)">
            
            <rating style="float: left; margin-left: 5%;" ng-model="ruta.calificacion_usuario" max="5" id="calificarRutasTipicas"></rating>
            
          </div> -->

          <div class="row">
              <div class="col">
                  <p class="texto-estrellas">Calificar ({{calificacion_promedio}} de 5)</p>
              </div>
              
          </div>

          <div class="row" ng-click="addCalificacion(ruta,ruta.calificacion_usuario)">
              <div class="col">
                  <rating class="estrellas-saber-mas" ng-model="ruta.calificacion_usuario" max="5" id="calificarRutasTipicas"></rating> 
              </div>
          </div>

       		
          <p class="txtCuerpoSaberMas" ng-bind-html="trustAsHtml(ruta.descripcion_ruta)">
       		</p>

       	</div>

       	<div class="contenedorBtnRecorrerRuta">
       		<div class="margenBtnRecorrerRuta" style="height: 46px;" ng-click="recorrerRuta()">
            <!-- ng-show="mostrarBoton" -->
       		  <p class="textoIniciarSesion" >RECORRER RUTA</p>
       		  <img src="img/login/btnIngresar.png" alt="" class="btnIngresarLogin" style="width: 225px;">
       		</div>

          <!--
          <div ng-hide="mostrarBoton" class="margenAvisoCerca">
            <p>Cuando te encuentres cerca podrás recorrer esta ruta</p>
          </div> -->


          

          <div class="margenBtnRecorrerRuta" style="height: 46px; margin-top: 30px;" ng-show="actualziar" ng-click="recorrerRutaOffline()" ">
            <p class="textoIniciarSesion" >RECORRER RUTA OFFLINE</p>
            <img src="img/login/btnIngresar.png" alt="" class="btnIngresarLogin" style="width: 225px;" >
          </div>
          <br><br>
          <!--
          <div class="margenBtnRecorrerRuta" style="height: 46px;" ng-click="descargarMapa()">
            <p class="textoIniciarSesion">DESCARGAR MAPA</p>
            <img src="img/login/btnIngresar.png" alt="" class="btnIngresarLogin" style="width: 180px">
          </div>
          
          
          <div class="" ng-show="{{progressPercent}} >">
            <div class="item item-text-wrap">
              <div class="loader" style="width: {{progressPercent}}%;">
                <p class="percent">{{progressPercent}}%</p>
              </div>
            </div>
          </div>
         
         
         
          
           fin pruba -->

       	</div>

       	<!--<div class="list paddingRegistro">
			<h3>Descripción</h3>
			{{ruta.descripcion_ruta}}
			<br>

			<h3>Galeria de fotos</h3>
			<!--<div ng-repeat="foto in ruta.galeria">
				<img ng-show="foto.ruta != 'http://200.14.68.107/atacamaGoMultimedia/' " ng-src="{{foto.ruta}}" alt="" width="100%">
			</div>-

			<ion-slide-box on-slide-changed="slideHasChanged3($index)">
				 	<ion-slide ng-repeat="foto in ruta.galeria">
						<img ng-show="foto.ruta != 'http://200.14.68.107/atacamaGoMultimedia/' " ng-src="{{foto.ruta}}" alt="" width="100%">
				 	</ion-slide>
			</ion-slide-box>

			<br>

			<h3 ng-show="ruta.accesibilidad">Accesibilidad</h3>
			{{ruta.accesibilidad}}
       	</div>-->
    </ion-content>
</ion-modal-view>