<ion-modal-view cache-view="false" ng-hide="goBack">

	<div class="footerNuevoHome">
  		<img src="img/nuevoHome/logo.png" alt="" class="logoFooterNuevoHome">
	</div>

	<ion-header-bar class="bar bar-header bar-positive contenedortituloModalFullscreenNuevo" >
  		<img src="img/nuevoHome/atras.png" alt="" class="imgAtrasRutasTipicas" ng-click="cerrarServiciosAtractivosTotal()">
  		
    	<h1 class="title tituloModalFullscreenNuevo fuenteRoboto" style="width: 70%; text-transform: uppercase; size: 50px; overflow: hidden; margin-left: 55px; margin-right: 55px;">
    		<img ng-src="{{imgHeader}}" alt="" class="iconoHeaderModal" style="margin-right: 1%">{{textServiciosAtractivos}} 
    		<!-- {{atractivoSeleccionado}}-->
    	</h1>

    	<!--<button class="button button-clear button-primary"  ng-click="cerrarServiciosAtractivosTotal()"><i class="equisMenuModalAzul" style="margin-left: 15% !important;"></i></button> -->
	</ion-header-bar>

  	<ion-content style="z-index: 5">

  		<!-- <div class="contenedorNombreFiltroServicio" ng-show="showBotonFiltroServicio">
    			<img src="img/filtrar.png" alt="" class="imgFiltrarServicioAtractivo">
				<p class="fuenteRoboto textoMenuFiltro" ng-click="mostrarFiltroServicios()">{{servicioSeleccionado}}</p>
				<img src="img/abrirMenu.png" alt="" class="imgAbrirServicioAtractivo">
			</div>

		<div class="contenedorNombreFiltroAtractivo" ng-show="showBotonFiltroAtractivo">
				<img src="img/filtrar.png" alt="" class="imgFiltrarServicioAtractivo">
				<p class="fuenteRoboto textoMenuFiltro" ng-click="mostrarFiltroAtractivos()">{{atractivoSeleccionado}}</p>
				<img src="img/abrirMenu.png" alt="" class="imgAbrirServicioAtractivo">
		</div>

		<div class="contenedorFiltroMiRecorridoAtractivo" ng-show="showFiltroAtractivo">
	    		<div ng-repeat="atractivo in atractivosTuristicos">
	    			<div class="separadorBlanco"></div>
	    			<img src="img/iconoTipoAtractivo/{{atractivo.id_sub_tipo_atractivo}}.png" alt="" style="float: left;  height: 30px;  margin-right: 5px; margin-top: 8px;">
	    			<p class="fuenteRoboto textoMenuFiltro" ng-class="{'textoMenuFiltro': !atractivo.seleccionado, 'textoMenuFiltroPatrimonioSeleccionado': atractivo.seleccionado}" ng-click="mostrarPatrimonios(atractivo.id_sub_tipo_atractivo,$index)">{{atractivo.nombre}}</p>
	    		</div>				
	    		<div class="separadorBlanco"></div>
	    </div>

	    <div class="contenedorFiltroMiRecorridoServicio" ng-show="showFiltroServicio">
	    		<div ng-repeat="servicio in serviciosTuristicosMenu">
	    			<div class="separadorBlanco"></div>
	    			<!-- <img src="img/iconoTipoAtractivo/{{atractivo.id_sub_tipo_atractivo}}.png" alt="" style="float: left;  height: 30px;  margin-right: 5px; margin-top: 8px;"> -->
	    			<!--<p class="fuenteRoboto textoMenuFiltro" ng-class="{'textoMenuFiltro': !servicio.seleccionado, 'textoMenuFiltroServicioSeleccionado': servicio.seleccionado}" ng-click="mostrarServiciosTuristicos(servicio.id_tipo_servicio,$index)">{{servicio.nombre}}{{servicio.id_tipo_servicio}}</p>
	    		</div>				
	    		<div class="separadorBlanco"></div>
	    </div> -->
    	<div style="width:100%; height:100%; margin-top: 0%; position: static;" id="map_canvas222">

    		 <div class="contenedorNombreFiltroServicio" ng-show="showBotonFiltroServicio">
	    			<img src="img/filtrar.png" alt="" class="imgFiltrarServicioAtractivo">
					<p class="fuenteRoboto textoMenuFiltro" style="color: white;" ng-click="mostrarFiltroServicios()">{{servicioSeleccionado}}</p>
					<img src="img/abrirMenu.png" alt="" class="imgAbrirServicioAtractivo">
			</div>

			<div class="contenedorNombreFiltroAtractivo" ng-show="showBotonFiltroAtractivo">
					<img src="img/filtrar.png" alt="" class="imgFiltrarServicioAtractivo">
					<p class="fuenteRoboto textoMenuFiltro" style="color: white;" ng-click="mostrarFiltroAtractivos()">{{atractivoSeleccionado}}</p>
					<img src="img/abrirMenu.png" alt="" class="imgAbrirServicioAtractivo">
			</div> 
<!--

			<div class="contenedorFiltroMiRecorridoAtractivo" ng-show="showFiltroAtractivo">
		    		<div ng-repeat="atractivo in atractivosTuristicos">
		    			<div class="separadorBlanco"></div>
		    			 <img src="img/iconoTipoAtractivo/{{atractivo.id_sub_tipo_atractivo}}.png" alt="" style="float: left;  height: 30px;  margin-right: 5px; margin-top: 8px;"> 
		    			<p class="fuenteRoboto textoMenuFiltro" style="color: white;" ng-class="{'textoMenuFiltro': !atractivo.seleccionado, 'textoMenuFiltroPatrimonioSeleccionado': atractivo.seleccionado}" ng-click="mostrarPatrimonios(atractivo.id_sub_tipo_atractivo,$index)">{{atractivo.nombre}}</p>
		    		</div>				
		    		<div class="separadorBlanco"></div>
		    </div>
		     <div class="contenedorFiltroMiRecorridoServicio" ng-show="showFiltroServicio">
		    		<div ng-repeat="servicio in serviciosTuristicosMenu">
		    			<div class="separadorBlanco"></div>
		    			<p class="fuenteRoboto textoMenuFiltro" style="color: white;" ng-class="{'textoMenuFiltro': !servicio.seleccionado, 'textoMenuFiltroServicioSeleccionado': servicio.seleccionado}" ng-click="mostrarServiciosTuristicos(servicio.id_tipo_servicio,$index)">{{servicio.nombre}}</p>
		    		</div>				
		    		<div class="separadorBlanco"></div>
		    </div> 

-->
<!--
		   <div class="bar bar-subheader contenedorFiltroMiRecorridoAtractivoModalHeader" ng-show="showFiltroAtractivo">
		    	
		    	
		    	<p class="fuenteRoboto txtTituloModalSelect" style="width: 90%; margin-left: 20%;"><img src="img/rutasTipicas/icono atractivo.png" alt="" style="float: left;  height: 17px;  margin-right: 5px; margin-top: 0px;">Atractivos turísticos</p>

		    	<span class="cerrarFiltroIniciarMiRecorrido"  ng-click="cerrarModalFiltro()" style="margin-left: 35px;margin-top: 10px;">x</span>
		    </div>

		    <div class="scrollClass has-subheader contenedorFiltroMiRecorridoAtractivoModal" style="padding-bottom: 0px !important;" ng-show="showFiltroAtractivo">

	    		<div ng-repeat="atractivo in atractivosTuristicos">
	    			<img src="img/iconoTipoAtractivo/{{atractivo.id_sub_tipo_atractivo}}.png" alt="" style="float: left;  width: 30px;  margin-right: 5px; margin-top: 8px;">
	    			<p class="fuenteRoboto textoMenuFiltro" ng-class="{'textoMenuFiltro': !atractivo.seleccionado, 'textoMenuFiltroPatrimonioSeleccionado': atractivo.seleccionado}" ng-click="mostrarPatrimonios(atractivo.id_sub_tipo_atractivo,$index)">{{atractivo.nombre}}</p>
	    			<div class="separadorCafe"></div>
	    		</div> 
	    		
	    	 </div>

	    	<div class="bar bar-subfooter contenedorFiltroMiRecorridoAtractivoModalFooter" ng-show="showFiltroAtractivo">
	    		<p class="textoFiltro txtTituloModalSelect "  ng-click="cerrarModalFiltro()">Filtrar</p>
	    	</div>





	    	<div class="bar bar-subheader contenedorFiltroMiRecorridoServicioModalHeader" ng-show="showFiltroServicio">

	    		
	    		<p class="fuenteRoboto txtTituloModalSelect" style="width: 90%; margin-left: 20%;"><img src="img/rutasTipicas/servicio turistico-01.png" alt="" style="float: left;  height: 17px;  margin-right: 5px; margin-top: 0px;">Servicios turísticos</p>
	    		<span class="cerrarFiltroIniciarMiRecorrido" ng-click="cerrarModalFiltro()" style="margin-left: 35px; margin-top: 10px;">x</span>
	    		
	    	</div>

	    	<div class="scrollClass has-subheader contenedorFiltroMiRecorridoServicioModal" style="padding-bottom: 0px !important;" ng-show="showFiltroServicio">
	    		
	    		<div ng-repeat="servicio in serviciosTuristicosMenu">

	    			<img src="img/iconoTipoServicio/{{servicio.id_tipo_servicio}}.png" alt="" style="float: left;  width: 30px;  margin-right: 5px; margin-top: 8px;">
	    			<p class="fuenteRoboto textoMenuFiltro" ng-class="{'textoMenuFiltro': !servicio.seleccionado, 'textoMenuFiltroServicioSeleccionado': servicio.seleccionado}" ng-click="mostrarServiciosTuristicos(servicio.id_tipo_servicio,$index)">{{servicio.nombre}}</p>


	    			<div class="separadorMorado"></div>
	    		</div>				
	    		
	    	</div>

	    	<div class="bar bar-subfooter contenedorFiltroMiRecorridoServicioModalFooter" ng-show="showFiltroServicio">
	    		<p class="textoFiltro txtTituloModalSelect" ng-click="cerrarModalFiltro()">Filtrar</p>
	    	</div> 
-->

		    
    		<div class="contenedorFiltroMiRecorridoAtractivo" ng-show="showFiltroAtractivo">
	    		<div ng-repeat="atractivo in atractivosTuristicos">
	    			<div class="separadorBlanco"></div>
	    			<p class="fuenteRoboto textoMenuFiltroBlanco" ng-class="{'textoMenuFiltroBlanco': !atractivo.seleccionado, 'textoMenuFiltroPatrimonioSeleccionado': atractivo.seleccionado}" ng-click="mostrarPatrimonios(atractivo.id_sub_tipo_atractivo,$index)">{{atractivo.nombre}}</p>
	    		</div>				
	    		<div class="separadorBlanco"></div>
	    	</div>

	    	<div class="contenedorFiltroMiRecorridoServicio" ng-show="showFiltroServicio">
	    		<div ng-repeat="servicio in serviciosTuristicosMenu">
	    			<div class="separadorBlanco"></div>
	    			<p class="fuenteRoboto textoMenuFiltroBlanco" ng-class="{'textoMenuFiltroBlanco': !servicio.seleccionado, 'textoMenuFiltroServicioSeleccionado': servicio.seleccionado}" ng-click="mostrarServiciosTuristicos(servicio.id_tipo_servicio,$index)">{{servicio.nombre}}</p>
	    		</div>				
	    		<div class="separadorBlanco"></div>
	    	</div>
<!--
			<div class="contenedorBotonesRutaTipica">
				<img src="img/rutasTipicas/casa.png" alt=""     class="botonesRutaTipica" ng-click="mostrarFiltroServicios()">
				<div></div>
				<img src="img/rutasTipicas/division.png" alt="" class="botonesRutaTipica" ng-click="mostrarFiltroAtractivos()">
				<div></div>
				<img src="img/rutasTipicas/bandera.png" alt=""  class="botonesRutaTipica" ng-click="addHuella()">
			</div>

    		<div class="contenedorBotonRegistrarHuella">
    			<div class="descartarHuella" ng-click=""></div>
    			<div class="addHuella" ng-click="stopMiRecorrido()"></div>
    			<img class="btnDejaTuHuella" src="img/misRecorridos/stopMisRecorridos.png" alt="" usemap="#Map" />
    		</div>

    		<div class="contenedorBotonesRutaTipica" ng-show="showBotonFiltroAtractivo" style="margin-bottom: 10%;">
				<img src="img/rutasTipicas/division.png" alt="" class="botonesRutaTipica"  ng-click="mostrarFiltroAtractivos()">
			</div>

			<div class="contenedorBotonesRutaTipica" ng-show="showBotonFiltroServicio" style="margin-bottom: 10%;">
				<img src="img/rutasTipicas/casa.png" alt="" class="botonesRutaTipica" ng-click="mostrarFiltroServicios()">
			</div> 
-->
    	</div>
  	</ion-content>
</ion-modal-view>