<ion-view hide-nav-bar="true" class="loginBackground" cache-view="false">
  <ion-content class="">
    <!-- TEST SLIDER-->
    <ion-slide-box show-pager="true" on-slide-changed="slideHasChanged($index)" ng-hide="ocultarSlider">
          <ion-slide ng-style="estiloIonSlide">
            <div class="box blue sliderTutorialUno pager">
              
              <!--<img src="img/tutorial/1.jpg" alt="" class="logoAtacamaSlider">
              <div class="contenedorTextoSlider">
                <p class="fuenteKini textoSlider text-center" style="font-size:20px">DESCUBRE ATACAMA</p>
                <p class="fuenteKini textoSlider text-center" style="font-size:20px;margin-top: -9px;">COMO NUNCA ANTES!</p>
                <br><br>
              
              </div> -->


            </div>
          </ion-slide>
          
          <ion-slide ng-style="estiloIonSlide">
            <div class="box blue sliderTutorialDos pager">
              
              <!--<img src="img/tutorial/2.jpg" alt="" class="logoAtacamaSlider">
              <div class="contenedorTextoSlider">
                <p class="fuenteKini textoSlider text-center" style="font-size:16px">Una app que te recomienda:</p>
                <p class="fuenteKini textoSlider text-center" style="font-size:20px;margin-top: -9px;">ATRACTIVOS TURISTICOS</p>
                <br><br>
              
              </div> -->
              
            
            </div>
          </ion-slide>

          <ion-slide ng-style="estiloIonSlide">
            <div class="box blue sliderTutorialTres pager">       
              
            </div>
          </ion-slide>

          <ion-slide ng-style="estiloIonSlide">
            <div class="box blue sliderTutorialCuatro pager">       
              
            </div>
          </ion-slide>

          <ion-slide ng-style="estiloIonSlide">
            <div class="box blue sliderTutorialCinco pager">       
              
            </div>
          </ion-slide>

          <ion-slide ng-style="estiloIonSlide">
            <div class="box blue sliderTutorialSeis pager">
              
            </div>
          </ion-slide>

          <ion-slide ng-style="estiloIonSlide">
            <div class="box blue sliderTutorialSiete pager">       
              
            </div>
          </ion-slide>

          <ion-slide ng-style="estiloIonSlide">
            <div class="box blue sliderTutorialOcho pager">       
              
            </div>
          </ion-slide>

          <ion-slide ng-style="estiloIonSlide">
            <div class="box blue sliderTutorialNueve pager">       
              
            </div>
            <div class="contenedorTextoTutorial">
                <p ng-click="nuevoHome()" class="fuenteKini botonSaltar" >Ir a inicio</p>
            </div>
          </ion-slide>
          
          <!--<ion-slide ng-style="estiloIonSlide">
            <div class="box blue sliderTres pager">
              
              <img src="img/slider/atacamagoLogoSlider.png" alt="" class="logoAtacamaSlider">              
              <div class="contenedorTextoSlider">
                <p class="fuenteKini textoSlider text-center" style="font-size:20px">SERVICIOS, RUTAS.</p>
                <p class="fuenteKini textoSlider text-center" style="font-size:20px;margin-top: -9px;">EXPERIENCIAS Y MAS!</p>
                <br><br>
                <p ng-click="nuevoHome()" class="fuenteKini botonSaltar" >Ir a inicio</p>
              </div>

            </div>
          </ion-slide> -->

    </ion-slide-box>
  </ion-content>
</ion-view>
