<ion-modal-view class="modal_pantalla_completa">
  <ion-header-bar class="bar bar-header bar-stable">
      <h1 class="title"></h1>
      <button class="button button-clear button-primary" ng-click="cerrarModalVisorvideo()"><i class="equisMenuModalAzul" style="margin-right: 10px;color: black;"></i></button>
    </ion-header-bar>
  <ion-content class="padding" scroll="false">       


    <iframe id="video123" width="100%" height="100%"  ng-src="{{ videoUrl }}" frameborder="0" allowfullscreen controls></iframe>
          
  </ion-content>
</ion-modal-view>