<ion-modal-view class="modal_pantalla_completa">
  <ion-header-bar class="bar bar-header bar-stable">
      <h1 class="title"></h1>
      <button class="button button-clear button-primary" ng-click="cerrarModalVisorImagen()"><i class="equisMenuModalAzul" style="margin-right: 10px;color: black;"></i></button>
    </ion-header-bar>
  <ion-content class="padding" scroll="false">       
    <div class="col">				
		<div class = "row">
		  	<div class = "col">
		    	<img ng-click="compartirFacebook()" src="http://200.14.68.107/atacamaGoMultimedia/files/social/facebook.png" alt="" style="    position: relative;margin-left: 50%;">
			</div>
			<div class = "col">
		    	<img ng-click="compartirTwitter()" src="http://200.14.68.107/atacamaGoMultimedia/files/social/twitter.png" alt="" style="    position: relative;margin-left: 50%;">	
			</div>
		</div>		    	
	</div>
	
	<div ng-show="eliminarImagenVisor">
		<!--<i class="equisMenuModalAzul" style="margin-right: 10px;color: black;" ng-click="eliminarImagen(hola[$index+1],$index+1)"></i> -->
		<img ng-click="eliminarImagen(imgEliminar,indexEliminar)" src="img/rutasTipicas/eliminar.png" alt="" class="imgEliminarcomentario">
	</div>

  	<img ng-src="{{imgUrl}}"  style="margin-bottom: 10px;width: 100%;">   
    
          
  </ion-content>
</ion-modal-view>